[2017-03-22 21:47] dev-id opened #2 "Move Score Database Offline"
Currently the card score database used for bot pick orders uses a couchdb located online.  That couchdb is no longer being written to, so scores are currently static.  The database should be moved to a local json file.

Relevant code section:
https://github.com/dr4fters/dr4ft/blob/master/src/make/score.js#L5-L13

[2017-03-22 21:48] dev-id opened #3 "Create preset cubes"
Create a list of preset cubes such as the ones from MTGO and allow them to be easily loaded into the cube list.

[2017-03-23 14:07] dev-id opened #4 "Map Print Runs"
Sealed paper packs are not random.  The cards are packed according to "(print) Runs".  The runs are created to allow for a balanced drafting experience.  They ensure that each pack has a certain balance of colors and power.

You can see some detailed information in this video: https://youtu.be/LnCyHJUGg7k which uses this data: https://docs.google.com/spreadsheets/d/1AtO2LGrVxKqfhvZ01zwhBzkDj1XGRFO

[2017-04-23 05:17] tritoch opened #8 "Basic Lands not included in Foil Calculations"
Currently the foil insertion algorithm does not account for basic lands.

Basics also aren't assigned to the cards file, so if/when Basics are included, if they're actually inserted, they'll need to be put in cards.json by make/cards.js

[2017-04-23 14:53] tooomm opened #9 "github link on dr4ft.com wrong"
You correctly show the new repo name: `drafters/dr4ft`
But you link to the old one: `tritoch/dr4ft`

[2017-04-23 15:04] tritoch commented on #9
Fixed, thank you!

[2017-04-23 15:04] #9 closed

[2017-04-23 15:15] tooomm opened #10 "favicon in code is outdated"
See: https://github.com/dr4fters/dr4ft/blob/master/public/favicon.ico

[2017-04-23 15:24] tooomm opened #11 "smarter default file name for deck downloads"
Make the default deck name something like:
`gamemode_timestamp` or `date_localtimestamp_gamemode`, not sure if other informatin like playercount would be too helpful

So a filename could look like: `2017-04-23_17-21_sealed.txt` or `2017-04-23_draft_17-21.cod` (with the timestamp at the end)

The idea is get a useful filename which you don't have to change all the time, which isn't overwriting othe

[2017-05-05 08:14] tooomm opened #16 "constantly show pick timer as little overlay somewhere"
Something like the card preview for example.

You always need to scroll up to check the timer right now.

Happens several times now to me:
You mark a card for autopick while re-considering other cards. To skip to the next pack you still double click on the card selected for autopick. But since the timer went down and/or due to the server delay I end up immediately picking the next card at the same

[2017-05-05 12:04] tritoch commented on #16
Related: should you not be able to pick a card in the first couple seconds of a new pack? Would need to adjust the timers up again.

[2017-05-05 14:25] tooomm commented on #16
Interesting idea additionally... maybe not needed though.
Should also be very small - max 2-3s to actually refresh the page and start loading the new pictures?
Otherwise it get's annoying again for last packs where you literately just double click yourself through!

?
The case described above doesn't happen because i run out of time. If you have more time you use more time...

[2017-05-06 18:03] tooomm opened #18 "no beep for new pack on autopick"
At least if you selected a card for autopick before.
For random autopick I didn't check.

Update: Seems to not happen consistantly!?

[2017-05-07 16:06] tooomm opened #19 "Show progress in draft - pack and pick number"

[2017-05-07 16:38] tritoch commented on #19
Can you clarify?  Pick number is the inverse of cards left in pack (which is displayed above the pack).

[2017-05-12 20:47] tooomm commented on #19
Yeah... could be easier :)

We could start off with displaying the pack number here: (since we don't have this info at all!)
![packs](https://cloud.githubusercontent.com/assets/9874850/26016314/cec62ffc-3764-11e7-858b-a3fbb1eaabf8.png)

[2017-05-13 03:20] #8 closed

[2017-05-13 03:30] tritoch commented on #11
Fixed by https://github.com/dr4fters/dr4ft/commit/b848a15dce26fba26372ce1897674d43e5c81568

Default is now format-date-time.ext. Overrides cookie though.

[2017-05-13 03:30] #11 closed

[2017-05-14 16:04] tooomm opened #21 "remove bots and timer for sealed"
Not needed in `Sealed`:

![start_game](https://cloud.githubusercontent.com/assets/9874850/26035375/4ebc0508-38cb-11e7-8349-8a31fa162854.png)

[2017-05-14 22:06] #21 closed

[2017-05-15 13:58] tooomm opened #22 "format wrong info + pack info missing"
![](https://cloud.githubusercontent.com/assets/9874850/26035375/4ebc0508-38cb-11e7-8349-8a31fa162854.png)

`Format:` is actually "Packs", and format is missing at all.

Should be:
[code]

or
[code]
<br>

`chaos` just shows "CHAOS!" as format - but it should say "Chaos (only Modern)" or "Chaos (all Sets)"
Chaos should also have the actual pack info:
[code]

[2017-05-20 17:00] tooomm opened #23 "host: possibility to change seating"
A host should be able to swap the position of players before the draft starts (with little arrows for example).
This would allow for easier team drafts which have a fixed seating.
Also, when an external site/service requires a specific player order for example or there is any other reason you want to influence things (redo a draft with same order...) it would be nice to be more flexible.

[2017-06-08 21:01] dev-id opened #24 "Cube Sealed requires 720 cards"
Cube sealed requires a minimum cube list size, but the number of players in the event is unknown at the time of cube size verification.

[2017-06-08 21:02] dev-id opened #25 "Adjustable Cube Sealed Pool Size"
Currently cube sealed is set to 90 cards and is not adjustable. This should be adjustable.

[2017-06-26 07:14] tooomm opened #26 "fix smart deckname to show local time of user"
initial feature request: #11

This might be a help (a bit down the page)
https://www.epochconverter.com/

[2017-07-22 00:13] dev-id opened #27 "Hash cube list for draftcap"
Add cube list hash to draftcap for easier comparison.

Related to #3

[2017-07-29 13:31] Lim-Dul2 opened #28 "The letter "û" gets saved as "u". When you draft "Lim-Dûl's High Guard" it saves it as "Lim-Dul's High Guard""
The letter "û" gets saved as "u".

When you draft "Lim-Dûl's High Guard" it saves it as "Lim-Dul's High Guard".

This makes the art work not work properly in Cockatrice.

[2017-08-10 00:21] silasary opened #30 "Magic Origins is a core set, not an "other""

[2017-08-11 08:41] HerveH44 commented on #28
Hi,

In fact that's true for any cards containing a non-ascii letter.

The correction is easy to do, but need to check with developer why there's a control on names, when there are some cards with non-ascii letters (Lim-Dûl cards or Dandân for example).

[2017-08-12 12:08] HerveH44 commented on #18
It works for me. What browser do you use ? I am on Chromium Version 60.0.3112.78 (Debian 9.1, x86/64)

[2017-08-16 11:23] HerveH44 opened #34 "Draft Log"
Hi,

I've been trying to make a draft log from the app. I'll suggest a pull request, tell me if it's fine !

I tried, and it works with the site : http://magic.flooey.org
I contacted them, and they replied that my file is fine.

Let me know, what you think about it,

Herve

[2017-08-25 19:54] #30 closed

[2017-08-28 09:23] tooomm commented on #34
Do you have this change running on a site so that i can see it in action?

[2017-08-28 09:30] tooomm opened #37 "use mtgjson allset data + xml/json extensions as card input"
Instead only one allset.json data file.
Right now you have to combine and include all spoilers into the mtgjson data and create a new file with all data mixed.

I think it would be way better and cleaner to manage if we handle the mtgjson allset file and and any additional data (spoilers, other games, custom sets, ...) as separate files.
Allows to easily update without changing all data and recrea

[2017-08-28 11:35] HerveH44 commented on #34
Actually no, I'm trying to put it on Heroku but it's not that simple. I'll try in the next few days but I'm quite busy at the moment.

It's easier to create on your own computer, I don't know if you're familiar with it.

If you want, I could add some pictures and log files to give a bit of a hint.

[2017-09-02 10:12] tooomm opened #39 "MTGO import compatibility"
I'm wondering if dr4ft is compatible with the import functionality in MTGO?!
See: http://magic.wizards.com/en/articles/archive/importing-and-creating-decks
Is there any format you can download from the draft site working as an import there?

Why? Deck building practice and e.g. sealed preparation is just so much worse on the draft site or within Cockatrice...
Missing a simple kitchen table style b

[2017-09-05 10:48] tooomm opened #40 "piles for summarized cmc's are not labeled well"
Copied over from old repo: https://github.com/arxanas/drafts.ninja/issues/46

The pile should tell you that it's summarizing cards --> rename `6` to `6/6+` or `≥6` 👍

![cmc grouping](https://cloud.githubusercontent.com/assets/9874850/18992434/9ac77ae0-871e-11e6-966e-9c99a83096e3.png)

![cmc grouping2](https://cloud.githubusercontent.com/assets/9874850/18992432/999ce5f6-871e-11e6-84da-0ef15dfc6f94.

[2017-09-05 10:54] tooomm opened #41 "add game type "Team Limited""
Copied over from old repo: https://github.com/arxanas/drafts.ninja/issues/38

To get a `Team Draft` working it would require to change the seat order of joined people (admin only).
It would also allow to practice with friends etc. where you want to have a special seat order or something.

The last part with Team Drafting should be covered by https://github.com/dr4fters/dr4ft/issues/23 and it's fix

[2017-09-05 10:56] tooomm opened #42 "Inform users to change their name"
Copied over from old repo: https://github.com/arxanas/drafts.ninja/issues/33

[2017-09-05 11:06] tooomm opened #43 "more information about public rooms"
Copied over from old repo: https://github.com/arxanas/drafts.ninja/issues/40

[2017-09-05 11:13] tooomm opened #44 "add info about game type/packs to room"
Copied over from old repo: https://github.com/arxanas/drafts.ninja/issues/34

Could also be removed completely once the draft starts or when it finishes to get replaced by the lands box for example.

To stress, and further clarify this issue I'll attach two screenshots:
- view as `room creator`:
![host](https://user-images.githubusercontent.com/9874850/32980451-e0d758f0-cc66-11e7-9606-8e658c250b9f

[2017-09-05 13:57] tooomm opened #45 "hide picks during draft (paper draft simulation)"
- hide picks during draft
- review time in between packs

As option in comparison to mtgo like drafts with more time during picks, but without review time between packs.

This would allow for drafts like you're used to at your LGS at FNM or even big tournaments on international competitive level. Has to be an option for sure.

[2017-09-05 14:13] tooomm opened #46 "fallback for mana symobls (add a tooltip e.g.)"
The idea is taken from old repo and should serve as simple but productive fallback for problems with image loading for any reason: https://github.com/arxanas/drafts.ninja/issues/35

I guess a tooltip should display even if the picture isn't loading properly?

[2017-09-06 09:07] tooomm commented on #41
Same as you added 4 pack sealed (https://github.com/dr4fters/dr4ft/pull/12), can you please add at least 8 pack sealed for now to allow for 2HG Sealed **pool building practice** and **play with friends**? With Deck/Sideboard/Junk you can easily separate two decks + the rest of the cards. I know that it's not a perfect solution and you couldn't use it for a competetive game due to the missing hashe

[2017-09-06 14:45] tooomm commented on #34
Just tested it with a draft on the beta site. It works nicely and is a charm to use on that page.
Too bad it's just your data and not from all drafters.

This issue can be closed once you update your main site @dev-id ?

[2017-09-08 00:04] slevin8nine opened #47 "Three and Single Pack Sealed for Leagues"
dr4ft is awesome! I just wanted to see if you could add an option for sealed decks to where you could choose either three packs or single packs for Magic leagues. Thanks!

[2017-09-08 13:50] HerveH44 opened #48 "Dockerfile"
Hi,

At work, I'm working a lot with docker. Actually, I've been thinking of a way to deploy easily at home multiple instances of dr4ft to check the different versions. So I wrote a simple Dockerfile to help testing the results between multiple branches. It could be interesting to have it on the root directory (then it just needs to run "docker build URL_OF_GIT#BRANCH" to build the image locally.

[2017-09-08 20:09] tooomm commented on #47
linking #41

[2017-09-10 21:18] tooomm commented on #18
Couldn't reproduce anymore with either FF or Chrome.

[2017-09-10 21:18] #18 closed

[2017-09-15 12:20] tooomm opened #49 "Card search capability"
During deck building it would be very handy to have some kind of card search to check e.g. how many deserts you have or if your trial is supported by enough cartouches etc. without going trough all cards in your color.
Would also help with analyzing for specific keywords (like cycle) to evaluate if special archetypes are worth playing and much more.

Depending on how this is implemented and how po

[2017-09-17 23:06] JineteDV opened #50 "River Heralds' Boon misspelled"
'River Heralds' Boon' is correct, 'River Herald's Boon' is what I got when I downloaded a draft deck.

[2017-09-18 15:32] dev-id commented on #50
Thank you, appears this error comes from our Scryfall data source, I have reported it and am waiting a fix: https://github.com/scryfall/feedback/issues/389

[2017-09-18 19:22] slevin8nine commented on #47
You start off with three packs to build a sealed deck and every week you open another pack to add to your deck. https://magic.wizards.com/en/event-types/magic-league

[2017-09-18 20:48] tooomm commented on #50
Fixed on scryfall and in newest https://github.com/Cockatrice/Magic-Spoiler/blob/files/spoiler.xml now.

[2017-09-18 21:16] #50 closed

[2017-09-18 21:24] tooomm commented on #47
Interesting.
So we would need sealed for `1 Pack `, `3 Pack`, `4 Pack`, `6 Pack`, `8 Pack` and `12 Pack` to cover all possible game modes... 🙈

[2017-09-18 23:20] slevin8nine commented on #47
Nope! Just 1 and 3 because you build upon initial 3 packs every week. The
one pack would be exported and added to the deck in cockatrice (or at least
the cards desired). It's designed for the same group of people playing with
their decks and improving them over the course of 4 weeks. The one pack
function is just to allow for a random assortment of cards to be given out
when needed.

On Mon, Sep 1

[2017-09-19 02:11] hrefrossi opened #51 "Xln Database and draft time setting"
hi there
i set a local host of dr4fer, but i can not find the latest release XLN data, how could i get it .
another question how could i change the time setting of draft. i want double the time for it .

thank you very much

[2017-09-19 10:51] tooomm commented on #51
You have 4 different time settings available. If the slowest `Leisurely` still isn't enough you have to change the code. Check the pull requests that last changed them here in the repo to find out where to look in the code.

For including XLN cards you need to provide a `allsets.json` file (with XLN already included), there is no support yet for different single databases: https://github.com/dr4ft

[2017-09-19 11:28] hrefrossi commented on #51
thank you tom very helpful

获取 Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: tooomm <notifications@github.com>
Sent: Tuesday, September 19, 2017 6:51:13 PM
To: dr4fters/dr4ft
Cc: hrefrossi; Author
Subject: Re: [dr4fters/dr4ft] Xln Database and draft time setting (#51)

You have 4 different time settings available. If the slowest Leisurely still isn't enough you have

[2017-09-19 15:50] tooomm opened #52 "add related card pictures (dfc)"
I highly like to see the back sites of Double-Faced-Cards in the preview window!

Otherwise you have no way to know about the back site in draft or during building of limited pools.
So this information is very critical, especially for new sets or cubes with older or less common cards.

It could look like this:
- normal DFC (transform, flip)
![dr4ft_dfc](https://user-images.githubusercontent.com/98

[2017-09-20 07:27] #51 closed

[2017-09-21 09:17] tooomm commented on #28
This could be a character encoding issue.
Our source for the allsets.json file - https://mtgjson.com/ - stated on their website that "All files are UTF8 encoded."

[2017-09-21 09:37] tooomm opened #53 "notifications for hidden chat window"
Copied over from old old repo: https://github.com/aeosynth/draft/issues/131

You need as much space as possible for a nice building experience, so I end up hiding the chat... but also missing many (some important) messages!

More modern and interactive Web Notifications are also a viable consideration.

[2017-09-21 09:50] tooomm opened #54 "Allow clicking anywhere in the chat window to select the chat box"
Copied over from https://github.com/arxanas/drafts.ninja/issues/31, originally opened by @arxanas

Addition:
Since we don't support any kind of hotkeys in the interface of the page (there could actually be one to show/hide the chat for example!) normal text input could always go to the chat by default if possible.
(Or any other text field if actively selected, with fallback to chat again if clicke

[2017-09-21 10:05] tooomm opened #55 ""suggest lands" not working"
Copied over from old repo: https://github.com/arxanas/drafts.ninja/issues/37
Check there for former discussion and questions.

Retested today with both Chrome and Firefox on dr4ft.com (Running Version 54e7908).
Same problem still persists for me.

[2017-09-28 10:33] tooomm opened #59 "visually separate card piles"
Right now it's more of a single carpet of cards instead several piles:
![card piles](https://user-images.githubusercontent.com/9874850/30914078-a2ae1eee-a392-11e7-879a-f1b92b601976.png)

Adding very few pixel space in between each would be nice.

[2017-10-19 13:17] tooomm opened #63 "hide "Download Draft Log" button for any non-draft games"
If you play a sealed game you get this:
![draft log](https://user-images.githubusercontent.com/9874850/31772321-99b064c4-b4df-11e7-8878-1f16ae611734.png)

The option should only be available for:
- `Draft`
- `Cube Draft`
- `Chaos Draft`

Maybe even don't collect data at all to not slow things down for no reason.

[2017-10-26 14:03] tooomm opened #64 "Custom pack counts for draft and sealed"
**Draft**
- [ ] 4 Pack Draft - Needed for [dino-sized Drafts](https://magic.wizards.com/en/articles/archive/news/announcing-dino-sized-weekend-and-ixalan-mid-season-league-2017-09-18)
- [ ] 6 Pack Draft - Needed for [Two Headed Giant Draft](https://blogs.magicjudges.org/2hg/faq/) (we would need to be able to pick two cards out of each pack to support that official format)

**Sealed**
- [ ] 1 Pack

[2017-11-05 12:42] tooomm opened #65 "disable instant autopick for last card in pack"
Let people pick the last card instead auto-adding it immediately.
Mostly it's a card that you rather put into your sideboard or junk.
Right now you have to search for it in between your other playables in main to move it again all the time.

[2017-11-05 12:47] tooomm opened #66 "setup Heroku Review Apps"
It's a pretty fancy and useful tool to check changes within PR's live!
We should be all good with just the free plan, and it seamlessly integrates with GitHub.

Announcement in blog: https://blog.heroku.com/heroku-review-apps-ga
Documentation: https://devcenter.heroku.com/articles/github-integration-review-apps

Other (hopefully helpful) links:
https://github.com/infusionsoft/heroku-review-app-gui

[2017-11-06 12:51] HerveH44 commented on #66
Hey,

From my point of vue, right now our app runs through a Make command, and not directly through NodeJs. I think we need to focus on putting all the make commands inside NodeJs package.json as scripts and then have the app runs through simple "npm start", because that's a requisite from Heroku Apps.

For example, all the links created, the big AllSets JSON download, should be done through new s

[2017-11-10 20:19] trsbox opened #67 "Clean install issue"
Hello, I am getting this:

 sudo make run
npm install
npm WARN deprecated minimatch@2.0.10: Please update to minimatch 3.0.2 or higher to avoid a RegExp DoS issue
npm ERR! code 128
npm ERR! Command failed: /usr/bin/git clone --depth=1 -q -b master git://github.com/arxanas/utils.git /root/.npm/_cacache/tmp/git-clone-47a3b3c7
npm ERR! fatal: could not create leading directories of '/root/.npm/_cacac

[2017-11-10 20:25] HerveH44 commented on #67
Hi,

What operating system do you run ? Windows/Linux/OSX ? It seems that it can't create a directory.

I don't know the solution though... @dev-id what do you think?

[2017-11-11 19:35] trsbox commented on #67
Debian.  running as sudo

[2017-11-12 10:03] HerveH44 commented on #67
Ok, and if you try without sudo ?

PS: can you close the issue is everything is fine :) ?

Thank you

[2017-11-12 10:05] HerveH44 commented on #66
Just for information,

it's super simple to set review apps, and it works fine. I just tried it with my branch refactor_frontend.

@dev-id Would you like to create an account on Heroku ?

[2017-11-12 10:05] HerveH44 commented on #63
I set it up on y refactor_frontend

[2017-11-12 12:55] tooomm commented on #63
@HerveH44 just had a look at your updated heroku app again:

It's correctly hidden on `sealed` and `cubesealed`.
And correctly displayed on `draft`, `cube draft`.

But it's hidden on false in `chaos`. Which is draft as well!

[2017-11-12 13:37] tooomm opened #68 "no `chaos sealed` game mode"
Would allow for epic fun events like this:
https://www.reddit.com/r/magicTCG/comments/5098lt/grand_prix_portland_36pack_chaos_sealed/

Or just any ordinary 6 pack chaos sealed...

---

Also, the `chaos` game mode we have right now should be named `chaos draft`

[2017-11-15 15:28] tooomm commented on #63
Addition:

The `Add picks to sideboard` and `Beep on new packs` options are also not needed for all non-draft **Sealed** game options.

[2017-11-15 15:52] HerveH44 commented on #63
Hey,

Indeed, the `beep on new packs` doesn't make much sense.

On the other hand, the `add picks to sideboard` is very usefull also for Sealed. This is typically how I create my sealed, starting with sideboard and adding to the main cards. I'd prefer to keep it

[2017-11-15 16:28] tooomm commented on #63
I wasn't aware it works like that for sealed.
The wording doesn't clearly imply this behavior. :D
Interesting though, that sounds useful!

(A rename or some other tweak for the `sideboard` option is still possible later)

[2017-11-17 21:09] tooomm opened #69 "Reference: other draft sites/sealed generators"
This is just a list of similar services to keep track of them:
- http://draftsim.com/
- http://www.magicdrafting.com/
- http://mtgen.net/
- http://sealedmagic.se/
- http://tappedout.net/mtg-draft-simulator/ or http://tappedout.net/mtg-cube-drafts/
- http://draft.bestiaire.org/

Custom sets:
- http://www.planesculptors.net/

[2017-11-18 12:36] tooomm commented on #34
The main site is updated in between. This can be closed.

[2017-11-20 15:42] tooomm opened #70 "Cleanup + transition issues from old repos"
There is a lot of outdated and already fixed stuff hanging around at the former repositories.

I think if we clean them up and transition useful requests over to this one, everyone can benefit and we lower possible confusion for hosts and users.

I reopened (copied) already several of mine old requests and closed them in the old places.
Here are the ones we can still deal with...

Open Issues and

[2018-01-02 15:20] #52 closed

[2018-01-02 15:32] #19 closed

[2018-01-02 15:36] #34 closed

[2018-01-02 16:46] dev-id commented on #42
Not sure if this is desirable, maybe lump this in with a future login system

[2018-01-02 16:48] dev-id opened #74 "Create set list file on-the-fly"
Currently the public/src/data.js file is manually curated. It should be generated automatically from data/sets.json

This will save one step when adding a set

Will need to bring in set type to set file

[2018-01-02 16:48] dev-id commented on #39
We'd need someone to test this isn't working (.txt is an export option), I do not currently have MTGO installed.

[2018-01-03 02:27] ZeldaZach commented on #42
It's a good idea, but not worth the implementation right now. I suggest making an easier way for users to know to change their name (maybe a header appears saying to change it / how to change it)

[2018-01-03 14:23] tooomm opened #75 "move "sets to ignore" into a const at top"
from https://github.com/dr4fters/dr4ft/pull/73#issuecomment-354925659

[2018-01-03 14:38] tooomm opened #76 "install instructions incomplete"
In order to install the app (before make run), one needs to launch make 'install'

See https://github.com/dr4fters/dr4ft/pull/60#issuecomment-333047546

[2018-01-03 15:00] tooomm opened #77 "display special cards better"
Since https://github.com/dr4fters/dr4ft/pull/62 DFC's (`transform`) now display both sides in the preview and switch to the back side on hovering during picking as requested in https://github.com/dr4fters/dr4ft/issues/52. 👍

However there are other special cards which are not covered yet
- [ ] Implement `meld` cards too, and show their combined back side next to each front side in the preview
Gath

[2018-01-03 15:06] tooomm commented on #66
Not useful yet. But first bits got merged, want to outline that here for reference: https://github.com/dr4fters/dr4ft/pull/29/commits/42da6573fab681db76c3c003547192002d1f55bd

[2018-01-03 18:14] tooomm opened #79 "missing separator dots in firefox"
![missing_dots](https://user-images.githubusercontent.com/9874850/34533331-16cb200a-f0ba-11e7-98e5-061dc49f15cf.png)

Left: Hosting the game, Firefox 57
Right: Joined the game, Chromium 65

Once the draft starts, in the `draft` zone the dot is displayed for both.
It's only the other zones missing them, and only with Firefox.

`Main 0` vs. `Main • 0`

On iOS there is the same problem and no *dots*

[2018-01-03 18:24] tooomm commented on #23
https://github.com/dr4fters/dr4ft/pull/33 adds initial support for this 👍

Some issues still stand with that implementation:
1) >What I miss there is, that once a host start swapping people around with the arrow buttons, shuffle should get automatically checked and disabled to make sure his preferred seating order isn't mixed up again!
2) >Regarding the swapping buttons itself:
Since you can't cyc

[2018-01-03 18:52] tooomm commented on #2
This is addressed in https://github.com/dr4fters/dr4ft/pull/71 👍

[2018-01-07 22:00] #59 closed

[2018-01-08 12:53] tooomm opened #80 "visually separate card piles (2)"
While reported in #59 (and fixed in #78) the fix as well as the initial report only focused on *column view* in main+side.

But the same problem is true for
- draft view
![draft](https://user-images.githubusercontent.com/9874850/34671475-169bd812-f47b-11e7-9f4f-fa3fbf9d0fd2.png)

- main+side (non column-view!)
![main side](https://user-images.githubusercontent.com/9874850/34671490-26b632a6-f47b-11

[2018-01-10 15:29] tooomm opened #81 "counting picks is the wrong way"
It start counting now as:
`Pack 1 • Pick 14/14` and goes on with
`Pack 1 • Pick 13/14`
`Pack 1 • Pick 12/14`
So it actually counts down from packsize to 1.

But since you start your draft with a firstpick (`Pick 1`), not a `Pick 15`, it should be:
`Pack 1 • Pick 1/14`
`Pack 1 • Pick 2/14`
`Pack 1 • Pick 3/14`

introduced in https://github.com/dr4fters/dr4ft/pull/29

[2018-01-24 18:56] #67 closed

[2018-02-01 17:48] tooomm commented on #47
Closing in favor of combined issue for general request --> https://github.com/dr4fters/dr4ft/issues/64

[2018-02-01 17:48] #47 closed

[2018-02-01 17:48] tooomm commented on #41
Closing in favor of combined issue for general request --> https://github.com/dr4fters/dr4ft/issues/64

[2018-02-01 17:48] #41 closed

[2018-02-01 17:49] #2 closed

[2018-02-01 17:56] tooomm commented on #81
With https://github.com/dr4fters/dr4ft/pull/84 this gets changed again.

It'll be `Pack 1 • Pick 1/14 Cards` then.
Counting would be correct, but it has the term "Cards" added at the end.

[2018-02-01 20:54] tooomm opened #85 "Remove and address "TODO" hints in code"
There are several comments and hints hidden in the code with open tasks

[2018-02-03 11:11] tooomm opened #86 "cmc of split+aftermath cards are wrong"
![split_cmc](https://user-images.githubusercontent.com/9874850/35766555-f5e46ef8-08da-11e8-8acf-04ce5553a161.png)

They always have the cmc of the first half - they should have the combined cmc of both halves.

There has been a rules change regarding that with Amonkhet:
https://magic.wizards.com/en/articles/archive/news/amonkhet-split-card-rules-changes-2017-04-04

mtgjson has each side as single

[2018-02-12 18:11] HerveH44 commented on #24
Hey @dev-id ,

I don't get exactly what you would like to do ? You would calculate the number of cards based on the max players? Like numPlayers * Packs * CardsPerPack?

[2018-02-12 18:14] HerveH44 commented on #3
Hey @dev-id ,

Do you think of users uploading cubes or administrators uploading it? Because I guess it can't be something easily done by users (for security I guess), but for administrators we could add a directory of "cube lists" and have a combo list in the lobby to select the one we want to use.

[2018-02-12 18:39] ZeldaZach commented on #3
My idea was to allow users to upload, store them in a safe location, then an admin can approve them. We will only accept a text list that will go through a linter before upload to ensure no malware

[2018-02-12 19:07] HerveH44 commented on #37
Hi @tooomm ,

How do you imagine updating the "cards.json" ? When we would add a new XXX.json file (spoilers of next season for example) then we would launch "npm run updateCardsDB" or something like this to update the "cards.js" ?

But how do you clean the cards.js from all the previous sets or spoilers unwanted? It seems a bit hard?

@dev-id it would be crazy to imagine using a real DB ? I don't

[2018-02-12 19:12] HerveH44 commented on #3
But there are no real users in the app. Everything is actually in the LocalStorage, we don't save anything serverside. I think it would be a great feature but I guess it requires a DB and some user management features.

Unless you have an idea how to manage pseudobased users on a DBless server?

[2018-02-12 20:09] HerveH44 commented on #42
We actually don't have any easy way to create modals, maybe we could choose some library using components pre-made (for example modals). I ony used bootstrap a long time ago, maybe there's something new. Could be interesting to investigate a bit?

[2018-02-14 03:22] silasary opened #87 "API to allow 3rd-party to create a draft table, and get decklists at the end of the draft"
I've been asked about adding limited support to https://github.com/PennyDreadfulMTG/gatherling/, but I would much rather be able to use Dr4ft as the backing for such a feature, rather than re-implementing my own draft simulator.

[2018-02-15 17:54] HerveH44 commented on #87
Hi,

It seems super interesting. In order to clarify what you would need, I'd like to know what kind of games you would like to create, a draft of the last sets for example? Any sealed, cube, chaos or other mods?

As a quick guess, the parameters for the creation of a draft, we would need at least these informations, for example on a post of our endpoint :
title[string],
seats[int],
type[enum:"dra

[2018-02-19 19:07] #22 closed

[2018-02-19 19:07] #23 closed

[2018-02-19 19:07] #43 closed

[2018-02-19 19:07] #48 closed

[2018-02-19 19:07] #55 closed

[2018-02-19 19:07] #63 closed

[2018-02-19 19:07] #75 closed

[2018-02-19 19:07] #76 closed

[2018-02-19 19:07] #79 closed

[2018-02-19 19:07] #81 closed

[2018-02-19 19:07] #86 closed

[2018-02-20 02:43] silasary commented on #87
How I'd expect it to work:

# POST /api/create
_Intent:  Create a draft room_

Takes in draft parameters, as form-encoded and/or JSON.  For now, let's assume that the consumer knows all the needed values, and doesn't need any special helper stuff.

For my purposes, the settings for "Bots", "Timer", and "Random Seating" are also parameters that should be passed in here.  They should not be configur

[2018-02-21 15:13] tooomm opened #92 "Short feedback to new dr4ft.info (with new refactored code)"
- Game config screen misses some linebreaks:
![draft-game_infos](https://user-images.githubusercontent.com/9874850/36487446-2f985714-1721-11e8-8c09-bb7c53c8a66b.png)

- Same with in-game info (left):
![draft-in_game](https://user-images.githubusercontent.com/9874850/36487456-354a9b36-1721-11e8-8abf-44bd0696426b.png)
`main` is misaligned (middle)
and the sort options could see an additional paragra

[2018-02-21 15:26] HerveH44 commented on #92
Hey @tooomm,

Thanks for your feedback. My bad, I only test using Chrome. I'll check that ASAP.

Herve

[2018-02-21 20:16] #92 closed

[2018-02-24 12:13] HerveH44 commented on #87
Hi @silasary ,

Thanks for your very precise api request. I was inspired by your work to establish a more "restful" api in my opinion which also doesn't break our current configuration.

So this is the api i'm currently working on :

# Create game
_Intent: Create a draft room_
Method: POST
Path: /api/games

Takes in draft parameters, as  **JSON**, all of the following parameters are expected in th

[2018-02-24 19:49] ZeldaZach commented on #87
@HerveH44
Start Game: We should return more then successfully started. Include # of bots added and the timer speed maybe?

Get decklist: the "score" param is something internal to dr4ft and our bots, and I'd rather not share that information at this time via an API.

[2018-02-25 18:33] HerveH44 commented on #87
@ZeldaZach Ok. Now the start Game also shows the number of bots. The pool only show the cards' name and nothing else.

[2018-02-25 19:14] #80 closed

[2018-02-26 00:48] silasary commented on #87
Cardname is all I'd need anyway - The rest I'd want to be pulling from my own DB anyway.

API looks good 👍

[2018-02-26 04:29] ZeldaZach commented on #87
Sounds good to me then @HerveH44. Returning a list of the cards drafted via name is acceptable. it''s not our job to include card meta data

[2018-02-27 13:49] HerveH44 commented on #66
Fixed with commit : 031f8343b18d229a879f8dd6d9f44c8b1bf6d1b9

[2018-02-27 13:49] #66 closed

[2018-02-27 14:30] #46 closed

[2018-02-27 15:36] HerveH44 commented on #44
Fixed with PR #84

[2018-02-27 15:36] #44 closed

[2018-03-01 13:30] HerveH44 commented on #87
Hi @silasary ,

if you have some time, could you review the API too in our deploy base here : https://beta-dr4ft-pr-96.herokuapp.com/ and tell me if you find any problem? We will modify the PR in consequences :) !

Thanks,

Hervé

[2018-03-02 08:06] HerveH44 commented on #37
Hi,

I'm currently working on adding a MongoDB database to the project. Doing so, I plan to simplify creation and addition of new or custom sets. There will be few commands to integrate a set to the current database.
I try to figure out if I shouldkeep the structurae of sets.json and cards.json, in terms of "document" which are tightly linked with the business logic. I was thinking of simple docum

[2018-03-02 09:43] HerveH44 opened #99 "Simplify configurations override"
Use config.js in src directory that will merge default configs with particular config file

[2018-03-04 01:16] trsbox opened #100 "Loading webpage..."
Did the at latest gitpull and build with now errors and going to webpage just says "loading webpage". Any ideas?   Debian linux.

Trsbox.net:1337

[2018-03-04 16:51] trsbox commented on #100
With **no errors.

[2018-03-05 03:29] dev-id commented on #87
Thank you for your work on this Hervé.

I did a quick test of the functions on the beta.

The `create` request is not requiring the "sets" or "list" which allows creation of invalid / unstartable games. I'm not sure how to pass the cube list, as `cube` is bool and adding a `list` returns `"cube.list must be a string"` even when it is.

I'm not able to get `deck` to work, using:
`curl --request GET

[2018-03-05 08:47] HerveH44 commented on #100
Hi @trsbox,

If I understand you had a previous install of dr4ft and you manually upgraded it, via **git pull**. I think this could come from the configs which may be too old.

I would suggest that you **do a backup of both config.*.js, which are config.client.js and config.server.js**, then run **node scripts/postinstall** from the root directory. Then the app should work.

You may need then to r

[2018-03-08 20:35] HerveH44 commented on #87
Hi @dev-id ,

I just pushed a fix, the problem was that the bots didn't have any card.

Thanks for your feedback!

Hervé

[2018-03-11 01:06] trsbox commented on #100
Tried what you said but still getting "loading webpage"

[2018-03-11 08:34] HerveH44 commented on #100
Okay, can you show what the console of your browser tells ?

Before running the server, could you execute ```npm run postinstall``` ?

[2018-03-11 18:15] trsbox commented on #100
After running that command it works...

[2018-03-12 02:30] ZeldaZach commented on #100
Glad you figured this out!

[2018-03-12 02:30] #100 closed

[2018-03-15 18:36] tooomm opened #103 "incomplete room infos for chaos drafts"
For `total chaos` or `modern only` chaos drafts, there are no informations about this special modes displayed:
![incomplete infos in room](https://user-images.githubusercontent.com/9874850/37483295-33daaf54-2886-11e8-8638-9200d2edd428.png)
Users don't have any confirmation about what they are going to play.
I suggest to add it in brackets, like `Type: chaos (Only Modern Sets, Total Chaos)`.

About

[2018-03-15 18:52] tooomm opened #104 "loading hint improvements"
While https://github.com/dr4fters/dr4ft/commit/394ad998a81a929f7b3656eb90ddb40678560517 added a little loading info, that doesn't help too much.

A user with script blocking enabled will still wonder why it's not loading. :)
![loading](https://user-images.githubusercontent.com/9874850/37484549-246c6cc6-2889-11e8-867e-0ee60d85da96.png)

I thought more of something like this:
![javascript hint](http

[2018-03-15 19:42] tooomm opened #105 "bug: can't hit "Start game" on iPad"
It's simply impossible to start a game on a tablet.

I can open a room on dr4ft.info, but can't hit the start button.
Also, the up and down arrows to move people around are flashing and the size of all `Players` box constantly changes its size slighly.

I'm not sure, but I thought I used the dr4ft.info page with my iPad already...

Any ideas @HerveH44?

dr4ft.com works, and no flashing there.

[2018-03-15 20:06] tooomm opened #106 "move/include dependencies from old repos?"
In https://github.com/dr4fters/dr4ft/commit/775e20c Zach added some dependencies:

https://github.com/dr4fters/dr4ft/blob/master/package.json#L36
https://github.com/dr4fters/dr4ft/blob/master/package.json#L46

Wouldn't it be plausible to migrate or fork them to the dr4fters organization as well if we still rely on them?

[2018-03-18 09:37] tooomm opened #107 "problem with dfc's"
The back sides are not loading.
Experienced this with "Azor's Gateway" and "Journey to Eternity" on draft.info, both from RIX. But also "Legion's Landing" from XLN.

It looks like the back side of the card is treated as a card on their own, I randomly opened the back side of Journey, too:
![front](https://user-images.githubusercontent.com/9874850/37564507-b982e320-2a97-11e8-8de4-f1e44134f7d8.png)

[2018-03-18 13:18] tooomm commented on #64
I want to note here, that we talked in Gitter about this some time ago.
@dev-id came up with something like this to add/remove packs and support all custom quantities:

[code]

[2018-03-19 08:58] Rendroc opened #108 "freeze and slow refresh"
site freezes nonstop and is slow to reload

[2018-03-19 09:20] HerveH44 commented on #108
Hi,
Can you be a bit more explicit in your feedback?

Which site are you talking about? What is the URL you're connecting?

Hervé

[2018-03-19 11:36] Rendroc commented on #108
The site I used was dr4ft.com. I'm not sure if I've tested it on dr4ft.info.

So the site freezes, and I can notice it sometimes by the draft clock
numbers stop counting down, so I have to refresh the page or I can't select
a card to draft. Sometimes the refresh time is very long though so I miss
picks. I know this happens to other people because I've heard other
complaints. This has been an issue

[2018-03-19 11:48] HerveH44 commented on #108
Ok, thanks for your feeback .

What browser are you using, and which version? It could be also interesting to know the OS if possible.

It could be linked to the Websocket connection between your browser and the server. Recently I found out that we are using a fallback of WebSocket on dr4ft.com, surely because the webserver didn't accept Websockets.

Dr4ft.info is not production-ready, but you can

[2018-03-19 11:51] Rendroc commented on #108
I use Safari because it doesn't work on Chrome when I've tried. My OS is
MacOS High Sierra 10.13.2.

On Mon, Mar 19, 2018 at 6:48 PM Hervé Huneau <notifications@github.com>
wrote:

--
Hugo Frank
hugocfrank@gmail.com
845-853-3777

[2018-03-23 09:50] HerveH44 commented on #107
Hi,
Sorry to be late. It seems to be an error of mtgjson explained [here](https://github.com/mtgjson/mtgjson/issues/548). It seems that for several reasons the mtgjson don't update uniformely the data from different sets. So DFC cards from different sets are now impossible to recognize, which is exactly what happens to the new sets...

So actually I'm hoping that they are going to find a common ru

[2018-03-23 09:53] HerveH44 commented on #106
yeah that's a really good idea.

I'm currently working, or exercising more or less on react-redux to organize the code better. I found out that these projects already have maintained and better implementations (like lodash for exemple) to handle the same things.

I'll see in a bit if I can merge things in this repo.

[2018-03-25 14:30] tooomm commented on #42
A popup asking for your nick if you join a game room with the default nick... hmm, why not.

A login system seems to be totally overkill and makes things a lot more complicated.

[2018-04-13 03:25] mythicrar opened #113 "Any idea when DOM will be up?"

[2018-04-15 03:09] Kithas48 opened #114 "team sealed/2hg pools"
Would it be possible to enable 12 pack sealed pools for practicing these formats?

[2018-04-15 13:53] tooomm commented on #114
See https://github.com/dr4fters/dr4ft/issues/64

[2018-04-20 19:33] anoda9 opened #116 "Pop-up prompt asking for player name"
When you join a draft or sealed room and your name is not set, there should be pop-up window prompting you to set your name. If that is too disruptive (or too likely to be blocked by people's adblockers), there should be some other reminder to set your username - big colored text saying "set your name in the chat", etc.

There just needs to be some more obvious prompt for users to set their names.

[2018-04-21 06:08] SonictheBrushwagg opened #117 "dr4ft wont load/start"
Been having issues with loading dr4ft on both Chrome and Firefox; sometimes the page is just blank, and when I do get to create a room I have trouble launching since the start game button won't do anything.

[2018-04-21 10:09] ZeldaZach commented on #116
I have no issues with the chat /name funct, but the clicking / editing was really nice and shouldn't have been removed

[2018-05-15 01:31] bioknight55 opened #118 "Dominaria packs do not include guarenteed legendary creature"
Packs of Dominaria do not include the gaurenteed legendary creature per pack.

http://markrosewater.tumblr.com/post/172581930278/do-the-legendaries-that-appear-in-the-legendary

As seen in the link above there isnt a legendary creature slot per say. One of the commons, uncommons, rare, or mythic slots are meant to be a legendary creatures.

This can weaken the blue/white, black/white, and white/bl

[2018-06-30 16:43] hitz opened #119 "M19 dual land in packs"
Hey,. what heuristic are you using for M19 "common" duals?   It should be in pool.js but it's not been pushed for a while

[2018-08-05 17:53] impromptuu opened #120 "Missing Battlebond BBD for use with cube"
Unable to start a room with a cube list with two BBD cards.

[2018-08-05 23:38] pj123123 opened #121 "please remove invocation art if possible"
this is more of a request than a problem. the invocation art is really hard to read. also it might be nice to just remove all of the masterpiece art if possible.

[2018-08-06 09:55] HerveH44 commented on #120
Hi,
As a matter of fact, our card database mostly depends on MTGJSON work. It may be better to post an issue over there. As soon as the cards are in the Allsets.json it should solve itself!

Hervé

[2018-08-06 09:56] HerveH44 commented on #121
Hi,

What do you mean by invocation art? Would you prefer to have past image art for the masterpieces?

[2018-08-06 16:26] impromptuu commented on #120
As far as I'm aware, BBD has been on mtgjson since June, 2 2018.

[2018-08-06 16:58] HerveH44 commented on #120
Ok, so it should be the maintainer of the website that should take care of the update of the cards. What site do you use?

[2018-08-06 17:54] tooomm opened #122 "m19 has wrong name"
Core Set 2019 > Magic 2019

[2018-08-06 17:55] tooomm commented on #120
Can you tell if the same problem exist with Commander sets? @impromptuu

[2018-08-06 18:20] pj123123 commented on #121
Yes, that is my preference and perhaps the preference of other. The Amonkhet Invocations is the name for the AHK and HOU lottery cards with the hieroglyph-esque font. Those cards are the hardest to read. So if you could program in the older more legible art that would be helpful. Cards like Opposition for example have the new art. But i would rather not see any masterpiece art. Thanks for your res

[2018-08-08 09:40] tooomm commented on #121
I think using the same art that shows up in real boosters is the most expected and most convenient way of handling it.
Probably that's the preference of most users, too. Newer players would likely be completely confused by the old art of some cards...

At best there could be an option - once such sets are involved - to disable the special art for all people in that draft, or on your site only if p

[2018-08-08 09:44] HerveH44 commented on #121
@tooomm where should such option be in your point of view? Personnally, I would just disable the images from invocation when you cube, but keep them when you found them in the sets that have invocations... We don't have that kind of possibility I think from our setup unfortunately. I think I could check how to just delete the URL from invocations. They are in separated sets if I remember correctly

[2018-08-08 09:53] #104 closed

[2018-08-08 16:12] tooomm commented on #120
@impromptuu can you try if your cube with BBD cards works for you on this test page?
https://beta-dr4ft-pr-130.herokuapp.com/

[2018-08-08 21:11] pj123123 commented on #121
I agree, it wouldnt make sense to see the urza's destiny card art and frame pop up in an AKH draft for Opposition. I wonder however how often AKH/HOU will be drafted in the future and if anyone drafting it would be a new player likely to get confused. It seems the upside of deleting invocations is high. No one likes them and they are hard to read. Also, there are cards like Hazoret that have a non

[2018-08-08 21:17] pj123123 commented on #121
And ya, my preference is largely influenced by their presence in Cube Draft, which is very popular, and likely to be far more popular than drafting BFZ or KLD or AKH. I think this should be a consideration when moving forward since lottery cards are probably a thing of the past, and since most users prefer the more legible and familiar art of non masterpiece cards.

[2018-08-09 07:29] #117 closed

[2018-08-09 07:31] tooomm commented on #105
@HerveH44 Could this be related to the false refreshing you mentioned in Gitter yesterday?

[2018-08-09 07:56] tooomm commented on #121
@pj123123 can you test again here: https://beta-dr4ft-pr-136.herokuapp.com/

[2018-08-09 08:58] tooomm commented on #120
It looks like there is a problem indeed @HerveH44

If you take [this cube](http://www.cubetutor.com/viewcube/5936) it'll work just fine.
But when you replace one card with a BBD card like [`Archfiend of Despair`](https://scryfall.com/card/bbd/44/archfiend-of-despair) it'll give you an error:

`invalid cards: archfiend of despair`

[2018-08-09 09:42] pj123123 commented on #121
I tested the vintage cube and it looks great! No masterpieces really looks good in that context.  I haven't drafted AKH in a while so i was just going off Hazoret always appearing as an invocation in cube. Thanks for your guys attention to this request.

[2018-08-09 09:46] tooomm commented on #121
So cubes are fixed with https://github.com/dr4fters/dr4ft/pull/136 and don't show masterpiece arts anymore.

I'm still wondering about their wanted/expected appearance in BFZ/AKH/HOU... (without & with #136)

[2018-08-09 10:07] #119 closed

[2018-08-09 10:07] #122 closed

[2018-08-09 19:29] HerveH44 commented on #120
@impromptuu you can test there : https://beta-dr4ft-pr-138.herokuapp.com/ with your cube list?

[2018-08-09 20:37] impromptuu commented on #120
@HerveH44 My cube list works for the link provided.

@tooomm I've found no issues with commander sets with a little testing.  Only the battlebond set.

[2018-08-09 20:39] impromptuu commented on #120
@HerveH44 As for drafting, it should probably only show up in chaos, as there is no current way to implement battlebond-style drafting.  If that is even worth it with the need to implement the partners in packs the way Wizards did.

[2018-08-09 20:41] tooomm commented on #120
Cool, thanks for letting us know.

Having real Two-Headed Giant drafts would require some more changes, true.

[2018-08-10 07:31] HerveH44 commented on #64
I'll look at this one soon I think. It should only be a question of adding a new variable "pack number" on GUI.

Is there any problem by doing so? I mean if the user can insert "10 packs" for each player, I don't see any problem...

[2018-08-10 08:37] tooomm opened #147 "check old branches"
- https://github.com/dr4fters/dr4ft/tree/configuration

Can we incorporate some of the changes there? Looks like it's one of yours @HerveH44.

[2018-08-10 14:55] tooomm opened #148 "idea: allow to adjust size of cards"
If you are doing sealed and a lot of cards are shown, or when you draft on a smaller monitor it can be helpful to see more cards at once.
The smaller picture doesn't have to be a drawback, because most people know the cards and only go by their art without reading the actual card text.

On the other hand, people with e.g. eye issues could benefit from bigger cards.

It could be 3 options `Card siz

[2018-08-10 15:52] tooomm opened #149 "idea: restructure game type selection"
| [ Draft ] | [ Sealed ] |
| :- | :- |
| [ **Regular** ] [ **Chaos** ] [ **Cube** ] | [ **Regular** ] [ **Chaos** ] [ **Cube** ] |

or

| [ Draft ] | [ Sealed ] |
| :- | :- |
| [ **Regular** Draft ] [ **Chaos** Draft ] [ **Cube** Draft ] | [ **Regular** Sealed ] [ **Chaos** Draft ] [ **Cube** Sealed ] |

In the GUI a simple version could look like this:
![draft-sealed](https://user-images.githubus

[2018-08-10 18:16] tooomm opened #151 "try to remove needed manual adjustments to frontend before installation"
*placeholder reminder*

Before each set can be used (even though the containing mtgjson is automatically fetched), there needs to be a manual change to https://github.com/dr4fters/dr4ft/blob/master/public/src/sets.js first.

[2018-08-11 08:07] HerveH44 commented on #151
The idea I guess would be to fetch the sets at start. There are 2 roads, either use the websocket to send the data or have an endpoint that is called during creation of lobby. For the second road, it would be cool to have the PR #96 up and running to use the setup and just add another endpoint.

[2018-08-11 08:09] HerveH44 commented on #149
I love the idea. That's more or less what I've done on Asobi (https://github.com/HerveH44/Asobi)

[2018-08-11 08:27] tooomm commented on #149
Haha, funny that you also felt that could be improved and went down a similar road. 😄

[2018-08-12 19:37] #121 closed

[2018-08-12 19:38] tooomm commented on #121
Question stands if Masterpieces are broken for the containing sets, will open another issue.

@pj123123 keep in mind that we just do the code, no idea when websites will start using that "fix".

[2018-08-12 19:39] tooomm opened #154 "Masterpiece Series might be broken"
Card art seems to not show up for them.
Are they inserted at all?

See #121 for further details.

Affected Sets could be:
- Zendikar Expeditions (BFZ / OGW)
- Kaladesh Inventions (KLD / AER)
- Amonkhet Invocations (AKH / HOU)

[2018-08-14 17:34] JineteDV opened #157 "M19 Packs are including cards from the Precon decks"
Cards like Tattered Mummy and Mist-Cloaked Herald

[2018-08-14 19:28] tooomm opened #160 "code cleanup and eslint fixes"
- Fix deprecated methods in /public/src/game/Game.jsx@master:
https://github.com/dr4fters/dr4ft/pull/152#issuecomment-412302147

- eslint-plugin-react requires a peer dependencies:
https://travis-ci.com/dr4fters/dr4ft/jobs/139934807#L438

- React version not specified in eslint-plugin-react settings:
https://travis-ci.com/dr4fters/dr4ft/jobs/139934807#L448

- Check other eslint warnings & errors:

[2018-08-15 10:32] tooomm opened #164 "Update package.json"
https://docs.npmjs.com/files/package.json

[2018-08-15 20:44] tooomm opened #165 "bug: deck renaming before downloading isn't possible anymore"
As seen on Discord:

so now all the draft and sealed decks i do are named `false ([[number]])`

[2018-08-19 03:52] dev-id commented on #148
You can use your browser's zoom functionality to change the size of cards.

[2018-08-19 03:52] #148 closed

[2018-08-19 16:32] #157 closed

[2018-08-19 17:05] dev-id opened #170 "Auto-include masters sets when running make/cards.js"
Currently all the masters sets are defined independently. Masters sets should be built automatically so the images are available and the sets can be added with just public/src/sets.js edit

[2018-08-20 10:53] HerveH44 commented on #170
That's super interesting, what is our baseline as to what set should be included and which one should not and why. It seems to me that there are 2 levels : one is to get the maximum amount of cards in the DB to let people cube draft them but keep the sets that are draftable.

Is there a way in the Allsets.json to know this?

[2018-08-20 10:55] HerveH44 commented on #154
I don't think it's the case anymore. Could you try on dr4ft.info?

[2018-08-20 10:57] HerveH44 commented on #116
@anoda9 I tried to implement a solution, keeping an <input> for the player to change its name directly. It's available in the server http://dr4ft.info:8080. Could you try and tell me if that suits you?

[2018-08-20 13:28] HerveH44 commented on #68
Hey @tooomm , can you check the site http:dr4ft.info:8080 and tell me what you think of the chaos sealed mode?

[2018-08-20 13:41] tooomm commented on #120
Fixed in #169

[2018-08-20 13:41] #120 closed

[2018-08-20 13:53] tooomm commented on #148
Sure, one could do that as a workaround... and end up with a tiny (or gigantic) messy UI. 👍

[2018-08-20 14:21] tooomm opened #172 ""Download deck" and "Download draft log" should share the same naming scheme"
To easily match them it would be very helpful if both use the same naming pattern.

Right now only the deck name can get changed before downloading, the draft log is always fixed to a pattern with UST? time appended.

[2018-08-20 15:54] tooomm commented on #154
Not sure. I clicked through another 10 AKH drafts with bots to see around 100 rares, no Invocation art there.

Only card that could have showed up as special art was Oketra, but it had normal one.

[2018-08-20 16:06] HerveH44 commented on #154
After a couple sealed on dr4ft.info, i got lucky ;) !

![masterpiece](https://user-images.githubusercontent.com/16805904/44352082-af271a00-a4a3-11e8-9188-1727b1010718.png)

Code shows that you get a chance on 144 to get a masterpiece in a pack !

[2018-08-20 16:08] tooomm commented on #154
Great!

[2018-08-20 16:08] #154 closed

[2018-08-20 16:13] tooomm commented on #68
@HerveH44 It seems to work as it should. You get x packs from random sets.
But the UI makes it not clear which sets are inserted on default and with the other two options, or a combination of them, enabled.
I would assume the default to have all cards, but what's total chaos then? (I assume to do the same)

I noticed the redesign of the game type selection and other related additions there. We can

[2018-08-20 17:11] HerveH44 commented on #68
well I'm not an expert of chaos, but the original code shows that "total chaos" is creating a booster from any card in the db. meaning, you take a booster of 1 rare, 3 unco and 10 commons, each filled with a random rare from a random set, 3 random uncos from random sets etc.

I'd love to have feedback about the implementation. I'm already starting to read and experiment using the framework [materi

[2018-08-20 18:27] tooomm commented on #172
That would make sense. Or/And appending `-draftlog` for example.

[2018-08-20 18:35] #165 closed

[2018-08-20 19:22] HerveH44 opened #173 "react refreshes components too often"
The components are refreshed based on their key. At the moment the keys of mosts components are created using "uniqueId" of lodash. This creates unnecessary refresh of the components that tend to create freezes or worse.

Solution: get rid of uniqueId as much as possible and use the index of arrays (as most of the times the components are created for arrays of data) to keep the "key" variable of t

[2018-08-20 19:46] #118 closed

[2018-08-21 09:29] tooomm commented on #68
Hehe, interesting. Could be fun. 😄

There should definitely be some hint next to the name, e.g. `Total Chaos (i)`.
On hovering the info symbol it could say:

[2018-08-21 23:56] Tamarindode5kg opened #174 "BUG on A25 draft"
I am trying do a Master 25 draft and the draft don't start...

Can i have how to fix it?

Thankful!

[2018-08-22 07:05] HerveH44 commented on #174
There's indeed an error with M25. The set is not loaded in the app ...

 @ZeldaZach @dev-id Why masters25 has type "reprint" in the AllSets.json and not "masters" like the others masters (vintage masters etc.) ?

Error :
`2018-08-22T06:53:32.941358+00:00 app[web.1]: [2018-08-22T06:53:32.941Z] draft using A25 / RIX / XLN game zq4xctp16dg started with 1 players and 8 seats
2018-08-22T06:53:32.950337

[2018-08-22 09:11] tooomm commented on #157
Is that fixed for you @JineteDV on http://dr4ft.com?
Since we found out, our fix might not be the right one...

[2018-08-22 22:14] #174 closed

[2018-08-23 22:44] tooomm opened #180 "draft log: disable download button until draft is finished"
Before finishing a draft, the log file will be empty anyway and only contain the game id and player names.
It doesn't matter if you haven't picked anything yet, pack 1 is done or you are only missing the very last pick from pack 3... once the draft isn't finished there won't be any card picks included in the log.

[2018-08-30 09:45] Rendroc opened #185 "dr4ft.com and dr4ft.info not working"
Everytime I've tried to start a cube Sealed game, it gets stuck and I see no cards. My opponent apparently see their card pool but not me, and I'm the creator.

[2018-08-30 09:52] HerveH44 commented on #185
Hi,

If you've played before on these sites. It may be linked with your browser's cache. Try to delete the cache of your browser and then retry. It may also be possible to do a "hard-refresh" directly on the webpage, when you are visiting one of these sites, using the keys "ctrl + F5" or even "ctrl + shift + F5".

Tell us if that worked for you,

Hervé

[2018-08-30 12:57] #172 closed

[2018-08-31 05:35] Rendroc commented on #185
Nothing is working! I tried different browers, I cleared Cache and cookies, and tried the hard refresh command, and nothing works. This is so strange.

[2018-08-31 07:36] tooomm commented on #185
What's your exact environment and what did you exactly do? When does it get stuck?

[2018-08-31 07:41] gsainsbury86 commented on #185
I've been getting similar behaviour since switching ISPs a couple of weeks ago.

I see this error in the console. (Win 10 - Chrome)

`engine.io.js:4387 WebSocket connection to 'ws://dr4ft.com/engine.io/?id=6zeh4jwjehh&name=dr4fter&EIO=3&transport=websocket&sid=sCOIzjf6QvdqC0ZIAAFv' failed: Error during WebSocket handshake: Unexpected response code: 400`

[2018-08-31 08:08] HerveH44 commented on #185
Ok! Thanks for the console log. It should be because your ISP blocks Websocket traffic. It's possible, it happens sometimes that the router/gateway is configured in such a way that it blocks WS traffic.

It's weird because I thought that engine.io was able to chage the transport if websocket was failing. I'll have a look later about this.

[2018-08-31 08:35] gsainsbury86 commented on #185
Great, thanks. I have to use a silly router because my ISP has mac address filtering on it. I'm switching ISPs soon, so it won't affect me anymore hopefully but at least this sheds some light on the issue hopefully.

[2018-08-31 18:50] JineteDV commented on #185
![screen shot 2018-08-31 at 2 45 31 pm](https://user-images.githubusercontent.com/6514656/44930526-984ab800-ad2c-11e8-9894-d10bf0823110.png)
This should be a draft (not sealed) with one other person. macOS 10.13.6, Chrome, Java v8 update 181.

[2018-09-01 01:09] Rendroc commented on #185
I'm in Cambodia living in a Condominium Complex. So I don't have info on the ISP and I'm not in control of the router. Hopefully this info will be valuable. Should I change my DNS? I think I already tried that, and it didn't work, but I didn't ask the staff to reset the router. I was using google's DNS, 8.8.8.8.

The photo that JDV kindly posted above is exactly what happens to me.

[2018-09-07 16:40] #173 closed

[2018-09-09 01:07] JineteDV commented on #157
Yea seems fine now.

[2018-09-09 11:34] tooomm commented on #157
Thanks for coming back to us!

[2018-09-14 10:46] Rendroc commented on #185
It's still not working for me? Any update on a fix?

[2018-09-19 03:51] dmaslowski opened #200 "Dominaria missing"
In the last update duplicate M19 and dominaria where deleted. But it looks like dominaria wasn’t a duplicate and is now missing from the website.

[2018-09-19 04:03] tooomm commented on #200
The running code at dr4ft.com simply misses https://github.com/dr4fters/dr4ft/pull/137.
As you can see in our [history](https://github.com/dr4fters/dr4ft/commits/master) the "remove duplicate" commit, which the dr4ft.com page is currently running, is one day older.
@dev-id just needs to update the server.

Thanks for pointing out! @dmaslowski

In the meantime you can run dr4ft.info which has that

[2018-09-19 18:35] dmaslowski commented on #200
Thanks so much!

[2018-09-19 18:35] #200 closed

[2018-09-20 16:59] hitz opened #204 "GRN issues"
Thanks for getting GRN up so fast.  There are a couple issues.

1) There should be 1 Guildgate per pack, it seems like they are done in the common slot.
2) Circuitous route has Japanese art and text
3) A couple other cards have french art; this is probably not dr4ft problem.

[2018-09-20 18:08] JineteDV commented on #185
Yea, still having the same issue.

[2018-09-21 07:43] HerveH44 commented on #204
Hi,

Is it possible to give the URL where you read the mandatory presence of a guildgate? I couldn't find it and it could be of great help!

Thanks

[2018-09-21 14:39] demern opened #206 "Selected card images disappear after a while in column view"
I've noticed recently that the enlarged card images that appear when hovering over a card in column view will flicker/disappear after a few seconds. They don't come back until you move the cursor off the card and back onto it. I'm not sure when this started happening, but it wasn't an issue a couple months ago at least in the same browser (Chrome). It makes it pretty annoying to try and read cards

[2018-09-21 16:15] HerveH44 commented on #206
Hi,

It should be solved in the last version. Could you try on dr4ft.info ?

Don't forget to refresh your cache (on chrome, it should be clicking on the refresh button while holding ctrl + shift).

[2018-09-21 18:06] demern commented on #206
Ah, thank you. I was noticing the issue on dr4ft.com, but dr4ft.info looks like it's running a different version without this behavior.

Though now I'm noticing the latest set (GRN) isn't available on dr4ft.info like it is on dr4ft.com. But I guess that's a different problem (not even sure if the maintainers of this project also manage that site?) In any case, your comment resolves my initial issu

[2018-09-21 18:06] #206 closed

[2018-09-21 20:37] HerveH44 commented on #204
About the guildgate, just found a video : https://clips.twitch.tv/SpinelessFreezingYogurtPraiseIt

[2018-09-21 22:49] tooomm commented on #206
I had the same issue, thanks for reporting it @demern!

@dev-id dr4ft.com is still not on par with the repo and misses some fixes like this one.

[2018-09-22 02:58] JineteDV commented on #204
GRN draft on dr4ft also still has the Planeswalker deck cards in the packs

[2018-09-23 15:08] JineteDV commented on #185
Opening the sites in a Chrome incognito tag fixes the issue nearly every time and if not, restarting chrome and then opening the site in a new incognito tab has fixed the problem every time for me.

[2018-09-23 15:38] HerveH44 commented on #185
Hi @JineteDV , thanks for the feedback. In your case, tit clearly shows that the problem is the cache of the browser. In incognito mode, you don't use the cache stored, you directly download the last javascript version of the site.

Try to delete the cache of the page. Follow this : https://support.google.com/accounts/answer/32050?co=GENIE.Platform%3DDesktop&hl=en

[2018-09-23 21:03] TemporalMadness commented on #204
on the gates, it Should be both 1 per pack and common slot.

[2018-09-24 17:27] JineteDV commented on #204
Fresh-Faced Recruit and Vernadi Shieldmate are two drops that get sorted into the 4drop column when sorting by cmc.

[2018-09-25 21:54] JineteDV commented on #204
Smelt-Ward Minotaur is misnamed as Smelt-War Minotaur.

[2018-09-26 20:54] impromptuu commented on #204
Parahelion Patrol still has the spoiler season image.

[2018-09-26 22:12] tooomm commented on #204
mtgjson is updated with GRN, so I think this should no longer be an issue, as soon as the draft pages get updated with the new data.

[2018-09-29 01:35] Rendroc opened #211 "https://beta-dr4ft.herokuapp.com UPDATE"
https://beta-dr4ft.herokuapp.com

I've been unable to use the dr4ft.com or dr4ft.info websites and I've posted in another issue thread here about it. The URL above has worked for me, but it currently doesn't have GRN. Can someone please add GRN?

Thank you.

[2018-09-29 03:10] snyderrj commented on #204
So I'm not sure what's causing this, but Devious Cover-Up is named Devious Cover-up when copied. This causes issues with Cockatrice. I've attached a .txt downloaded from dr4ft.com where you can see the problem.

[filename.txt](https://github.com/dr4fters/dr4ft/files/2430239/filename.txt)

[2018-10-02 06:19] Rendroc commented on #185
Using an Incognito Tab works for me as well. I went through the steps of doing a hard refresh before, and clearing my cache and it didn't work. Perhaps I did it incorrectly.

[2018-10-02 19:12] HerveH44 commented on #211
Hi,

The only thing to do is to merge the branch "grn" into master.

[2018-10-03 07:29] HerveH44 commented on #211
@Rendroc The branch has been merged, so http://beta-dr4ft.herokuapp.com/ is updated

Enjoy !

[2018-10-03 10:03] tooomm commented on #185
Does it work now on draft.info? It has a new version to prevent the cache issue @Rendroc

[2018-10-03 10:09] tooomm opened #216 "github commit hash not "correct""
Currently the dr4ft.info site shows "Running Version 1a4ad0c".

The problem is that 1a4ad0c points to a single commit (last one) within https://github.com/dr4fters/dr4ft/pull/214.
Instead, it should display the merge commit of all PR to master (https://github.com/dr4fters/dr4ft/commit/b28ffefa73bc8aaab0101febc14b6a40d1c6c995) as displayed in the [history](https://github.com/dr4fters/dr4ft/commits/

[2018-10-03 10:12] #211 closed

[2018-10-03 10:21] tooomm opened #217 "fix browser cache more (+ build directory) :)"
As reminder to follow up on https://github.com/dr4fters/dr4ft/pull/215#issuecomment-426538386

[2018-10-03 10:47] HerveH44 commented on #216
Hi @tooomm ,

Currently, dr4ft.info is still on the branch "grn". I'll update it ASAP

[2018-10-03 10:52] tooomm commented on #99
Do you want to open a WIP-PR for this to keep better track of it and have a reference to the branch and actual changes?

I assume it's this branch? https://github.com/dr4fters/dr4ft/tree/configuration

[2018-10-03 10:53] tooomm commented on #216
Great, that makes sense. I was sure it was "working" before... 🙈

[2018-10-03 10:53] #216 closed

[2018-10-05 20:37] HerveH44 commented on #185
@Rendroc @JineteDV I updated dr4ft.info with the a new system that should block your problems with browser cache.

Could you check if that see any improvements or not?

[2018-10-07 04:17] TemporalMadness commented on #204
Hash-tags for decks DO not match. loaded it 4 times from the draft site.

[2018-10-07 22:37] flyingdutchman0 commented on #204
yeah, this has been a problem since the latest update. i think this has something to do with the guildgates, they don't behave properly on cockatric anymore.

[2018-10-08 03:50] ZeldaZach commented on #204
I think it's b/c of the "GuildGate (a)" "GuildGate (b)" thing. This is fixed on V4, but still a problem on V3 :/

[2018-10-08 04:16] tooomm commented on #204
Zach is talking about mtgjson, which is used as source for the card database on dr4ft as well.
Most likely v3 is still used since v4 is not yet released officially.

@HerveH44 did you try to run v4 already? Any issues so far?

[2018-10-08 14:06] KenCarson opened #219 ""Loading website... The functionality on this site requires JavaScript...""
Hi, I keep seeing this on both Dr4ft.info and Dr4ft.com. I have uninstalled and reinstalled Java, tried Chrome, Firefox and Safari, with all browsers confirmed to have javascript running, and yet I still 1.) see this message as I navigate to the page and 2.) images are either partially downloaded (3-4 cards in a pack) or not all all. Refreshing can occasionally switch a few of the downloaded cards

[2018-10-08 14:51] ZeldaZach commented on #219
If you have an adblocker, that might be breaking it. Try disabling and seeing what happens

[2018-10-08 16:15] tooomm commented on #219
Or a script blocker like NoScript.

But note: Everybody sees this message for like 1s. Only if the message stays and you don't enter the real site something prevents javascript from working correctly.

[2018-10-08 17:50] HerveH44 commented on #219
What is your internet bandswidth?

Maybe you have a slow connection and you can't get all the pictures at the same time. You may have also disabled browser caching so the browser has to download the app and the cards every time.

[2018-10-10 22:52] flyingdutchman0 commented on #204
will this get fixed soon? i hate when the opponent drops 4 rares in a single game, and their deck codes don't match.

[2018-10-10 23:11] TemporalMadness commented on #204
The obviously cheated, hence GRn is undraftable on cockatrice

On Wed, Oct 10, 2018 at 6:52 PM flyingdutchman0 <notifications@github.com>
wrote:

[2018-10-10 23:17] #204 closed

[2018-10-10 23:18] TemporalMadness commented on #204
closed, but not fixed

On Wed, Oct 10, 2018 at 7:17 PM Ben Hitz <notifications@github.com> wrote:

[2018-10-11 05:36] tooomm commented on #204
@TemporalMadness which issue(s) is/are still left?
Pleas open a new ticket for each!

[2018-10-27 14:56] tooomm opened #232 "update dr4ft to use new mtgjson v4"
https://github.com/dr4fters/dr4ft/pull/223#issuecomment-429618221

[2018-11-01 11:55] tooomm commented on #232
I can't use v4 unless this is fixed :( !

The `booster` field is added in v4 now! (https://github.com/mtgjson/mtgjson4/pull/107)

[2018-11-05 06:51] tooomm commented on #217
@HerveH44 Is this fixed now with https://github.com/dr4fters/dr4ft/pull/218?

[2018-11-11 09:32] tooomm commented on #105
I think with the cache and dependency updates we are ok here.

[2018-11-11 09:32] #105 closed

[2018-11-11 12:06] #164 closed

[2018-11-13 19:00] HerveH44 commented on #217
Yep!

[2018-11-13 19:00] #217 closed

[2018-11-13 20:22] HerveH44 commented on #151
That could be possible yes, but this would be just the following of the one of the 2 options. What you describe could be what the backend will do, fetching every X days the last MTGJson data before sending it back to the clients.

[2018-11-19 15:41] HerveH44 opened #249 "Simplify (greatly) our life : use api.magicthegathering.io"
Hi,

I just found out that there's an APi that can get us all that we want, without any effort of creating / updating rules to create a simple booster.

I let you read everything here  : https://docs.magicthegathering.io/

it should be very simple to use. I'll work on that in the next weeks, it should greatly improve our code (less code, better performances)... I can't believe we didn't see that b

[2018-11-19 18:29] ZeldaZach commented on #249
Awesome. I've been involved with MTGIO for a bit through MTGJSON, and they seem fairly well off with the information we'll need.

[2018-11-20 21:43] HerveH44 commented on #249
I'm very sad... it seems that the boosters are just made casually without controlling how to build them...

I still hopes they can do something about it, but like that I just don't find a correct way to go past it...

[2018-11-20 22:13] tooomm commented on #249
Too bad, that sounds very promising. :/

You can reach out to them in their discord. I think Zach was hanging around there as well!

[2018-11-21 08:05] HerveH44 commented on #249
Maybe there's still something to do.
At least, that shows that we could split all the code to generate boosters in another module, that would help greatly to understand and easily work on features related to limited playing instead of card making.

I'm thinking of a sort of tiny API that would encapsulate all the efforts to create a realistic booster.

[2018-11-22 03:02] ZeldaZach commented on #249
You can hijack MTGJSON4's database: https://github.com/mtgjson/mtgjson4/blob/master/mtgjson4/resources/boosters.json

[2018-11-23 08:03] HerveH44 commented on #249
You can check my branch to see the "refactor" and tell me if I'm wrong. [mtgio](https://github.com/dr4fters/dr4ft/tree/mtgio)

The idea is to fetch the cards from the API and keep them in memory (using memoization or queries).
This is just the first couple lines of codes I came up yesterday.

 My idea to compose the boosters depending if there's a rule or not would be a conditional require to see

[2018-11-23 14:34] Hydrexkayzer commented on #185
dR4FT.com doesnt load, why? help

[2018-11-23 17:15] tooomm commented on #185
I pinged @dev-id already some time ago on gitter without reply.
It could be that his server is gone.

Use http://dr4ft.info/ instead @Hydrexkayzer

[2018-11-24 12:06] HerveH44 commented on #249
I'm stuck because of cube drafting. The API doesn't accept more than ~80 names per request, which can take a good amount of time ~15-20 seconds. In total, for a 720 cards cube draft, I had to wait ~2 minutes before starting the game.

I don't know what to do, as it seems that for this unique reason, it could be really helpfull to have the DB in local and not through mtgio API...

@ZeldaZach @dev-i

[2018-11-26 18:04] hitz opened #255 "add UMA"
be great to see UMA up on dr4aft.com & dr4aft.info... it's already in  https://mtgjson.com/v4/

[2018-11-26 18:41] HerveH44 commented on #255
Hi,

I can't find it on https://mtgjson.com/v4/sets.html. Are you sure it's already on mtgjson_v4?

[2018-11-26 19:04] hitz commented on #255
`>>> allsets['UMA'].keys()
dict_keys(['tokens', 'code', 'cards', 'mtgoCode', 'releaseDate', 'baseSetSize', 'name', 'meta', 'totalSetSize', 'type'])

41

'2018-12-07'

0

41

{'artist': 'Mark Tedin', 'name': 'Emrakul, the Aeons Torn', 'power': '15', 'starter': True, 'text': "This spell can't be countered.\nWhen you cast this spell, take an extra turn after this one.\nFlying, protection from colored

[2018-11-26 19:20] hitz commented on #255
Ah they got caught in a release cycle, should be out this week.

[2018-11-26 19:36] HerveH44 commented on #255
Ok, When it's ready, we'll integer to dr4ft

[2018-11-29 05:30] #255 closed

[2018-11-29 05:31] ZeldaZach commented on #185
Is this solved?

[2018-11-29 05:31] ZeldaZach commented on #10
Looks fine to me

[2018-11-29 05:31] #10 closed

[2018-11-29 06:31] tooomm commented on #255
UMA not yet available at dr4ft.info @HerveH44

[2018-11-29 07:01] tooomm commented on #10
I think I solved this in #115 👍

[2018-11-29 16:17] Hydrexkayzer commented on #185
no

Sent from Mail for Windows 10

From: Zach H
Sent: jueves, noviembre 29, 2018 12:31 AM
To: dr4fters/dr4ft
Cc: Hydrexkayzer; Mention
Subject: Re: [dr4fters/dr4ft] dr4ft.com and dr4ft.info not working (#185)

Is this solved?
—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

---
El software de antivirus Avast ha analizado est

[2018-11-30 19:09] hitz opened #258 "dr4ft.info pools not sorting by CMC or Color"
Pools are not sorting by CMC or color, see attached.  This was seen with both GRN and UMA (did not check other sets)

<img width="847" alt="screen shot 2018-11-30 at 11 06 25 am" src="https://user-images.githubusercontent.com/288823/49309472-3b2be300-f490-11e8-9d4b-bc4e7081df11.png">

<img width="979" alt="screen shot 2018-11-30 at 11 09 08 am" src="https://user-images.githubusercontent.com/288823

[2018-12-02 18:35] tooomm commented on #255
@HerveH44 there was just a ticket opened about that: https://github.com/mtgjson/mtgjson4/issues/149

[2018-12-03 05:58] tooomm opened #259 "Capitalize UI texts and elements"
The interface and select options are inconsistently capitalized.

I would like to see all UI to have a uniform style, e.g. Title Case or have the first letter in each text element in capital at least like it's currently in the rest of the UI.

Here an example where lower case is used when in a started game room:
![capitalui](https://user-images.githubusercontent.com/9874850/49355637-c4c5f580-f6c8-

[2018-12-03 19:32] ZeldaZach opened #260 "Draft Starting Incorrectly?"
Forwarding an email I received:

Hi, sorry for bothering you through email, but I have some problems with dr4ft
I found that the version using the jsonv4 branch (as hosted on dr4ft.info) has huge problems, where the draft starts already at the 10th pick then goes on semi randomly through the 15th one.
Also often I get stuck on a white screen where I can’t do anything except restart the draft
I’m o

[2018-12-04 08:59] OfficialAlienZ commented on #260
Same problem here.
Windows 10
Firefox 63.0.3

[2018-12-04 09:57] Manteric commented on #260
I'm the one who sent the email
I want to add that when I get to the blank screen, I get an "TypeError: cards[0] is undefined" error in console

[2018-12-09 10:13] Rendroc commented on #185
People still having issues with dr4ft sites

[2018-12-09 10:18] Rendroc commented on #185
dr4ft.com isn't working but dr4ft.info is, can you upload UMA to dr4ft.info please?

[2018-12-09 10:54] tooomm commented on #185
Currently, the problem is that the mtgjson card database source in the background got changed and we rely on it.
The dr4ft pages need to do some changes to properly work again. https://github.com/dr4fters/dr4ft/issues/232

CC: @HerveH44

[2018-12-09 11:34] Rendroc commented on #185
turns out dr4ft.info sealed works fine, I just had to sort my cards differently, but the draft doesn't work

[2018-12-11 18:31] tooomm commented on #249
Can't one tell that by the frame value? https://mtgjson.com/v4/docs.html

<br>

Because of cube it doesn't look feasible to use the API with the current limitations... 2 minutes is just crazy and not going to work.
Too bad actually, I liked the idea and it seems to work for sealed pretty well.
Did you contacted them for a key without or higher limits?

Why not pull the mtgjson (v4) file at each st

[2018-12-11 18:45] ZeldaZach commented on #249
We have Modern.json and Standard.json now. Can use those in place of AllSets.json

[2018-12-12 17:09] Rendroc commented on #185
Sealed on dr4ft.com works, but if you try to sort by color, not all the cards appear

[2018-12-22 07:06] trsbox opened #273 "Complile issues"
So I am getting all kinds of errors when running as per the README.md

I am running Debian

[outputfile.txt](https://github.com/dr4fters/dr4ft/files/2704891/outputfile.txt)

Any ideas

[2018-12-22 08:02] ZeldaZach commented on #273
Interesting, I was having the same issues. cc: @HerveH44

The fix was to manually copy the default configs from the config folder to the directory above it. But why is this buggy for everyone now?

[2018-12-22 18:30] HerveH44 commented on #273
Hey @trsbox ,

You have to rename them (delete the .default at the end of each file). I still don't understand why it doesn't work for you ...

I'll try to investigate.

Hervé

[2018-12-22 20:54] trsbox commented on #273
Move them up in directory tree and rename?

[2018-12-22 21:10] trsbox commented on #273
Ok, I moved up the files and took out the .default.    Here is the latest issue:
[outputfile1.txt](https://github.com/dr4fters/dr4ft/files/2705544/outputfile1.txt)

[2018-12-22 21:11] ZeldaZach commented on #273
Are you running off current master?

[2018-12-22 22:40] trsbox commented on #273
Yes.  Just did a git clone

[2018-12-27 16:06] trsbox commented on #273
Any other ideas?

[2018-12-31 10:09] tooomm commented on #232
Is this fixed with https://github.com/dr4fters/dr4ft/pull/272?

[2018-12-31 10:10] ZeldaZach commented on #232
Yes.

More work is needed to be done, but it's not a mtgjson issue

[2018-12-31 10:10] #232 closed

[2018-12-31 10:13] tooomm commented on #232
Can you give a short outline what needs to be done or what is not working currently, please?

[2019-01-12 09:35] Rendroc opened #291 "Suggestions and card errors dr4ft"
Can you add the option to add basic snow lands to decks?

Also, I have a cube with every card in magic history, but for some reasons the only cards that dr4ft has issues with is the futureshifted cards from Future Sight, like Steamflogger Boss, Fleshwrithe, and Baru, Fist of Krosa.

[2019-01-12 09:37] Rendroc opened #292 "dr4ft.com and dr4ft.info load very slow"
It's impossible to draft with those URLs. https://beta-dr4ft.herokuapp.com/ is faster, but is still slow sometimes.

[2019-01-12 12:17] tooomm commented on #292
http://dr4ft.com as well as https://dr4ft.info are working fine for me?!

What do you mean with "load very slow" exactly? Which parts of the page? How many seconds? ...

[2019-01-14 08:50] Rendroc commented on #292
The card images load very slow, and the page loads slow as well. Maybe a card every 2 seconds or more sometimes.

[2019-01-14 20:42] tooomm commented on #292
I tried a sealed with old sets I hadn't cached in the browser. All 90 cards loaded within ~10-15 seconds.

Do you have issues with your internet connection, isp, local network etc.?
Are you sure these two pages are the only ones which load slow? I mean can be a lot of data at once, maybe you just don't realize the issue on other pages?

Did you try to speed check your connection?

<br>

In general

[2019-01-17 19:04] tooomm commented on #292
@Rendroc did anything change for you? at dr4ft.info we now use scryfall as an image source.
Can you please test again and let us know if it works better for you now?

[2019-01-20 00:10] trsbox commented on #273
Any updates?

[2019-01-20 00:12] ZeldaZach commented on #273
Yes! I was able to figure it out

[code]

[2019-01-20 20:19] tooomm commented on #273
Can you add the correct command to the readme, please?

[2019-01-21 06:12] ZeldaZach commented on #292
Fixed on .info

[2019-01-21 06:12] #292 closed

[2019-01-21 06:13] ZeldaZach commented on #291
[Basic Snows can't be added to a deck outside of drafting them](https://www.reddit.com/r/magicTCG/comments/3jwp36/using_snow_basics_in_limited/) so this won't be added unfortunately.

The cards should be working now, so I recommend you try again :)

[2019-01-21 06:13] #291 closed

[2019-01-21 06:15] #273 closed

[2019-01-21 06:15] ZeldaZach commented on #260
Should be fixed on .info now...

[2019-01-21 06:15] #260 closed

[2019-01-21 06:15] ZeldaZach commented on #258
Fixed

[2019-01-21 06:15] #258 closed

[2019-01-21 06:16] ZeldaZach commented on #185
They work fine

[2019-01-21 06:17] ZeldaZach commented on #37
Shouldn't be a problem anymore, as we've using v4 that includes spoilers

[2019-01-21 06:17] #37 closed

[2019-01-21 06:18] #108 closed

[2019-01-21 06:19] ZeldaZach commented on #106
Done already

[2019-01-21 06:19] #106 closed

[2019-02-04 18:52] clarle opened #302 "Where is score data coming from?"
I've been trying to implement a better draft picking algorithm for personal use, since it looks like `scores.json` hasn't been updated in quite some time, so the bots are just picking randomly.

Where did the original scores come from?  I'm trying to see if there's anything that could be done to make it easier for people to plug in their own scores for more recent expansions and have bots take int

[2019-02-06 15:41] HerveH44 commented on #249
After long investigation, it doesn't suit us anymore: the API takes too long to fetch information and the booster endpoint doesn't take any consideration of how to create a real booster.

[2019-02-06 15:41] #249 closed

[2019-02-13 09:28] #87 closed

[2019-02-15 06:39] tooomm opened #314 "Refresh card image (mouse over) after click"
Happens with Firefox and Chrome on dr4ft.info

When you click a card in the piled view to move it to e.g. sideboard, the pile gets updated and the card beneath your mouse changes but the card preview does not refresh.

[2019-02-15 06:41] tooomm commented on #77
I want to give this a bump due to

So many sets have them nowerdays and it would be soo much easier to read them!

[2019-02-18 13:18] tooomm opened #319 "Update outdated dependencies"
See https://david-dm.org/dr4fters/dr4ft

- babel-loader
https://github.com/dr4fters/dr4ft/pull/210

- jsonfile
https://github.com/dr4fters/dr4ft/pull/192

[2019-02-18 16:38] HerveH44 commented on #151
#96 should have closed this Issue. The sets are now fetched automatically from backend and the AllSets.json is checked every hour for update.

[2019-02-18 16:43] tooomm commented on #151
Oh, so you squeezed some more changes in there than the API?

e.g. PR's that add new sets to public/src/sets.js are not needed anymore?

[2019-02-18 21:50] #151 closed

[2019-02-19 08:06] HerveH44 commented on #151
Yeah, no we just need to add the data in MTGJson and the site will fetch it!

[2019-02-19 16:54] HerveH44 commented on #74
#96 has closed this one. Now src/data.js is kind of the DB wrapper. It exposes 5 methods:

getCards: to get the "cards.json" file
getSets: idem for "sets.json"
getMws: idem for "mws.json"
writeCards: used to write cards.json file
writeSets: used to write sets.json file

[2019-02-19 16:56] #74 closed

[2019-02-19 17:09] #160 closed

[2019-02-19 17:13] #103 closed

[2019-02-19 17:13] #180 closed

[2019-02-19 17:49] ZeldaZach commented on #319
Addressed #192

[2019-02-19 18:06] ZeldaZach commented on #45
Could easily be a checkbox

[2019-02-19 18:13] #319 closed

[2019-02-19 19:12] ancestral opened #329 "Delay with images on new pack"
What is happening is the images aren’t loaded, so when the next pack comes, I have to wait for the images to load before I know what the card is, which eats into my timer.

Options:

1. Preload images from the next pack (bad idea).
2. Wait for all the images to load before displaying the pack and starting the pack timer.
3. Preload all the images from the set.

#1 is a bad idea because it could be

[2019-02-19 19:14] ancestral opened #330 "Sort packs by rarity by default"
Most draft apps sort by the packs by rarity by default.

Real life Magic is sorted this way, MTGO sorts this way, and Arena sorts this way. Please consider sorting this way by default, with the Mythic Rare/Rare cards first, uncommon next, then commons. Special slots, like Gates in the Ravnica sets should be last.

[2019-02-19 19:42] ancestral opened #331 "Drafting can result in choosing more picks or fewer picks"
How the app is recording clicks or making picks seems to modify how many cards are chosen. This appears to be a potentially seriously issue.

Here’s a video, and here’s a screenshot (and link) of how the draft turned out where I was able to draft 129 cards:

[dr4ft bug.mov.zip](https://github.com/dr4fters/dr4ft/files/2881730/dr4ft.bug.mov.zip)
<img width="1440" alt="screen shot 2019-02-19 at 1 41

[2019-02-19 19:50] HerveH44 commented on #331
Hi,

Could you tell us what you are using as OS and web-browser? I can't reproduce it on Ubuntu 18.04 with chrome.

Thanks,

Herve

[2019-02-19 19:55] ZeldaZach commented on #331
Can't reproduce on MacOS 10.14.3 on Firefox or Safari

[2019-02-19 19:56] ZeldaZach commented on #329
There's no real way for us to know how long the download takes, as it's up to your connection. The server isn't involved in the loading or understanding of that. I don't think we can do much about this issue.

[2019-02-19 19:58] ZeldaZach commented on #170
Is this solved now with auto downloads, @HerveH44 ?

[2019-02-19 19:59] ZeldaZach commented on #107
Checking up on this: MTGJSON has a "names" field to link cards together as the same card object. You can use this with the two entries in AllSets

[2019-02-19 19:59] ZeldaZach commented on #3
Since we now have uploads, can probably store them in custom or something similar?

[2019-02-19 20:00] ZeldaZach commented on #4
Seems way too complex to make this accurate and work as expected. Sorry :(

[2019-02-19 20:00] #4 closed

[2019-02-19 20:01] ZeldaZach commented on #147
Addressed in different PRs

[2019-02-19 20:01] #147 closed

[2019-02-19 20:02] ancestral commented on #331
I witnessed it with both Firefox and Safari on macOS 10.14.2, but I can’t reproduce it all the time.

[2019-02-19 20:05] ancestral commented on #331
Here’s what the above room looked like on my end. Maybe you can tell me if it’s showing duplicates or pulling cards from the rest of the boosters.

![dr4ft bug 0 5x](https://user-images.githubusercontent.com/735024/53043976-55ea7400-344f-11e9-8d42-eac5dac4c13a.jpg)

[2019-02-19 20:31] ancestral commented on #329
There are ways to find out if the images have downloaded. These tricks exist, I can direct you to some resources if you like.

Of course, you can also take advantage of the ALT attribute for IMG.

[2019-02-19 20:46] HerveH44 commented on #329
Actually we are using the ALT attribute to display the card's name. Do you think it's not enough? What else would you need to be able to pick while expecting the card's image?

@ZeldaZach the image comes from scryfall if I'm correct. Do you know other sources of cards' images? Before we were directly fetching from wizards oracle. Are there places where we can decide how big we could fetch the card

[2019-02-19 20:48] ZeldaZach commented on #329
Scryfall we can fetch different sizes:

- https://api.scryfall.com/cards/63b2b7cd-a51d-4e50-b794-a52731196973?format=image&version=small
- https://api.scryfall.com/cards/63b2b7cd-a51d-4e50-b794-a52731196973?format=image&version=normal
- https://api.scryfall.com/cards/63b2b7cd-a51d-4e50-b794-a52731196973?format=image&version=large

[2019-02-19 20:51] HerveH44 commented on #329
Ok so that could be an idea!

[2019-02-19 21:12] ZeldaZach commented on #331
We agreed this was a cache bug, and is not a concern.

[2019-02-19 21:12] #331 closed

[2019-02-19 21:17] ancestral commented on #64
This is important for Battlebond, as 2HG drafting wants 4 packs.

[2019-02-20 06:22] ancestral commented on #329
https://stackoverflow.com/questions/1977871/check-if-an-image-is-loaded-no-errors-with-jquery

[2019-02-20 08:34] ZeldaZach commented on #39
@tooomm can you test loading a draft deck in? I think the .txt file should work fine.

[2019-02-20 09:15] tooomm commented on #39
I can't test it. Hence the ticket.

[2019-02-20 13:23] HerveH44 commented on #3
You would present it as a dropdown in the "cube" section?
But how to be sure that this is the right cube and not a joke somebody did  if anybody can upload "cube"?

[2019-02-20 13:26] HerveH44 commented on #170
Not yet, I have to check it. I'll do a PR when #335 will be merged

[2019-02-20 15:29] HerveH44 commented on #170
Pushed in the PR #335

[2019-02-20 15:42] HerveH44 commented on #65
@tooomm What do you think about this issue now? is it still important? As for me I never felt it as a problem

[2019-02-20 15:51] tooomm commented on #65
It still annoys me in every draft. :)
There might be other, more important things though.

[2019-02-20 17:08] ZeldaZach commented on #65
I do agree this is annoying. Maybe wait a few seconds before autopicking.

[2019-02-20 18:07] #330 closed

[2019-02-20 19:25] HerveH44 commented on #302
@dev-id  Do you remember how the "scores.json" has been implemented? I remember that you worked on it at some point?

[2019-02-20 19:30] HerveH44 commented on #70
Checking quickly the different repos, I didn't see any interesting issues that we coud take up. Maybe the idea of using "Tabs" could be interesting but it requires a bit of time and dedication. Maybe for another time...

[2019-02-20 19:33] ZeldaZach commented on #302
It's checked into the repo right now, and I don't believe anything updates it. Should be using draftStats to help update the weighted averages of stuff.

[2019-02-20 19:35] #170 closed

[2019-02-21 15:51] HerveH44 commented on #99
I've been thinking of this problem. It's important to be able to add configuration's variables while staying compatible with past configuration usage.

Our situation is that we have default configurations variables for server and client, and we give the possibility to any user to change what he wants by rewriting the files.

Actually at the end of "npm install", during the "postinstall" phase, we

[2019-02-22 12:01] HerveH44 commented on #99
My idea is impossible yet because of the client config file: there can be React components inside, so it's impossible to have it pushed to frontend ...

[2019-02-22 14:18] HerveH44 commented on #329
So I did a little test with small cards' images:

I wasn't very happy with it, you can barely read the card. But the cards are really quick to download.

![image](https://user-images.githubusercontent.com/16805904/53247957-e1b10a00-36b4-11e9-9a90-c6f7b3316e2c.png)

I pushed it to a branch, I'll add buttons to be able to adapt the card image quality.

[2019-02-22 14:33] HerveH44 commented on #329
I also set a checker : you can check the PR : #343

![image](https://user-images.githubusercontent.com/16805904/53248987-3ce3fc00-36b7-11e9-9702-95ac9b2ad52f.png)

[2019-02-22 16:00] HerveH44 commented on #69
We could insert that it the README ?

[2019-02-22 16:03] tooomm commented on #69
I just put it here to compare features, get inspiration on how they handle things or check what they offer in general.
I feel if its officially placed in the readme we have to maintain it actively.

[2019-02-22 16:29] tooomm commented on #329
What do you think @ancestral?
You can test it on the deployment in the linked PR.

[2019-02-22 17:18] #54 closed

[2019-02-22 17:21] ZeldaZach commented on #69
No plans to cross reference officially. If you’d like to see what they do well, feel free to.

[2019-02-22 17:48] #329 closed

[2019-02-22 18:32] ancestral commented on #329
So I think we can do better. I think the timer could pause and the pack could display after the pack’s images load.

I could make a patch for you.

[2019-02-22 20:32] trsbox opened #347 "Another compile issue after latest git pull"
fs.js:885
  return binding.mkdir(pathModule._makeLong(path),user:trsbox dr4ft
                 ^

TypeError: path must be a string or Buffer
    at Object.fs.mkdirSync (fs.js:885:18)
    at Object.<anonymous> (/home/scorch/dr4ft/src/logger.js:7:6)
    at Module._compile (module.js:653:30)
    at Object.Module._extensions..js (module.js:664:10)
    at Module.load (module.js:566:32)
    at tryModule

[2019-02-22 21:39] #53 closed

[2019-02-22 21:46] HerveH44 commented on #347
Hi,

Thanks for using our code. Yeah unfortunately one the commit requires that you modify a bit your config files before starting the server. The best you can do is store your config files elsewhere (move them out of the install directory) and restart "npm install". That will recreate new config.server.js and config.client.js. You can then remodify these files with your configuration (name, code

[2019-02-25 14:14] HerveH44 commented on #24
I think we can close this issue as it's not true (we don't require 720). Actually we control how many cards we would need if the room is full. I think that's the best we can do and should stay like that.

[2019-02-25 15:25] tooomm opened #350 "make link in error msg clickable"
![error msg](https://user-images.githubusercontent.com/9874850/53347701-f4784880-3919-11e9-98a0-33bfccdae7b4.png)

[2019-02-25 16:41] HerveH44 commented on #347
@trsbox how is it going? Have you been able to make it work?

Just for your information, we're working on a new PR that will force server to have NodeJS version >= 11.x
check your version to be sure to be able to use dr4ft!

[2019-02-25 22:59] tooomm commented on #314
As stated in #320, this is not fixed.

However, you find more details and explanation about the issue there.

[2019-02-25 23:27] tooomm opened #351 "iPad: title of download box displayed wrong"
Running iOS 12.1.4

Once in a game, there are boxes for "Lands", "Settings" etc.
While their titles are displayed correctly, the "Download" box title label is stretched over all box length.

On Windows with Firefox the same box looks ok.

[2019-02-25 23:36] #16 closed

[2019-02-26 09:41] #25 closed

[2019-02-26 09:41] #27 closed

[2019-02-26 09:41] #68 closed

[2019-02-26 09:41] #350 closed

[2019-02-26 09:53] HerveH44 commented on #24
@dev-id @ZeldaZach What do you think? Can we close this?

[2019-02-26 10:08] tooomm opened #357 "issues with new box layout"
This is related to https://github.com/dr4fters/dr4ft/pull/346 and https://github.com/dr4fters/dr4ft/pull/352

- when there are only fewer people (2 friends doing a sealed for example), there is a gap between `Game` and `Settings` box:
![layout1](https://user-images.githubusercontent.com/9874850/53404651-61d9b700-39b6-11e9-9a87-c6241c0484de.png)

- the distance between boxes is not identical, maybe

[2019-02-26 14:28] HerveH44 commented on #107
@tooomm I am working on a fix:
![peek 2019-02-26 15-27](https://user-images.githubusercontent.com/16805904/53419987-32897100-39db-11e9-8b4f-a9469bdd7fd3.gif)

[2019-02-26 16:46] #65 closed

[2019-02-26 16:51] #85 closed

[2019-02-26 16:53] #40 closed

[2019-02-26 17:05] #77 closed

[2019-02-26 17:05] #107 closed

[2019-02-26 17:22] ZeldaZach commented on #24
Yep!

[2019-02-26 17:22] #24 closed

[2019-02-26 17:31] ZeldaZach commented on #28
Just tested, this is still an issue

[2019-02-26 17:59] ZeldaZach commented on #351
Do you have a screenshot?

[2019-02-26 19:56] #259 closed

[2019-02-26 20:02] #70 closed

[2019-02-26 20:02] ZeldaZach commented on #302
cc: @benjaminpwagner

[2019-02-26 20:03] ZeldaZach commented on #116
Dupe #42

[2019-02-26 20:03] #116 closed

[2019-02-26 20:24] HerveH44 commented on #39
So there's no point in this issue right? If nobody cares to have MTGO export (nobody seems to have replied on this ticket), I'm wondering if we should ...

I also don't have MTGO so can't help

[2019-02-26 20:27] ZeldaZach commented on #39
Same, this isn't too useful imo.

[2019-02-26 20:27] #39 closed

[2019-02-26 20:35] #28 closed

[2019-02-26 20:47] ZeldaZach commented on #351
<img width="340" alt="screenshot 2019-02-26 15 44 23" src="https://user-images.githubusercontent.com/7460172/53445080-bf352e80-39dd-11e9-8235-786819ac84df.png">

Duplicated on safari

[2019-02-26 21:32] #42 closed

[2019-02-26 22:19] #26 closed

[2019-02-27 01:03] clarle commented on #302
What was it originally based on? Just log data from dr4ft.com of popular cards people were drafting?

[2019-02-27 07:39] ZeldaZach commented on #351
cc: @benjaminpwagner

[2019-02-27 07:40] ZeldaZach commented on #114
Dupe #64

[2019-02-27 07:40] #114 closed

[2019-02-27 07:41] ZeldaZach commented on #99
My idea is to try and do a "merge" of the files, and then if it fails offer a solution similar to how apt does it (open a shell to investigate, view diff, use yours, use maintainers)

[2019-02-27 10:11] HerveH44 commented on #347
Hi @trsbox , I'm closing this issue now. If you have any new problem, don't hesitate to open a new issue!

[2019-02-27 10:11] #347 closed

[2019-02-27 10:21] HerveH44 commented on #3
So where do we want to go?

Let people upload cubes lists - and let them override others?
or have fixed lists in the repo?

[2019-02-27 13:48] tooomm commented on #351
![img_0052](https://user-images.githubusercontent.com/9874850/53494711-a93b7280-3a9e-11e9-8a65-0c923727e550.PNG)

[2019-02-27 13:57] tooomm opened #368 "Game type is displayed lowercase"
- before starting a game
![img_0056](https://user-images.githubusercontent.com/9874850/53495211-c02e9480-3a9f-11e9-8b74-18a7d80b382b.PNG)

- when game is running
![img_0053](https://user-images.githubusercontent.com/9874850/53495208-be64d100-3a9f-11e9-883e-8c9e7db09249.PNG)

Screens are from an iPad, but same is true on Firefox/Windows.

[2019-02-27 14:01] tooomm opened #369 "Remove unused info for non-draft modes"
In the `Player` widget, the information about `packs` and `time` should not be visible when doing sealed etc.
They are only useful for draft type games and could lead to confusion. Instead displaying a `0`, nothing should be displayed or a `-` might be more clear.

[2019-02-27 14:34] tooomm opened #371 "bug: pick timer broken on last pick"
With disabled immediate auto pick for the last card, there is a timer issue.
The timer should still run for the last card and auto pick after the timer run out.

![timer](https://user-images.githubusercontent.com/9874850/53497745-27027c80-3aa5-11e9-808c-d9effd5b3dee.png)

CC: @HerveH44

[2019-02-27 19:41] ZeldaZach commented on #371
This is more an issue for @benjaminpwagner probably

[2019-02-27 19:42] ZeldaZach commented on #368
We fixed this last night, forgot to deploy.

[2019-02-27 19:50] tooomm commented on #368
Type is displayed lowercase though
![type](https://user-images.githubusercontent.com/9874850/53518442-54651f80-3ad1-11e9-986b-06b07bf70ecf.png)

[2019-02-27 20:14] tooomm opened #373 "4 pack sealed shows up as 6 booster in game info"
![untitled](https://user-images.githubusercontent.com/9874850/53519860-888e0f80-3ad4-11e9-89f7-2a94806fe4e5.png)

[2019-02-27 22:01] ZeldaZach commented on #373
Seems like fourPack is undefined when checked against. I'm trying to see what's up.

[2019-02-27 22:41] #371 closed

[2019-02-27 22:42] #368 closed

[2019-02-27 22:59] #69 closed

[2019-02-28 11:07] HerveH44 commented on #99
Do you know any good JS library that could merge files ?

I feel a bit insecured about trying to merge 2 JS files ...

[2019-02-28 17:56] #373 closed

[2019-02-28 17:57] #369 closed

[2019-03-01 09:43] ZeldaZach opened #379 "Crash Report"
Crash when updating card database.

[code]

Seems to crash quite often when trying to update the card database..

cc: @HerveH44

[2019-03-01 13:35] HerveH44 commented on #379
Hey @ZeldaZach , the output you copied doesn't show any crash. In fact, every hour the app checks for a new version of Allsets.json

[2019-03-01 19:03] #379 closed

[2019-03-01 19:03] ZeldaZach commented on #379
I think it was based on me no longer `nohup`ing the startup

[2019-03-03 03:37] #64 closed

[2019-03-03 03:37] #149 closed

[2019-03-06 03:51] #3 closed

[2019-03-06 04:23] #45 closed

[2019-03-06 04:44] #351 closed

[2019-03-06 07:49] ZeldaZach opened #387 "Use better mana symbols"
[symbology.zip](https://github.com/dr4fters/dr4ft/files/2935030/symbology.zip)

use the mana symbols from that zip file instead of the meh ones we pull from wizards :)

[2019-03-06 07:50] ancestral opened #388 "Portal, Portal: Second Age, Portal: Three Kingdoms, and Starter 1999 missing"
Portal, Portal: Second Age, Portal: Three Kingdoms, and Starter 1999 are all missing. They were all products Wizards sold booster packs with.

Set codes (per MTGJSON):

POR
P02
PTK
S99

[2019-03-06 08:01] HerveH44 commented on #387
Is there a website where we could download them (and not overcharge our bundle)? Or we put them directly in our website?

[2019-03-06 08:01] ZeldaZach commented on #387
My thought is to throw them into a resources/ folder in the repo (only the ones we'd need)

[2019-03-06 08:30] HerveH44 commented on #388
Theses are all with type "starter" in MTGJSON. I don't think they are supposed to be playable, but I'll have to investigate it a bit more.

We'll have to check about the playability of all starter sets I think. We block these sets from being playable in the file src/data line 50

[2019-03-06 08:43] ZeldaZach commented on #388
Should probably just put a check in to allow any set with more than 100 cards that's not a promo set

[2019-03-06 14:43] ancestral commented on #388
Careful, that would leave out Arabian Nights then.

Is there a way to identify sets that were sold as booster packs?

[2019-03-06 14:43] tooomm opened #389 "improve pre-selected default sets"
The default pre-selection is `Modern Horizons` from type `draft_innovation` currently.
Therefore I assume that always the most current set gets preselected when users come to the page for the first time?

For the majority of users though, this special sets are not interesting and since mtgjson has so much more of these now a better pre-selection could be to focus on sets from type core, expension

[2019-03-06 14:46] tooomm opened #390 "Set_type in set list dropdown not capitalized"
- capitalize `set_type` value used for grouping of sets in the dropdown list
- convert `_` to normal "spaces" in the set_type value to give it a normal look

[2019-03-06 16:43] benjaminpwagner commented on #389
I agree, it should probably default to the most recent standard set / set combo, i.e. What they are doing at FNM like you said.

[2019-03-06 20:12] #387 closed

[2019-03-06 20:12] #389 closed

[2019-03-06 20:12] #390 closed

[2019-03-07 00:40] ZeldaZach opened #392 "Host Option - Force Hidden Draft"
With the new feature of #45 added, we should have an option for a host to "force" this mode onto players. To make this work as expected, we'll also need to add a timer in between packs so players can view their cards and move things around from main and side.

[2019-03-07 00:42] ZeldaZach commented on #388
Not easily... but frankly, we could just list all non-promo, non-fromthevault, etc sets

[2019-03-07 03:22] tooomm commented on #389
Thanks for taking care of this smaller things as well. 👍

[2019-03-07 19:26] tooomm opened #393 "modern horizons draft errors on start"
Doing a draft with 3x modern horizons errors currently

[2019-03-08 03:48] ZeldaZach commented on #393
Modern Horizons has 2 cards, so it doesn't work. Not a shocker, and nothing we can do about it until the set is spoiled. Non-issue here.

[2019-03-08 03:48] #393 closed

[2019-03-08 10:01] tooomm commented on #388
Something like that would have prevented that a not fully spoiled set with only 2 cards shows up already (https://github.com/dr4fters/dr4ft/issues/393).

[2019-03-08 10:03] tooomm commented on #393
The error message could be more helpful then, telling you that the set has too few cards or something.

<br>

Anyway, such a set should then never be available in the dropdown in the first place!

Are sets beeing added to mtgjson during spoiler season successively?
I wasn't aware spoilers are beeing included... what's the source for that data then?

[2019-03-08 18:02] dev-id commented on #302
src/make/score pulls from an oooold couchdb that Aeosynth set up. hasn't been updated since around RTR.

[2019-03-08 19:55] ZeldaZach commented on #302
Sounds like we should change it to use the new draft stats, as well as data from draftSim

[2019-03-17 06:11] ancestral commented on #388
Can you just hardcode these?

[2019-04-07 11:11] HerveH44 commented on #392
I have some thoughts about this issue. I wanted to do it this weekend, but after a bit I got convinced that we shouldn't do it.
Neither MTGO nor MTGArena have introduced this kind of behaviour, I feel that's for a good reason. Maybe it's because you can't control that your opponent is not cheating this rule (like doing print screen of picks/packs or just writing the picks on paper), maybe it's for

[2019-04-07 11:18] tooomm commented on #392
Some people play with friends where trust is not that much of an issue, or they simply don't care.
Others want to do it just for themselves to practice and simulate a real paper draft for preparation reasons.

I've no idea how one should properly simulate hiding his picks...

[2019-04-08 03:14] ZeldaZach commented on #392
Yeah I can see Herve's point. This is moot, and we give them the option to hide if they so desire.

[2019-04-08 03:14] #392 closed

[2019-04-09 08:01] tooomm opened #432 "Spoiler sets are selected as default when no former selection is known"
Spoiler sets should be in their own category and not pre-selected in any situation.
Personally I think they should not be present at all unless fully spoiled because there is no real use in playing a draft with them.

Does it make sense to drop all sets which have a smaller card count than their base or total set size?
Or at least use that indication to place them in a spoiler group in the dropdow

[2019-04-18 23:41] netn10 opened #439 "War of the Spark doesn't work..."
While trying to start a game with War of the Spark boosters, this message appears:
Whoops! An error occurred while starting the game. Please try again later. If the problem persists, you can open an issue on the Github repository: https://github.com/dr4fters/dr4ft/issues

[2019-04-19 03:23] hitz commented on #439
confirmed, if any pack is WAR

[2019-04-19 16:35] Blitzace91 opened #442 "can't draft War of the Spark on dr4ft.info"
Hey.

Whenever i try to start a draft of War of the Spark it shows an error message.

[2019-04-19 21:19] tooomm commented on #442
Dupe, see https://github.com/dr4fters/dr4ft/issues/439

[2019-04-19 21:19] #442 closed

[2019-04-20 19:54] #439 closed

[2019-04-20 20:22] hitz opened #444 "WAR has Guildgates?"
I did a WAR sealed and got a simic guildgate and 8 planeswalkers.   Maybe the second is allowed but pretty sure the first isn't :)

[2019-04-20 20:36] ZeldaZach commented on #444
Each pack gets a planeswalker, that is confirmed. We have no confirmation if guildgates are included or not, but this seems fine right now. I'll re-address after pre-release if needed.

[2019-04-20 21:34] Raszero commented on #444
Hey Zelda, the pre-pre release from LRR happened and theres no guildgates.

I appreciate you having this up so quick massively, but I was holing to use this to practise for Magicfest London (which is WAR Sealed on pre-release weekend) so if you could update this before it'd be a massive help.

[2019-04-20 23:14] HerveH44 opened #445 "War of spark needs fixing"
There should be only 1 planeswalker (either Rare/mythic or Unco) not both.
No guildgates.

[2019-04-20 23:23] ZeldaZach commented on #444
Gotcha I’ll look at addressing tonight then

[2019-04-20 23:57] Raszero commented on #444
Sweet, thanks! FYI The 2 guildgates are in because of the planeswalker decks, thats why they popped up

[2019-04-21 03:20] #445 closed

[2019-04-21 13:57] artofvs commented on #444
All the cards with collector number more than 264 should not be in packs. There is 11 of them (https://scryfall.com/sets/war?order=set at the bottom)

[2019-04-21 17:06] HerveH44 commented on #432
@ZeldaZach could you set a field on MTGJson to indicate if a SET is still in "Spoiler" time or full? We could filter on it then and not show it on the list

[2019-04-21 18:23] SeismicLawns commented on #444
Guildgates have been removed, but Planeswalker deck cards are still in, incorrectly (collector's numbers 265-275). Cards like Jace's Projection aren't meant for limited.

[2019-04-21 18:26] ZeldaZach commented on #444
The issue is I need a new MTGJSON build to fix it. I have the wrong base size. I’ll need to wait a few more days. Sorry.

[2019-04-22 02:19] ZeldaZach commented on #444
Fixed

[2019-04-22 02:19] #444 closed

[2019-04-22 02:20] ZeldaZach commented on #432
I'll work on it. Open a ticket there

[2019-04-23 22:15] ZeldaZach opened #449 "Chat duplication"
In a game, if I close chat and reopen, then send msg it appears twice. maybe it's because one is me sending and the other is a global receive? Seems off and a regression

[2019-04-24 15:47] HerveH44 commented on #449
Hey Zach,

I can't reproduce. What do you use exactly?

I tested on Ubuntu18.04 Firefox and Chrome and it's working as expected.

[2019-04-24 19:16] ZeldaZach commented on #449
🤷‍♂️ It was buggy in my 3 player, 5 bot game last night. Single player i don't see the issue.

[2019-04-25 01:33] MotherofRuins opened #450 "Hover image always hidden in bottom right corner"
Chrome 73.0.3683.103
Firefox 66.0.3

Previously when hovering over a card in your pool, with Column View selected, you could see the card image in the lower right corner of the browser tab.  Now, all you can see is the left-most edge of the black border.  Widening the window does nothing, it is always just off the palette.  With Show Chat unchecked, the image is displayed.

![Image2](https://user-

[2019-04-29 02:27] ZeldaZach opened #454 "Pack Building"
For modern-based sets, packs should be generated as follows (afaik):

1 card from pool of red commons
1 card from pool of green commons
1 card from pool of blue commons
1 card from pool of black commons
1 card from pool of white commons
1 card from pool of colorless/land, if applicable
4 card from pool of commons not already selected
3 uncommons, of which they are not _all_ the same color (i.e. re

[2019-04-29 11:47] tooomm opened #461 "Investigate compatibility with newest node 12"
See https://github.com/dr4fters/dr4ft/pull/453#issuecomment-486971777

All builds are failing currently, due to the default node bump at travis to version 12.

Hint: Possible incompatibility between node 12 and gulp 3 (https://github.com/dr4fters/dr4ft/pull/466#issuecomment-491619838)

---

Tweak travis again after this is addressed (--> https://github.com/dr4fters/dr4ft/pull/468)

[2019-04-29 16:04] HerveH44 commented on #454
How can we distinguish if a set is "Modern-based" from MTGJson?

[2019-04-29 18:08] ZeldaZach commented on #454
We can just say sets based on date are modern. Pick 8th edition forward.

[2019-05-05 18:14] MotherofRuins commented on #454
Try to leave out cards only available in Planeswalkers decks

[2019-05-05 18:14] ZeldaZach commented on #454
The `isStarter` flag indicates cards that cannot appear in packs. We already ignore this

[2019-05-05 18:30] MotherofRuins opened #465 "Beep on first pack missing (Pack 1 / Pick 1)"
Please have the Beep occur for the first pack as well as all subsequent.  I rely on that beep when multitasking while room fills.

[2019-05-06 00:03] tooomm commented on #465
Did I get this rigjt? It works for pack 2 and 3?

[2019-05-06 20:55] MotherofRuins commented on #450
Suggest chat be made a floating window like the others at the top

[2019-05-13 17:11] lukasschwab opened #476 "WAR planeswalkers always show as Japanese-language version"
Draft/sealed War of the Spark packs include Japanese-language alternate art planeswalkers instead of their English-language equivalents; all the other cards are English-language.

<img width="259" alt="Screen Shot 2019-05-13 at 10 08 44 AM" src="https://user-images.githubusercontent.com/4955943/57640468-77975b00-7567-11e9-98c4-7ed81dc89416.png">

This is new in the last 24 hours.

[2019-05-14 04:16] MotherofRuins commented on #476
Please revert.

[2019-05-14 04:51] MotherofRuins commented on #465
The beep happens for all packs except Pack 1 Pick 1

[2019-05-14 06:16] tooomm commented on #465
Thanks for the clarification that only the very first pick in the first pack is problematic.

Hopefully Zach or Herve can have a look.

[2019-05-14 06:32] tooomm commented on #449
In my draft with 7 bots, hiding and showing the chat window again doesn't make new message that I post appear twice. Also closing the page and reopening the game url changes nothing.

Maybe several real players have to be involved.

[2019-05-14 06:39] ZeldaZach commented on #476
This revolves around us needing to validate inputs better. We need to parse out all isAlternatives probably.

[2019-05-14 09:28] tooomm commented on #461
Is this fixed somehow? I couldn't find notes that travis got updated?! Node version is still 12.2.0
https://docs.travis-ci.com/user/build-environment-updates/#linux-build-environment-updates

When I implemented the temporary "fix" travis was still failing:
https://travis-ci.com/dr4fters/dr4ft/builds/111317014
3 days later it worked again: https://travis-ci.com/dr4fters/dr4ft/builds/111496198

Same

[2019-05-17 04:02] MotherofRuins commented on #465
Windows 7 SP1
Chrome  74.0.3729.157

[2019-05-17 08:45] tooomm commented on #465
With Chromium Version 74.0.3689.0 it works for me, too...

[2019-05-17 22:11] 7stringplayer opened #481 "Cards missing from Cube"
I like to do a cube with all the cards that exist in magic.  It says there is about 184 cards that are missing.  A lot of these cards are from Dominaria for some reason.

[2019-05-17 22:53] 7stringplayer commented on #481
Nevermind it was a punctuation error.  I'm having trouble with cards that have german characters though like lim-duls and jotan owl keeper.  Also some of the double cards like farm//market

[2019-05-18 00:53] #481 closed

[2019-05-18 02:30] 7stringplayer opened #482 "Time Spiral"
Time shifted cards are missing from Time Spiral packs

[2019-05-21 16:41] #461 closed

[2019-05-25 05:56] tooomm commented on #432
Reply from @ZeldaZach on closing the request at mtgjson:

[2019-05-30 20:08] http404error commented on #454
I've been doing some research lately into the statistics of pack generation and while your model is not bad, I think it can be improved further (without going as far as replicating print runs themselves). I don't have a super-solid model yet (and I don't have enough info on artifact or multicolor sets yet, or how foils change the other assumptions).

The biggest takeaway I'm confident claiming so

[2019-05-31 15:14] tooomm commented on #476
I guess many users looked for other services because this isn't fixed.

[2019-06-01 20:42] Luke-Patterson opened #495 "Modern Horizons packs don't have snow basics in sealed"
Pretty much what the title says.

[2019-06-01 22:44] tooomm commented on #495
The problem only occurs in sealed? In draft it works for you?

[2019-06-02 01:43] samfin commented on #495
Draft doesn't work either.

[2019-06-02 02:37] ucyd commented on #495
There should be one per pack.

https://magic.wizards.com/en/articles/archive/card-preview/modern-horizons-tokens-and-art-series-2019-05-30

[2019-06-02 02:45] ucyd commented on #482
I noticed that. Time spiral packs are put from 2 sets.

Do the timeshifted cards have some sort of rarity between then, or are they all "timeshifted common"?

[2019-06-02 03:26] #495 closed

[2019-06-02 14:48] ucyd commented on #454
Well, the Magic 2015 "postmodern" border was created to collate sets better. I'd guess ensuring that all colors are represented would have been easier from m15 afterwards.

@http404error @ZeldaZach do you get any source on that info?

[2019-06-02 14:57] ucyd commented on #388
I'd guess is doable. I'm trying to get time spiral done, i'll probably look at it.

Do these starter sets follow the usual distribution for booster packs? Portal 02 does not have a boosterV3 value on mtgjson.

[2019-06-03 00:05] 7stringplayer commented on #482
No it was just a random one per pack

On Sat, Jun 1, 2019 at 9:45 PM ucyd <notifications@github.com> wrote:

[2019-06-03 19:14] http404error commented on #454
@ucyd The "rules" are derived from how print runs work. What we know about print runs is based on a mix of some public knowledge about printing, some statements by Wizards, and just collecting data by opening boosters. By seeing patterns in how the print runs are laid out, we can infer the rules/ideals that Wizards uses to create them, and replicate those rules without doing the full process ourse

[2019-06-15 16:01] MotherofRuins opened #509 "Can draft with more than 3 packs"
If you choose any number of packs greater than 3, it lets you create the room.  In the room it might say, eg. "Info: MH1 / MH1 / MH1 / MH1 / MH1 / MH1 / MH1".  But it stops generating new packs after drafting the third pack.

[2019-06-15 19:46] HerveH44 commented on #509
Working on it. There is something blocking the draft to 3. I'll publish a pull request ASAP

[2019-06-15 22:28] #509 closed

[2019-06-16 10:54] tooomm opened #512 "advanced hide packs feature"
While https://github.com/dr4fters/dr4ft/pull/385 implemented a first working version of https://github.com/dr4fters/dr4ft/issues/45...

...there are some things left that expand the feature further:

[2019-06-17 21:11] HerveH44 commented on #357
@benjaminpwagner  I can't remember why there's a control on the "Setttings" Panel to put it behind the player panel. It seems really odd to me, and it doesn't seem to be correlated with your nice timer HUD because it works nice whereever is the settings panel. Do you remember maybe ?

[2019-06-17 21:30] #450 closed

[2019-06-18 02:49] #388 closed

[2019-06-18 03:39] 7stringplayer commented on #482
Doesn’t look like it’s fixed

On Mon, Jun 17, 2019 at 10:58 PM Zach H <notifications@github.com> wrote:

[2019-06-18 03:39] ZeldaZach commented on #482
Will rebuild .info at some point tonight or tomorrow

[2019-06-19 02:32] ZeldaZach commented on #449
Prob an issue that I caused somehow. Will close for now.

[2019-06-19 02:32] #449 closed

[2019-06-19 06:30] tooomm commented on #482
Tried to start a game with 3xTSP and the game crashes.
3 other Boosters work fine...

[2019-06-19 07:07] HerveH44 commented on #482
@ZeldaZach
Have you reconstructed the sets? It could be the reason the game crashes, because it couldn't find TSB set. To be sure, just run "node src/make/update_database.js"
Also, could it be possible to get the logs?

[2019-06-19 11:17] ZeldaZach commented on #482
Yeah I forgot to update sets. Try again

[2019-06-19 12:10] tooomm opened #518 "Have proper version + date in footer"
Not only show the commit as version, but also the version if it's a tagged commit.
As well as a build date of the website 👍

Example: `Running Version: v0.2.4 (build on 2019-06-19)`

[2019-06-19 14:27] tooomm commented on #482
Same. Game crashes

[2019-06-19 15:45] HerveH44 commented on #482
@ZeldaZach if you paste the logs, I think we can find the problem. It works fine on my computer (after clean installl)

[2019-06-19 15:48] ZeldaZach commented on #482
Working until 5ish but I’ll clean the data folder again later tonight and get logs here

[2019-06-19 15:49] HerveH44 commented on #482
Thanks!

[2019-06-19 21:49] ZeldaZach commented on #518
I could agree with this

[2019-06-20 01:53] ZeldaZach commented on #482
Cleaned and rebuilt and tested. Works as expected.

[2019-06-20 01:53] #482 closed

[2019-06-20 07:43] HerveH44 commented on #518
There is no real "build", only the frontend is transpiled but i'm not quite sure there is an information about when.

Only thing we could do is take the information on Git last commit date

[2019-06-20 08:01] HerveH44 commented on #518
TODO: check that webpack plugin : https://www.npmjs.com/package/git-commit-info-webpack-plugin

Maybe others exist too.

[2019-06-20 08:15] HerveH44 commented on #518
We could also get the version of MTGJson sets we used ...

[2019-06-20 11:16] ZeldaZach commented on #518
Can show git date/hash and mtgjson date/version on the page

[2019-06-20 14:51] HerveH44 commented on #518
![image](https://user-images.githubusercontent.com/16805904/59858645-ac26df80-937b-11e9-86fa-1027ef2f7d2d.png)

[2019-06-20 15:43] tooomm commented on #518
If the commit is a tagged version we don't have to display its hash - can we only link to the release in that case?

With the date, it might be easier to simply have `build 2019-06-20`, or at least without day of the week `build Jun 20, 2019`

[2019-06-20 23:25] derektumolo opened #520 "commit // memory and never // return don't parse in cubes"
http://www.cubetutor.com/viewcube/107859

connive // concoct works when i fix it, but Never // Return doesn't parse, and neither does Commit // Memory

[2019-06-21 04:00] ZeldaZach commented on #520
cc: @HerveH44

[2019-06-21 11:27] #520 closed

[2019-06-21 13:14] HerveH44 commented on #302
@ZeldaZach  @tooomm should this one be closed?

[2019-06-21 13:15] HerveH44 commented on #465
@MotherofRuins could you try with another browser just to see if it comes from Chrome?

From source code, we don't make any difference between p1p1 and any other pick.

[2019-06-21 14:42] tooomm commented on #302
We elaborated where the data comes from, but the data is still heavily outdated.

@ZeldaZach mentioned a possible next step here - we can keep it open to track that? Maybe rename the ticket?

[2019-06-21 14:43] ZeldaZach commented on #302
Rather get a new ticket up. We need to create scrapping and import tools to get data. I have some sources.

[2019-06-21 14:43] ZeldaZach commented on #465
I have no issue with this personally...

[2019-06-21 16:56] derektumolo commented on #520
Just to confirm, is Commit // Memory fixed as well? It's not aftermath, just split.

[2019-06-21 17:19] ZeldaZach commented on #520
C/M is an aftermath card... 😅

[2019-06-21 17:27] derektumolo commented on #520
So it is....
Got confused. Cubetutor export also broke connive // concoct and expansion // explosion (exported without second half).
Thanks for fixing so quickly!

[2019-06-24 04:13] MotherofRuins commented on #465
Here's the best information I have so far:

Chrome or Firefox, hosted 8 man drafts with bots, it works properly.
(IE I was unable to give javascript permission)

Chrome, 8 man real draft, hosted by someone else, p1p1 no beep, all 35 others are there.
So, does the beep work for the host but not the others?
Next step is host an 8 man real draft, it may take a while, will advise

[2019-06-27 03:30] MotherofRuins opened #527 "M20 only has White and Blue Cards"
Draft or sealed

[2019-06-27 03:44] MotherofRuins commented on #527
That was fast, thanks

[2019-06-27 07:29] tooomm commented on #527
What happened? :) Does it work now?
Then close the issue please.

[2019-06-27 11:55] #527 closed

[2019-06-28 20:46] thinkingofmaud opened #529 "Core 20 dual lands"
In Core Set 2019, there was a chance to get a tapped dual land in the basic land slot. This is also true for M20, but we've changed which cycle of tapped lands and added another land.

https://magic.wizards.com/en/articles/archive/card-preview/fire-it-2019-06-21

[2019-06-29 02:52] thinkingofmaud commented on #529
https://github.com/dr4fters/dr4ft/commit/5ba55bd0c5775eeed400dd3521dfef1b8def8493

[2019-06-29 02:53] #529 closed

[2019-07-05 17:10] #518 closed

[2019-07-05 18:45] tooomm opened #539 "improvements to how versions are displayed"
following up on #522

**Currently:**
"Running Version: v0.2.4 (build 2019-07-05) commit 0eb01f4. Using cards from [MTGJSON](https://mtgjson.com/) version: v4.4.2 (2019-06-26)"

**Could be:**
"Running Version: [v0.2.4](https://github.com/dr4fters/dr4ft/releases/tag/v0.2.4) (build 2019-07-05) – Using [MTGJSON](https://mtgjson.com/) card data [v4.4.2](https://mtgjson.com/changelog/#_4-4-2-2019-06-26)

[2019-07-08 02:50] MotherofRuins commented on #465
Host a draft locally.  Join said draft remotely from another computer.  Start draft.  Beep happens.

Host a draft on remote computer.  Join said draft locally.  Start draft.  Beep does not happen.

It appears that all beeps occur for the draft host and all but p1p1 occur for guests.

The p1p1 beep is the most important one, because if a person is a guest and they join a draft but get sidetracked,

[2019-07-14 20:05] #539 closed

[2019-07-20 03:00] ZeldaZach opened #558 "Allow card image override via special tag"
A user requested the ability to hotlink to images that are a-typical. Useful for custom sets.

Instead of directly pulling from SF, can pull from custom path instead.

[2019-07-20 03:02] ZeldaZach opened #559 "Create tool to convert Cockatrice.xml -> MTG.json"
Most custom sets people want to upload are Cockatrice-xml based. We should either accept them or create a tool to conver them to mtgjson-json format

[2019-07-27 10:51] caelen-feller commented on #559
While it's not a direct solution, it's worth noting that those who are making custom sets often have access to a Magic Set Editor file, which can be converted using [this project](https://github.com/fenhl/mse-to-json/). I've yet to get it to work when uploading to the site though. I'll open a seperate issue for that.

[2019-07-27 10:59] caelen-feller opened #565 "Error on custom set upload"
I get the following response on uploading the custom set during the http request to https://dr4ft.info/api/sets/upload, with status 400.

`"the json submitted is not valid: TypeError: Cannot read property 'includes' of undefined"`

The custom set json file can be found [here](https://gist.github.com/caelen-feller/aaa386b26a59e622029550a7cc27ce9e) and is a one card test file.

[2019-07-27 11:09] caelen-feller opened #566 "Feature Request: Non-Basic land slot/custom rarity slot for custom sets"
For custom sets, it would be ideal if cards could be marked in some way to allow for them to fill the basic land slot, to allow for non-basics in every pack, or a guaranteed legendary, etc. I know MTGJSON has a booster rarity array, if this is already used, that's excellent, though as I haven't been able to get custom sets to work properly so far I've been unable to test, sorry.

An option is usin

[2019-07-27 18:34] caelen-feller commented on #565
Update: The issue is a missing "supertypes" field. Probably easier to fix the tools which created this json file than support the derivation of this field from originalType or types, as I belive it is part of the standard which is missing. Please reopen if you feel it's worth supporting.

[2019-08-01 18:11] tooomm commented on #565
Could we validate those custom set files on upload against a xsd and print a more helpful error to the user?

[2019-08-01 18:40] caelen-feller commented on #565
I don't have that comparision, unfortunately. They were a private project with others I cannot share at this time, and were converted directly from an MSE file using [this project](https://github.com/fenhl/mse-to-json).

The script simply did add the "supertypes" field to cards. I modified the script to provide an empty supertypes array, ideally it would be the correct one, but this sufficed for m

[2019-08-01 18:56] caelen-feller commented on #565
For reference, given a Cockatice format XML, there is no `supertypes` field.
Here are the reference cards given in their docs:

`type` is not formally decribed for Cockatrice V3, but in both it should include  "The full type of the card, eg. Legendary Creature — Spirit Cleric". As such, it is possible to parse the supertype - here "Legendary" from it. However, for the purpose of drafting with huma

[2019-08-01 19:25] caelen-feller commented on #558
If you have an image hosting platform which ignores query strings such as `?format=&version=normal` at the end of urls at this time, this is already present in the form of the `url` field for cards, though this is an imperfect solution. You make this work by placing your card url in this field, and then adding a fake query string such as `?fakequery=this` to the end to make it a valid url as seen

[2019-08-01 19:38] caelen-feller commented on #566
Update: I've since gotten a set to work, and setting a card with `rarity: "special"` works by default, one is included in every pack randomly.

[2019-08-01 19:38] #566 closed

[2019-08-05 20:13] HerveH44 commented on #558
We could check the domain of the URL and don't add query param if it doesn't come from SF?

[2019-08-06 11:36] caelen-feller commented on #565
Sorry, the new error is on game start, this issue is irrelevant.

[2019-08-06 11:36] #565 closed

[2019-08-06 11:42] caelen-feller opened #575 "Error on Custom Set Game Start"
When starting a game with a newly uploaded custom set, the following error occurs. (Custom set in question is called UCV, currently cannot share the json)

Have others been able to play with custom sets, or is this a problem localised to me? I can given time put together a reference custom set for testing, but have not yet.

I have a proposed change which seems to fix this, will add when I tidy it

[2019-08-06 11:57] caelen-feller commented on #575
#576 Seems to resolve this issue

[2019-08-06 14:17] HerveH44 commented on #559
This should be a parser from cockatrice XML v4 or v3?

[2019-08-06 14:29] ZeldaZach commented on #559
V4 probably

[2019-08-06 20:00] tooomm opened #577 "ESLint cleanup + fix"
All travis builds throw a bunch of eslint errors since months.
https://travis-ci.com/dr4fters/dr4ft

Edit: It even errors completely and doesn't even run anymore.

[2019-08-07 12:55] caelen-feller commented on #577
I'll give it a try this weekend, would like to get to know the project more. Do you suggest just running the linter on it and working through the various issues, or are further complications expected?

[2019-08-07 12:57] ZeldaZach commented on #577
Hey @caelen-feller if you'd like to join us on the dev chat, we use Discord (https://discord.gg/74GUQDE) we can probably point you in a decent direction :)

[2019-08-13 22:24] tooomm commented on #432
This is now availalbe in 4.5.0:
"`isPartialPreview` to denote a set is in spoiler mode and may not be complete"

[2019-08-19 20:15] arobotcat opened #588 "Chaos Draft not working"
Hey love the site, I noticed that the chaos mode on draft isn't working. Not with total chaos or modern only. I cleared cache, tried several devices. I appreciate all that you all do!

[2019-09-11 19:47] thinkingofmaud opened #614 "Card Text Box"
Option to show the card text, instead of the card picture, on the dr4ft client.

[2019-09-21 01:54] Throwaway-Account1 opened #622 "Chaos Draft not working"
Hey! When I go on the website and try to chaos draft, no matter what settings I use, if I do a chaos draft the packs never load and nothing happens.

[2019-09-21 07:03] tooomm commented on #622
Problem confirmed for drafting.

Chaos Sealed works!

[2019-09-21 23:33] mythicrar opened #624 "ELD adventure cards on dr4ft need their names changed to work with cockatrice"
cockatrice doesn't read the adventure cards from dr4ft because they don't have the adventure in the name : so for example, "Ardenvale Tactician" is how the card name  appears from dr4ft but in cockatrice it's "Ardenvale Tactician // Dizzying Swoop"

[2019-09-22 04:40] mythicrar opened #625 "ELD - missing some commons and uncommons on the beta dr4ft site, probably some rares too"
bloodhaze wolverine and mad ratter for example

[2019-10-07 15:01] ebbit1q opened #645 "Selecting game mode cube breaks the page"
Since very recently the entire page just erases itself if you select the game mode cube.

You can open the page just fine but if you click the radio button every single element on the page is deleted.

[2019-10-08 00:14] ZeldaZach commented on #645
Just noticed this myself... super weird

[2019-10-08 00:24] ebbit1q commented on #645
Well it's really annoying.

[2019-10-08 00:27] ZeldaZach commented on #645
I reverted the break, will be redeploying

[2019-10-08 00:35] ebbit1q commented on #645
Fixed it https://github.com/dr4fters/dr4ft/commit/afc51a94ee5f2fcc27560ea9097d4aae22d0505f

[2019-10-08 00:35] #645 closed

[2019-10-12 18:10] tooomm commented on #645
Well, I pointed that already out 3 weeks ago in the initial PR: https://github.com/dr4fters/dr4ft/pull/626#issuecomment-533965113

I also informed Zach in Gitter... :/

[2019-10-16 13:12] tooomm opened #656 "Show more than one line/card for cube list"
Displaying just one single card name of all cube list is not great.

@queercat Do you want to look further into this?

[2019-10-19 16:34] t-moennich commented on #577
Sorry @caelen-feller , just din't saw any progress on this and so I create a first starting PR :hugs:

[2019-10-20 11:01] caelen-feller commented on #577
Ah, I messaged the discord about it to no reply after fixing it locally, and just forgot about it! Looks like we took more or less the same path, thanks!

[2019-10-20 12:13] tooomm commented on #577
Hmm, too bad your message in discord got somehow missed...
But happy to read your reply here and that you think his changes are similar to your approach.

[2019-10-24 18:12] braither90 opened #666 "problem with starting draft"
Hi all guys i have a problem with the site (dr4ft.info) i can create easily the draft room and people can join it but when i click "start game" gives me this error : "Whoops! An error occurred while starting the game. Please try again later. If the problem persists, you can open an issue on the Github repository: https://github.com/dr4fters/dr4ft/issues"
what can i do? :) thx so much for answer !

[2019-10-24 19:41] tooomm commented on #666
Which settings did you use to create the draft room?

Does it always happen? Also if you select other booster to draft with for example? Maybe there is a problem with a certain set. Can you give some more details, please?

[2019-10-24 22:26] Fyresis commented on #666
I've had the same issue the last few days. As far as I can tell, it applies to every format and every set, but I haven't tested all of them (I can confirm Throne of Eldraine and old ones such as Time Spiral don't work). Additionally, when trying to run a cube, it doesn't register any of the cards as existing, even on the presets. This issue happened maybe a year ago, but was fixed very quickly.

[2019-10-25 18:13] braither90 commented on #666
![dr4ft info](https://user-images.githubusercontent.com/56976279/67594076-dd694f00-f763-11e9-8843-08d6cdc90cc7.jpg)
i have this problem, i tested with some packs of standard, 3 ,4 ,5 packs and always same message

[2019-10-25 21:16] tooomm commented on #666
Did some data at mtgjson change that we rely on maybe @ZeldaZach ?

[2019-10-29 13:24] #577 closed

[2019-10-29 16:22] tooomm commented on #666
@braither90  @Fyresis
Does the problem persist for you?

It seems to work for me. Tried with 3xM20 and 3xELD.

[2019-10-29 16:24] Fyresis commented on #666
@tooomm
It's fixed as of like 2 days ago. Seems someone got to it.
Thanks :)

[2019-10-29 16:40] tooomm commented on #666
Great! Thanks :)

If you let us know next time that helps everybody seeing this issue report.

[2019-10-29 16:40] #666 closed

[2019-11-04 07:12] tooomm commented on #622
Another current report on reddit: https://www.reddit.com/r/Cockatrice/comments/dpxyoq/dr4ftinfo_chaos_draft/

[2019-11-06 22:39] tooomm opened #679 "Automatic card updating not working"
Automatically pulling newest mtgjson data and refreshing the card database dr4ft uses while running does not work.

I think @HerveH44 implemented that?

[2019-11-07 07:36] HerveH44 commented on #679
Hi,

Could you produce a JSON you want to integrate? If you tried on your own server, what output did it give?

I can have a look on my own server, but can't do much on the server "dr4ft.info" as I can't access it.

[2019-11-08 18:59] tooomm commented on #679
Am I wrong? I was pretty sure the server updates its card database from mtgjson automatically from time to time and checks for newly available data?

Does this work on your server @HerveH44 ?

Only @ZeldaZach has access to dr4ft.info.

[2019-11-15 17:31] #679 closed

[2019-11-17 23:57] tooomm opened #686 "Wrong terminology for "card image quality""
Currently, for "card image quality", the options `small`, `normal` and `large` are offered to the user. These terms normally refer to sizes.
As the dimensions are not changing, but quality is... use e.g. `low`, `medium` and `high` as more appropriate terms.

[2019-11-17 23:59] tooomm opened #687 "Improve displayed zone names in the interface"
`Main` --> `Main Deck`
`Side` --> `Sideboard`

[2019-11-18 00:04] tooomm opened #688 "Auto hide chat if game is started with only one player"
If a player is the only person in a game room and still starts, he doesn't need the chat as there is nobody else he could talk with. :)

I for myself do sometimes pool building practise for sealed. Alone.
First thing I do after I started the game is to hide the chat - every single time I open a new pool. It just takes up valuable space and is of no use for single player rooms imo.

[2019-11-24 13:49] tooomm opened #692 "New mtgjson version pattern breakes link to changelog"
Homepage reads:
![dr4ft](https://user-images.githubusercontent.com/9874850/69495599-0bf45a00-0ec9-11ea-8bdc-120df27c17a9.png)

Clicking the mtgjson version used to correctly link to the changelog on the mtgjson site.
Link is: https://mtgjson.com/changelog/#_4-6-0+20191122-2019-11-22
Should be: https://mtgjson.com/changelog/#_4-6-0-2019-10-28

The new daily builds and their date appended to the sem

[2019-11-26 16:22] HerveH44 commented on #692
The problem is that the version in [mtgjson.com/files/version.json](https://mtgjson.com/files/version.json) doesn't correspond to the actual changelog version. The version found is always appended with the build metadata (things that follow a plus sign) which doesn't exist in the changelogs.

@ZeldaZach the build metadata (mostly the date of the build) isn't important right? I mean the semver rule

[2019-11-26 16:28] ZeldaZach commented on #692
Weekly builds only address issues found in the content (so it theoretically could be called a PATCH), but it can be safely ignored for the most part.

[2019-11-27 00:38] tooomm commented on #692
There are weekly builds?

I only knew about the proper releases (code changes only?) and the daily new price builds.

[2019-11-27 08:55] HerveH44 commented on #625
@mythicrar can you check again now? From my point of view the problem got solved with new updates of MTGJSon files

[2019-11-27 10:16] HerveH44 commented on #692
actually the changelog is made with also the date which is not right at the moment (last build at the moment of v4.6.0 is 2019-11-24 but the changelog indicates the date 2019-10-28).

@ZeldaZach could it be possible for you to either not show the date in the changelog (or at leat now in the tag to pin the changelog -> for example https://mtgjson.com/changelog/#_4-6-0 should be enough and not https

[2019-11-27 12:50] tooomm commented on #692
The changelog indicates the release of 4.6.0 version which was at 28th of october. That's correct.
Since then only daily price updates are run, that's why 4.6.0 stays the same and the date of price updates is appended. At least that's how I understood it.
I don't know what happens with those weekly builds zach mentioned and if other data get updated as well in the daily (and weekly?) updates?!

St

[2019-11-28 02:18] #692 closed

[2019-11-28 14:31] HerveH44 commented on #588
Hi,

@arobotcat Is it still broken? I tried different times on dr4ft.info and it worked fine.

[2019-11-28 14:31] HerveH44 commented on #622
duplicate #588

[2019-11-28 14:31] #622 closed

[2019-11-28 16:59] tooomm opened #712 "Hide unnecessary options in sealed mode from UI"
- "Hide your picks"
- "Beep on new packs"

[2019-11-28 17:05] tooomm commented on #588
@HerveH44 Yes, problem persists for me.
Tried with the heroku version of your recent PR and on dr4ft.info.

One can start a Chaos Draft, but no cards show up to pick... :)

[2019-11-28 17:21] tooomm commented on #624
There is finally a fix for this. 🙈
Sorry for the delay, we are reviewing it currently and then it needs to get deployed...

Thanks a lot for letting us now @mythicrar!

[2019-11-28 17:23] tooomm opened #713 "Make sure foil overlay is loaded after card image"
Only a tiny nitpick.

[2019-11-28 17:27] tooomm opened #714 "Only calculate and show Trice/MWS code when downloading respective files"
Maybe it makes more sense to only generate and show the codes when .cod and .mwdeck files get downloaded. Not for .txt or .json files.

[2019-11-28 19:52] #624 closed

[2019-11-29 08:19] HerveH44 commented on #614
What kind of text you would like exactly? If I remember correctly, we already show the card's name when the image can't be loaded.

[2019-11-29 08:20] HerveH44 commented on #588
Ok, I understand. The problem is Chaos Draft, not Chaos per se. I'll push a PR soon. It's an error since my last refactor of the pool.js

[2019-11-29 08:22] HerveH44 commented on #688
That's not so easy.

Would it be better if we would just save the state of the chat window? Since the creation of the chat component we don't save the state. But since messages are shown as "toasts" when the chat is closed, I think it could be simpler to just remember the state of the chat window. So if you close it during a game, your next game will have it closed to (and reciprocally)

[2019-11-29 08:46] tooomm commented on #614
I think he means the oracle text.

[2019-11-29 08:48] tooomm commented on #588
Yes. Only Chaos draft is affected as stated in the other issue.
Chaos sealed works!

[2019-11-29 08:53] tooomm commented on #688
You are right, it’s not saved currently!That would also help and the toasts make you not miss chats.

If checking for the human player count is not so easy.

[2019-11-29 11:18] tooomm commented on #465
@MotherofRuins I tested again and joined a game as guest. When the host starts the game I correctly get the beep for the first pack as well! (Firefox 70.0.1)

[2019-11-29 11:46] tooomm commented on #625
The two named cards are definitely available in between.
This is most likely solved with the new mtgjson data. As automatic card data updates should work soon again, we can prevent such issues in the future hopefully.

Feel free to reopen if there are still cards missing @mythicrar!

[2019-11-29 11:46] #625 closed

[2019-11-29 16:10] HerveH44 commented on #714
I wouldn't like that, you don't know how the players are gonna end up copying their file to cockatrice. I feel that it's best to keep generating the hash whenever they try to export the data.

But I'm open to implement this too. I don't play anymore so ...

[2019-11-29 18:33] #712 closed

[2019-11-29 18:34] #686 closed

[2019-11-29 18:34] #687 closed

[2019-11-29 18:34] ZeldaZach commented on #714
I'm on Herve's side here. Whenever someone downloads, I'm happy with it re-generating.

[2019-11-29 18:34] #714 closed

[2019-11-29 18:35] ZeldaZach commented on #614
Tom is correct here.

We'd want to show
[code]

in a bounding box

[2019-11-29 18:36] ZeldaZach commented on #688
I'm a fan of saving chat open/closed state to cookies

[2019-11-29 18:38] #588 closed

[2019-11-29 18:44] arobotcat commented on #588
Hey, it might be the pc that I'm trying it on, but the cards still aren't
showing up. They show up in all the other modes, but in chaos draft with
and without the total chaos selected it doesn't work (the cards don't show
up).

Love all the great work!

Evan

On Thu, Nov 28, 2019 at 8:31 AM Hervé Huneau <notifications@github.com>
wrote:

[2019-11-29 19:00] arobotcat commented on #588
Hey, I tried it on another computer and it worked fine!

Thanks so much for your help

On Thu, Nov 28, 2019 at 8:31 AM Hervé Huneau <notifications@github.com>
wrote:

[2019-11-29 19:00] ZeldaZach commented on #588
Aweseom!

[2019-11-29 19:22] tooomm commented on #714
Sure, fair enough. 👍

[2019-11-29 21:15] tooomm opened #719 ""Add picks to sideboard" option moves all cards around instead future picks only"
Maybe I understood this setting wrong?

I expected it to move cards that I pick during a draft to the sideboard when this is enabled, and once I disable it it moves new picks to the main deck.
That kinda works.

**But** it also *always* moves all cards from one zone to the other when the box is checked or unchecked. That is totally not expected and can mess around with picks or grouping of cards t

[2019-11-29 21:19] #302 closed

[2019-11-29 21:21] tooomm opened #720 "Use other sources for draft stats"
Follow up issue on https://github.com/dr4fters/dr4ft/issues/302#issuecomment-471055972

Currently, we use a very old and outdated database. @ZeldaZach mentioned that he has some sources.

[2019-11-29 21:38] tooomm opened #721 "Add a full timestamp with date to the chat"
Copied over from https://github.com/arxanas/drafts.ninja/issues/31, originally opened by myself.

<br>

Useful comment from the old repo:

[2019-11-29 21:42] tooomm opened #722 "Add desktop notifications as an alternative to beeping on new packs (and for chats)"
Copied over from https://github.com/arxanas/drafts.ninja/issues/7, originally opened by @arxanas

<br>
Also, there are notifications now once the chat is hidden for dr4ft.

It would be awesome, to have real browser based web-notifications for chats and/or new packs. Or when the pick timer runs below 15s for example.

[2019-11-29 21:57] tooomm opened #723 "If commit is a tagged release, show release tag over hash and link to release"
Currently
`Running Version: 93b8e19 (build 2019-11-29) - Using MTGJSON card data v4.6.0 (2019-11-28)`
is dispalyed.
But 93b8e19 is a tagged release ([v0.2.5](https://github.com/dr4fters/dr4ft/releases/tag/v0.2.5)), and it's tag (+link to the release page) should be displayed over the inexpressive commit hash.

I thought we have that working and there has been some PR's about that? @HerveH44

<br>

[2019-12-01 13:27] tooomm opened #725 "Hide up/down arrows for moving position of people for single players"
Hide or grey out/disable the up and down arrows used for positioning players in a game room as long as there is only one player.
In a single player game they are useless. One can click them, but nothing happens.

Alternatively (or even better?) those could always be hidden for the host player himself as he doesn't need them when he stays the only player.
In a multiplayer game he can adjust his own

[2019-12-01 20:33] #688 closed

[2019-12-01 21:21] HerveH44 commented on #723
We talked with @ZeldaZach the problem was the config.server.js file not updated

[2019-12-01 21:21] #723 closed

[2019-12-01 21:31] #465 closed

[2019-12-01 21:34] ZeldaZach commented on #719
"Add picks to sideboard" means any future pick gets added there instead. This works as intended.

[2019-12-01 21:36] HerveH44 commented on #719
@ZeldaZach he's right. The picks all go to the side. I'll do a PR

[2019-12-01 21:55] HerveH44 commented on #713
What's the problem exactly? of course it's a bit weird when you see the overlay first, but we can't do much as the foil is already cached and the card image isn't.

[2019-12-01 21:57] ZeldaZach commented on #713
Thinking about it further, I misread the ticket. The foil will appear over any spot no matter what. I thought it would be Card | Foil instead of Foil | Card, but that's not the case. Disregard.

[2019-12-01 21:57] #713 closed

[2019-12-01 22:01] tooomm commented on #713
Note: with https://github.com/dr4fters/dr4ft/issues/614 we might have to rethink the foil overlay to maintain readability for a foil text only card.

[2019-12-01 22:10] #719 closed

[2019-12-01 22:14] tooomm opened #728 "New zone names don't always display"
With #711 the zone names got improved.

They work fine as long as `Use column view` is NOT selected.
Otherwise the former names are displayed.

[2019-12-02 00:03] tooomm opened #729 "Foil effect only applies in non-column view"
Picked foil cards (or foils in opened packs in sealed) should still show the foil effect in `Main Deck`, `Sideboard` and `Junk` zones when the view is changed to `Use column view`.

[2019-12-02 13:44] #728 closed

[2019-12-02 13:56] HerveH44 commented on #454
@ZeldaZach it seems that it's still very unsure what to implement. Should we keep this issue open or close it and wait until a clear idea has arisen on the other ticket (mtgjson)?

[2019-12-02 14:02] ZeldaZach commented on #454
Upstream may never support a new version of boosters. I’ll write up my proposal for tonight here and we’ll just go with it. Will probably be similar to my initial post in this ticket.

[2019-12-02 14:08] HerveH44 commented on #99
I don't know if anyone is still using our repository for personal projects. In order to "simplify" the configurations I'd like to rewrite all the configuration using env variables and start from there.

@ZeldaZach @tooomm do you know anybody using this project ?

That would imply breaking the current configuration style. I really don't want to keep the configuration files as they are now, that rea

[2019-12-02 14:19] ZeldaZach commented on #99
Fee free to change and we’ll bump to 1.0.0 soon

[2019-12-02 18:19] tooomm opened #732 "Adjust link to mtgjson changelog (new anchor links)"
MTGJSON has the [requested striped down urls](https://github.com/dr4fters/dr4ft/issues/692#issuecomment-559023388) now for the changelog: https://github.com/mtgjson/mtgjson-website/pull/329

Our version in the footer should use that and correctly link to the correct version.

[2019-12-03 21:00] #357 closed

[2019-12-03 21:01] #656 closed

[2019-12-03 21:02] #725 closed

[2019-12-03 21:04] #729 closed

[2019-12-03 21:04] #732 closed

[2019-12-05 13:34] HerveH44 commented on #454
@ZeldaZach what's up?

[2019-12-05 14:31] HerveH44 commented on #99
@ZeldaZach How do you like the possibility to modify freely the file "config.client.js" ? I'm wondering about just commiting the informations to the repository as a real file. How would you feel about it?

[2019-12-05 15:04] ZeldaZach commented on #99
Up to you. As long as there is no privileged/confidential information in it were fine.

[2019-12-05 15:05] HerveH44 commented on #559
I was thinking of a Go commandline tool. @ZeldaZach Do you think it's fine?

[2019-12-05 15:05] ZeldaZach commented on #559
I’d highly recommend Python over Go here, just because of adoptability. I personally would be fine with it, but I’m thinking longer term when someone else comes to modify it.

[2019-12-06 00:28] tooomm opened #741 "Print game start with time to log"
Add useful timestamps to the log.
Print when the game started (e.g in grey like the time).

[2019-12-06 16:22] HerveH44 commented on #614
I'm working on it. What do we do for the Cols feature? The cards are only shown for a tiny bit. I can't show any text ...

[2019-12-06 16:25] ZeldaZach commented on #614
Card name and CMC only for column view

[2019-12-06 23:45] HerveH44 commented on #559
I did a little test in go just for fun. Result is [here](https://github.com/herveh44/cockatricetomtgjson) (still work to do).

[2019-12-07 14:05] #722 closed

[2019-12-07 14:18] tooomm opened #743 "Capitalize "Rarity" and "Color" options in column view headers"
- Sort cards by `Rarity`:
![rarity](https://user-images.githubusercontent.com/9874850/70375982-a5c5f900-1904-11ea-9144-534517ea6ce8.png)

<br>

- Sort cards by `Color`:
![color](https://user-images.githubusercontent.com/9874850/70375985-a9598000-1904-11ea-8773-d8a3fc72aa0c.png)

All other are displayed nicely in the interface, like the options for `Type`.

[2019-12-07 14:21] tooomm opened #744 "Web notification improvements"
Follow up to https://github.com/dr4fters/dr4ft/issues/722 (web notifications got implemented in https://github.com/dr4fters/dr4ft/pull/733)
- [x] Use higher resolution "4" icon (#761)
- [x] Improve arrangement and wording of the two options in settings (#766)
- [ ] Further improve settings display, see description text in PR https://github.com/dr4fters/dr4ft/pull/766
<br>

- Maybe chat support is

[2019-12-09 03:45] #721 closed

[2019-12-09 21:51] #614 closed

[2019-12-09 21:51] #743 closed

[2019-12-10 10:02] HerveH44 commented on #99
@ZeldaZach could you copy the config.server.js of your server? If there is confidential data, just indicate it (like <MYPASSWD...>) just to know what could be directly implemented in the project and what should be open to override. Thanks

[2019-12-10 10:04] HerveH44 commented on #744
@tooomm could you take care of this one? If I remember correctly you added the icon (or maybe the svg images of the mana).

Also maybe be more explicit in the issue, I don't know what you're expecting to change at the moment.

[2019-12-10 10:07] HerveH44 commented on #559
just to remember next what the cockatrice v4 format is : https://github.com/Cockatrice/Cockatrice/blob/master/doc/carddatabase_v4/cards.xsd

[2019-12-10 11:33] tooomm commented on #744
Yes. I will take care of some parts. 👍
But will be a while probably until I find time.

[2019-12-10 13:16] tooomm opened #752 "Improve text-only display of cards"
Known issues/limitations of the current first implementation (#742):

- [ ] Mana cost not being displayed completely for cards with a special layout (adventures, split, aftermath...)
Only one half is displayed as realized in ELD adventures.

- [x] Highlight card names in bold (#759)

- [ ] Highlight card names for alternative title in img tag in bold as well, see https://github.com/dr4fters/dr4ft/

[2019-12-10 14:14] HerveH44 commented on #744
No problem, I guess the author of this issue will not accept that ;)

[2019-12-10 14:16] HerveH44 commented on #741
Is it really useful? I don't see the point of having the timestamp on when the game started...

[2019-12-10 14:39] ZeldaZach commented on #741
Thinking about it, I do agree.

[2019-12-10 14:39] #741 closed

[2019-12-10 14:48] ZeldaZach commented on #454
I'll get around to this soon. Sorry for delay.

[2019-12-10 22:42] HerveH44 commented on #559
@ZeldaZach reading the xsd file, I'm surprised that no "prop" is defined (carddatabase -> cards -> card -> prop) while in the wiki it's written :

Property name | Description
-- | --
layout | The card layout, eg. normal, split, transform
side | For normal cards this property defaults to front. Set it to back to specify that this card is the back side of another card.
type | The full type of the ca

[2019-12-12 03:10] thedrkemperor opened #753 "RNA set does not work"
error starting a room when using packs of RNA (ravnica allegiance)

[2019-12-12 08:19] tooomm commented on #753
Are there any special cards in the set? Like split, dfc etc?

[2019-12-12 10:40] tooomm opened #757 "Lower pack count for sealed needed"
As requested in https://github.com/dr4fters/dr4ft/issues/64 (and mostly addressed in #380), we have now the option to select how many packs we want to open in draft and sealed.

However, what is missing are options for 1 and 2 packs in sealed.
Opening 1 pack is needed in Magic League for example.

For draft, I don't think we need fewer than 3 packs as option?
But I can't tell if there is some cust

[2019-12-12 10:54] tooomm opened #758 "Only one foil card displayed at a time"
Follow up to #729 (was addressed in #736)

When foil cards are picked from a pack, only the last picked foil gets the foil effect applied. All former ones loose the effect and are displayed as normal cards.
It doesn't matter if column view is enabled or disabled.

[2019-12-12 12:29] tooomm opened #760 "User choice for "Desktop notification" is not remembered"
One has to always enable the check box again for every game.
The box doesn’t remember it’s state and always goes back to unchecked.

[2019-12-13 10:44] tooomm commented on #741
I still think it does.
Otherwise you can never determinate when a draft started or how long it is already running.
Also critical conversations and discussions can not clearly be assigned to before or during draft.

I would even find it very useful to print when players leave the game room.
Or when a new pack is opened (not sure, if that happens for everybody at the same time or individually once o

[2019-12-13 14:30] thedrkemperor commented on #753
There are 10 split cards, 1 buy a box card, and 8 planeswalker deck cards in it.

[2019-12-15 02:56] Danielpick05 opened #767 "Flip card issue"
Flip cards no longer show their alternate side upon hovering over card, makes drafting Innistrad irritating.

[2019-12-15 10:06] tooomm commented on #758
Did anything change? It looks like I don't see this anymore on dr4ft.info

[2019-12-15 10:09] tooomm opened #768 "Bad layout when card image can't be loaded and alt text is shown"
It breakes the layout if one card image can't be loaded:
![alt text](https://user-images.githubusercontent.com/9874850/70861229-3d41d200-1f2b-11ea-994a-10af22b7af81.png)

This can easily be reproduced as the image for the common card "Ulvenwald Captive" is currently not available at scryfall (but reported), and thus can't be loaded.

[2019-12-15 10:48] tooomm opened #769 "Card info for the image alt attribute is badly styled"
- Card text starts in the same line as type and rarity
- Power and toughness is not separated with a dash
- Power and toughness starts in the same line as text

![alt text](https://user-images.githubusercontent.com/9874850/70861483-ea6a1980-1f2e-11ea-8610-510dbbbc8230.png)

And as mentioned in #752 already, the name should be bold there, too.

[2019-12-15 11:06] tooomm commented on #767
Can confirm, also for Eldritch Moon and Shadow over Innistrad with their double faced and meld cards.

More details:
Flip cards etc. do still show both sides in the preview window when hovering them in column view, but they don't display the back side any more when hovering them in normal view and they used to exchange the picture.

[2019-12-15 11:08] tooomm opened #770 "Doubled cards in EMN pack"
Is that correct? Should that happen?
I think there was a slot for double faced cards, but could it hold a card that was already in the pack?

![doubled cards](https://user-images.githubusercontent.com/9874850/70861805-7e3de480-1f33-11ea-908c-77708b765390.png)

[2019-12-17 14:19] HerveH44 commented on #770
This is a EMN pack. I'd guess that's normal ... ?

[2019-12-17 14:23] ZeldaZach commented on #770
One might be foil?

[2019-12-17 14:57] tooomm commented on #770
As shown in the screen, both are normal cards. No foil effect applied.

DFC slot for meld in SOI: https://markrosewater.tumblr.com/post/146685423123/does-meld-cards-count-as-dfcs-can-we-get-one-of
i'm pretty sure there was such a slot for EMN too, but can a card appear in both, normal and DFC slot, at the same time?

[2019-12-17 20:04] #753 closed

[2019-12-18 08:25] HerveH44 commented on #752
For the first bullet point, it needs first to be clear what should be done for all the special cards (aftermath, meld ...) for manacost. Do we want to show the double manacost always or only for specific layout?

[2019-12-18 08:53] HerveH44 commented on #768
What is your OS and browser?

The card "Ulvenwald Captive" is back in scryfall I guess because I see it currently.

[2019-12-18 09:01] tooomm commented on #752
My first thought is always.
At least for special layouts on one card site.
For which Layout wouldn’t it be useful there? For example split/aftermath/fuse, adventure, flip (kamigawa)... they all have more than one mana cost information on one card face. And they should all be shown.

Special cards like any dfc only have mana costs on one side too I guess.
And if not, just the ones on the currently

[2019-12-18 09:08] tooomm commented on #768
Yeah, they fix reported mistakes very fast normally.

I use Firefox 70 on Windows 10.

[2019-12-18 15:55] ArgothianEnchantress opened #780 "Error starting a draft"
I can't start a draft and get the message:

Whoops! An error occurred while starting the game. Please try again later. If the problem persists, you can open an issue on the Github repository: https://github.com/dr4fters/dr4ft/issues

[2019-12-18 15:57] tooomm commented on #780
Which setting and especially which sets did you select for the packs?

[2019-12-18 16:22] ZeldaZach commented on #780
Fixed

[2019-12-18 16:22] #780 closed

[2019-12-18 20:51] ArgothianEnchantress commented on #780
It was indeed fixed. Thank you!

I was using Chrome on Windows 10, for a Chaos Draft.

[2019-12-19 16:52] ZeldaZach commented on #757
May as well give them the option

[2019-12-26 13:11] HerveH44 commented on #770
@tooomm how often can you reproduce it ? I tried for couple minutes but couldn't find any duplications.

[2019-12-26 21:52] #757 closed

[2019-12-29 13:22] tooomm commented on #770
I only ran into it once while testing the issue with back sides not loading and opening several boosters.

[2019-12-29 13:24] tooomm commented on #758
There is definitely something fishy here and foil cards do not always correctly display and keep their foil effect when picked. Might be partly related to column view display.

I have the feeling that while opening draft packs I always get more foils than in sealed. But maybe there are also just not always all foil effects displayed, too.

[2020-01-01 22:16] #770 closed

[2020-01-04 15:55] HerveH44 commented on #760
closed by #790

[2020-01-04 15:55] #760 closed

[2020-01-10 14:29] tooomm opened #799 "Reset window position uniformly after manual pick in draft"
Manually picking a card in draft should constantly reset the window position to the top of the draftable cards with the headline "Pack x - Pick y/z". Currently the view jumps around after picks. It feels a bit random.
After manually picking and getting presented new cards most likely, it makes sense to center the view to the relevant area again to minimize scrolling.

On autopick, I suggest to not

[2020-01-10 16:56] #559 closed

[2020-01-13 09:00] tooomm opened #810 "mtgjson version date, again"
Currently, our page shows:
`Using MTGJSON card data v4.6.1 (2020-01-12)`

While the [version.json](https://www.mtgjson.com/files/version.json) file from mtgjson has this data:
`{"date": "2019-12-01", "pricesDate": "2020-01-08", "version": "4.6.1+20200108"}`

The dr4ft page should use the "date" field from there and read:
`Using MTGJSON card data v4.6.1 (2019-12-01)`
Regarding to the explanation on

[2020-01-13 13:54] tooomm opened #811 "Add unit test for supported json structure"
With #776 XML upload got added and there is a test case for it.

There should be a test case for json as well.

[2020-01-13 15:08] ZeldaZach commented on #810
Again, you're on an outdated cache. Please try hard refreshing as I see `{"date": "2020-01-12", "pricesDate": "2020-01-12", "version": "4.6.1+20200112"}`

[2020-01-13 21:50] HerveH44 commented on #811
@tooomm thanks for your implication. If you feel like writing a PR to include the test, I'll be more than happy to review it!

[2020-01-13 21:54] HerveH44 commented on #99
@ZeldaZach hi, sorry to bother again but I'm working on the config rewrite and I really need to know what does your config.server.js look like. Without it, I may delete or keep configurations that nobody needs.

For example I want to directly add your paypal (if there's no personal information on it) or add the possibility to overwrite it. And I'd like also to write the changelog in the code (or f

[2020-01-13 21:55] HerveH44 commented on #49
I feel that's way to hard to implement. I think this issue got his life and we should close it.

[2020-01-13 21:55] #49 closed

[2020-01-13 21:58] HerveH44 commented on #314
This is too narrow and really neglectable bug. If that starts to bother a lot we'll reopen it.

[2020-01-13 21:58] #314 closed

[2020-01-13 22:02] ZeldaZach commented on #99
I swear I sent it to ya on a Discord. Reach out there for more chatting :)

[2020-01-13 22:02] HerveH44 commented on #454
@ZeldaZach As you may have seen in the PR #798 I'm currently heading towards delegating the booster generation to @taw's project. I think it's way better to concentrate on just the draft game and the webapplication instead of implementing badly booster generation.

That's also my take on bots. I prefer to delete our bad "score" implentation (that doesn't even check sets or cards that have been in

[2020-01-13 22:03] ZeldaZach commented on #454
Agreed. I’ll hit up some people for help on draft bots.

[2020-01-13 22:03] #454 closed

[2020-01-13 22:05] HerveH44 commented on #720
@ZeldaZach what is our take on draft stats? What's the purpose of keeping stats? They are very valuable maybe that would be interesting to make an API to request the stats of dr4ft.info

[2020-01-13 22:06] ZeldaZach commented on #720
I’m fine opening an API sup to get draft stats from us. I’d like to (at some point) use them to updating rolling medians for card picks and get our bots to take good cards over bad.

[2020-01-13 22:10] HerveH44 commented on #720
I think that's just not a reasonable goal for the project. I don't know much about artificial intelligence but if we want good bots (and I think that's what we should aim to) it takes a lot to produce a bot from just draft stats.

I mean there should be a side project feeding from our stats (and maybe from all other draft simulators). Do you know if anybody is currently doing it?

[2020-01-13 22:11] ZeldaZach commented on #720
I know of a few sites. I’ll see if any want to collaborate. By default our bots should pick cards on color with their first pick or two and just run it through it’s corse. Idk I gotta think

[2020-01-14 04:37] ZeldaZach commented on #49
Clearly I didn't read this close enough. Seems overkill. Agree w/ closing :)

[2020-01-14 15:42] tooomm commented on #810
Even after hitting Ctrl+F5 several times (also before reporting the issue of course), I still get a different result than you. Updated, but different:
`{"date": "2019-12-01", "pricesDate": "2020-01-13", "version": "4.6.1+20200113"}`

My "date" field is still the old one which is even more weird as the dr4ft page shows the one you are seeing (2020-01-12). I also used a differnt browser to verfiy -

[2020-01-14 15:44] ZeldaZach commented on #810
I have to fix price things. I'll have time tonight or tomorrow.

[2020-01-15 22:08] HerveH44 commented on #810
is that about dr4ft or mtgjson?

[2020-01-15 22:09] #810 closed

[2020-01-15 22:09] ZeldaZach commented on #810
This is a MTGJSON issue

[2020-01-15 22:21] tooomm commented on #810
In case dr4ft uses the „date“ field correctly, that’s a mtgjson issue. Yes

[2020-01-16 02:02] bomble opened #828 "Coldsnap lands"
The Coldsnap packs don't include the snow basics from the set, making many cards unplayable.
Is there a good fix to this?

[2020-01-16 02:06] bomble opened #829 "World series cards"
The world series deck cards don't exist in the current program.
Only really an issue for cubes.

[2020-01-16 08:17] HerveH44 commented on #829
Hi we currently have cards that are available in MTGJson. Do you have any name of cards that we miss actually?

[2020-01-16 08:20] HerveH44 commented on #828
Hi,

We are currently working on a refactor of booster generation. So if you could tell us what you think about coldsnap booster making on this beta :

[https://beta-dr4ft-pr-798.herokuapp.com](https://beta-dr4ft-pr-798.herokuapp.com)

That would be very helpful.

At first glance on this beta, we do make snow covered lands for coldsnap but I'm not an export

[2020-01-18 11:30] Modedrain opened #833 ""Game over" error aborting draft"
Firstly, thank you for an amazing website.

Yesterday my friends and I were cube drafting. We were 4 people in total, drafting 5 packs, with the "leisurely" time setting. Somewhere in the middle of the fifth and last pack all of us were instantly booted from the draft with a red "game over" error text in red. I'll attach a screenshot.

Obviously we have no idea what caused this, but speculate the

[2020-01-18 20:19] HerveH44 commented on #833
Hi,

Yes you're right about the time: we stop every game an hour after it started. Doing so we ensure that we don't have any dead game.

We could increase the amount of time before the game is over. Maybe 2 hours could be fine?

[2020-01-18 21:04] Modedrain commented on #833
Two hours would be great

[2020-01-18 21:11] ZeldaZach commented on #833
I didn't know this was a thing, interesting. I'd bump it to 1.5hrs as a start.

[2020-01-22 12:40] tooomm opened #838 "Allow to adjust the preview window of cards"
For some cards with a lot of texts, like planeswalker with complexer abilties, it's nearly impossible to read it.
We need a way to zoom the preview window in this case. This also acts as accessibility feature and helps on high resolution monitors maybe. Also makes the "high quality" option better if people opt for higher pictures or want to make use out of the empty space on big monitors. (or it h

[2020-01-22 15:04] ZeldaZach commented on #838
I haven't noticed this to be an issue... ever... Feels a bit like bloatware imo

[2020-01-22 15:26] tooomm opened #839 "Change column header labels"
![bold headings](https://user-images.githubusercontent.com/9874850/72907132-ab9c6000-3d33-11ea-8da3-91846c3e8b2f.png)

Since we have bold headings there is a problem for the long type name in combination with two digits nubmers. That needs some tiny adjustment.

Probably there would be the same issue for planeswalkers.

[2020-01-22 15:37] tooomm commented on #838
What simpler solution do you suggest?

For every new set people don't know all cards yet and can't judge them just by picture (or inexperienced, newer players in general). They have to read.
Every text-flooded card (luckily there are only a few) will be a nearly impossible to figure out.

I don't think this is limited to my setup. And I have good eyesight. ;)

[2020-01-22 17:49] ZeldaZach commented on #839
Would rather change the headers to just be `Creatures (23)`, `Enchantments (10)`, etc

[2020-01-22 20:07] tooomm commented on #839
I like that!

It would work for the other filter types as well:
Color: `Colorless (11)`, `White (5)`, `Multicolor (8)` ...
Type: `Artifacts (2)`, `Creatures (15)`, `Enchantments (3)`...
Rarity: `Rare (3)`, `Uncommon (10)`, `Common (40)`...

Just for CMC it's not ideal:
CMC: `1 (13)`, `4 (5)`, `6+ (2)`...

But maybe something like:
CMC: `One (13)`, `Four (5)`, `Six and more (2)`...
CMC: `CMC: 1 (13

[2020-01-23 16:00] tooomm opened #840 "Allow to separate creatures from non creature cards in column view"
As most limited decks focus on a decent amount of creatures and their curve in particular it would be very helpful to analyse the creatures separate when building a deck.
Also when you see people building their decks in real life they mostly do the same - building a creature curve and have other spells above/below.

`[x] Show Creatures Separate`
Option should only be available when in column mode.

[2020-01-24 10:57] HerveH44 commented on #828
@bomble hi, have you been able to test Coldsnap packs in the beta site? That would be interesting to get your feedback

[2020-01-24 14:50] ZeldaZach commented on #828
I tested and it looks good!

[2020-01-24 22:55] tooomm commented on #828
Not fixed on master yet

[2020-02-03 07:11] ZeldaZach opened #848 "Split type cards error in cubes"
We should allow users to input one half of a split card instead of saying card not found.

Ex: saying Braisen Borrower is in my cube should work. Not requiring the adventure half too in the name.

[2020-02-06 20:10] tooomm opened #850 "Error when creating 6x THB sealed"

[2020-02-06 23:18] vprelovac opened #851 "Site crashed"
Since this morning when starting a game the site dr4ft.info gives this message

Whoops! An error occurred while starting the game. Please try again later. If the problem persists, you can open an issue on the Github repository: https://github.com/dr4fters/dr4ft/issues

[2020-02-10 17:04] tooomm opened #854 "Hide download deck option until game/draft is finished"
`Download` and `Copy deck to clipboard` options should only be available at the end of the draft.

For example:
- Grey button out until all picks are made, but allow name and file type changes before
- Grey all options in the download widget out until all picks are made
- Hide that widget completely until all picks are made

v2.0:
It could also be connected to the deck size option and only offers

[2020-02-10 17:15] tooomm commented on #850
With rebuild from 9th of february this is no longer an issue

[2020-02-10 17:15] #850 closed

[2020-02-10 17:16] tooomm commented on #851
@vprelovac I had a similar problem. Mine got solved with the recent rebuild form yesterday.

Please try and let us know if it works again for you!

[2020-02-10 17:29] tooomm opened #855 "Bots improvements to make them useful (basic AI)"
Some ideas from the discussion started in #798 as a starting point.

General rules without set/card knowledge as simple start, like sticking to colors at same point:

Consider rarity, especially mostly don’t pass on-color rares for example.
Or even take creature count into account as well.
When no on-color pick available. Randomly pick?
There is a lot to think of! :/

<br>

A more advanced approac

[2020-02-11 07:59] GrandiaKnight opened #856 "Chaos Draft Issue"
I tried to do a chaos draft but every pack is exactly the same. I also tried to do a total chaos draft with the same result

[2020-02-11 10:25] HerveH44 commented on #856
Hi,

Could you indicate the game settings (chaos settings (modernOnly, total chaos), number of players, how many bots were playing) ?

Thank you in advance,

[2020-02-11 12:02] GrandiaKnight commented on #856
I tried it 8 players,draft, 3 packs, modern only, modern only, 1 player and the rest bots.

I also tried the same above but with total chaos as well with the same result

[2020-02-11 12:08] HerveH44 commented on #856
Thank you for the feedback,

@ZeldaZach could you tell us what is going on on the website "https://dr4ft.info" ? It seems that it would need a restart :) !

[2020-02-11 17:00] ZeldaZach commented on #851
This keeps happening and I'm not sure why. I rebuild the site, deploy, and it works as expected. Then a few hours later it dies. @HerveH44

Taking a look into the system, it appears the `cards.json` file only contains custom cards right now. This means it was overwritten at some point when someone uploaded something. This seems like a bug. Will re-deploy now.

[2020-02-16 02:19] mwheeler93 opened #860 "Earthshaker Giant not in Card Database"
Hey Dr4ft,

I've been trying to include Earthshaker Giant in my cube for months now and it still doesn't seem to be in the card database. Seems like a quick fix, potentially. Just wanted to let you know in case it isn't on your radar!

Cheers

[2020-02-16 18:33] tooomm commented on #860
[This card from GN2?](https://scryfall.com/card/gn2/5/earthshaker-giant)
It's part of the mtgjson file at least as Cockatrice can display it.

[2020-02-16 19:47] ZeldaZach commented on #860
I think dr4ft excludes non-draftable sets... Overall maybe not the best approach.

[2020-02-16 21:41] tooomm commented on #860
Hiding them from the set picker for draft (and sealed?) should be enough.
Or list them in their own category/group at the very end of the list maybe?

[2020-02-17 21:12] mwheeler93 commented on #860
Hey, not totally sure how to do either of the things you mentioned. Help?

[2020-02-17 21:27] tooomm commented on #860
Unfortunately, nothing you can do about that currently.

That's something we have to do as it affects our internal database as I understood it.
We are aware of the issue, thanks for opening the issue @mwheeler93!
We keep you posted here.

[2020-02-18 02:21] mwheeler93 commented on #860
Thanks so much!

[2020-02-22 11:25] squigel commented on #851
Same problem has come up again, only mario cards working.

[2020-02-22 13:43] ebbit1q opened #862 "All cards in cube invalid"
When I enter a cube I get the message that all the cards are invalid:
![image](https://user-images.githubusercontent.com/36401181/75093273-77110380-5580-11ea-9fe0-98788cb42e33.png)
I'm fairly certain storm crow is a legal and draftable magic card. It happens for the prebuilt cubes too.

[2020-02-23 17:13] #862 closed

[2020-02-23 17:36] ZeldaZach commented on #862
For some reason cards keep getting invalidated. I'm not sure why this keeps happening, but a rebuild fixes it temporariy

[2020-02-23 17:40] tooomm commented on #862
We should keep one issue about that open

[2020-02-24 19:53] mint-jar opened #864 "Error: FlatMap is not a function"
Hello,

Last few weeks my friends and I started encountering that the dr4ft.info is not working as expected. We can't start drafts, sealed or cubes.

I installed the application locally to see if I could reproduce it.

Starting from Docker according to install gives no trouble.

Starting from NPM with the readme gave me the same issues as I am encountering online.
Logs show the following:

[code]

[2020-02-24 22:39] user6174 opened #865 "Cube isn't available for custom sets"
Hi everyone, first and foremost I apologize if the custom sets I added are causing unwanted clutter and/or if they aren't properly named to reference the game they're part of, I wasn't aware that uploading them would've made them permanently available without me being able to delete them. Onto the issue, as the title says, card names in a cube list are only checked with MTG card databases, and thu

[2020-02-25 04:06] ZeldaZach commented on #864
I haven't seen this issue before... I use v12.8.0 to run the server. Can you try using that one?

[2020-02-25 20:39] mint-jar commented on #864
12.8.0 doesn't have the issue unfortunately.

Dang it. Was hoping this could fix it :sweat_smile:

I'll keep looking if I can find issues elsewhere.

[2020-02-25 20:39] #864 closed

[2020-02-26 08:12] HerveH44 commented on #851
Hi,

I've been very busy lately. I'm sorry I can't help right now. I guess this must be done on how we use integrate the custom cards. I fear that if the custom cards names equal the real ones we just overwrite them!

[2020-03-04 22:28] KouriR opened #875 "Cube Cobra integration"
Cube draft feature request:
Add the ability to input a Cube ID to import from https://cubecobra.com/.

[2020-03-07 00:45] ZeldaZach commented on #875
I like the idea. Would be useful and help @dekkerglen out. You interested in this feature, G?

[2020-03-07 01:04] dekkerglen commented on #875
Lol I requested this feature from you months ago 😂

[2020-03-07 01:04] dekkerglen commented on #875
Sure, I'll take this as my first issue, why not

[2020-03-07 02:17] #99 closed

[2020-03-07 02:17] #758 closed

[2020-03-07 02:17] #828 closed

[2020-03-07 13:38] tooomm commented on #811
As mentioned in the PR (https://github.com/dr4fters/dr4ft/pull/798#issuecomment-584195049), this should not be addressed yet.

If I'm mistaken close this again, please.

[2020-03-07 13:56] tooomm opened #877 "Add missing documentation for v1 release (backend + frontend)"
Leftover from https://github.com/dr4fters/dr4ft/pull/798

`Add backend and frontend documentation (through JSDocs maybe or just simple markdowns)`

[2020-03-11 15:38] tooomm opened #878 "Beep and desktop notification option is not separated"
From the v1 refactor PR (https://github.com/dr4fters/dr4ft/pull/798#issuecomment-584747925):

But since it's the same behavior on the current site, that's noting related to this PR.

[2020-03-18 19:17] Dcosiem opened #883 "Change Images retrieved from sets."
Hi,

I just had 1 issue, or question really. I am not a big fan of some of the master piece versions of cards, mainly the Amonkhet Invocations because it is very difficult to read.

Is there an option to disable images grabbed from certain sets or change it from what is already available? Apologies if this is already available I just don't know how to change it or need more instructions when creat

[2020-03-18 19:36] Ragaxus opened #884 "We can't fire a draft because the lobby doesn't show all of the drafters at once"
We can use chat, but the lobby isn't holding players correctly.

![image](https://user-images.githubusercontent.com/10427478/77000055-b33c4780-6925-11ea-9499-fb3464b472c4.png)

[2020-03-18 21:44] ZeldaZach commented on #884
I don't seem to have this issue on Firefox or Safari... This is weird. You said you're on mobile?

[2020-03-18 22:07] Ragaxus commented on #884
Some of us were, but we were able to reproduce the issue when everyone was
using desktop machines.

On Wed, Mar 18, 2020 at 4:44 PM Zach H <notifications@github.com> wrote:

[2020-03-19 11:18] grosbegue commented on #884
I can confirm the problem. We were unable to launch a draft, it seems only 2 drafters could join the room at the same time. Furthermore it seems that public rooms don't appear in the room list.

[2020-03-19 14:40] Ragaxus commented on #884
Cause is intermittent; we were able to fire a draft last night.

On Thu, Mar 19, 2020, 6:18 AM grosbegue <notifications@github.com> wrote:

[2020-03-19 15:05] HerveH44 commented on #860
@ZeldaZach this is linked to the type of the set not being included to our accepted types. GN2 has type "box". What does that mean ? I can include this type to the accepted ones.

Also we could work with a blacklist instead of a whitelist of types if you think you may add a lot of different set types in the near future.

[2020-03-19 15:08] ZeldaZach commented on #860
We should include _all_ magic cards within the system, but only allow active drafting of the sets we have so far

[2020-03-19 15:10] HerveH44 commented on #875
@dekkerglen need a hand? I can give you hints/help if you want. Just let me know

[2020-03-19 15:12] HerveH44 commented on #856
This issue is not valid anymore. Chaos draft is back on track :)

[2020-03-19 15:12] #856 closed

[2020-03-19 15:18] #860 closed

[2020-03-19 15:21] #883 closed

[2020-03-19 17:10] dekkerglen commented on #875
I may not get around to this - don't let me being assigned to this stop anyone else from building it

[2020-03-19 21:02] HerveH44 commented on #875
Can you let us know what would be the API of Cube Cobra?

[2020-03-20 00:06] dekkerglen commented on #875
The route is:
`cubecobra.com/cubes/api/cubelist/:id'`
Where id is the id of cube, which can be manually set but defaults to a ~3-4 character value. You can see the ID in any cube url

It will return a plaintext list of card names

[2020-03-20 10:29] HerveH44 commented on #875
Could you please add the possibility to fetch data from another website? Right now I receive an error because CORS header is missing (It's an error from frontend - Mozilla and Chrome do not allow download if CORS header is missing, it's a security policy):

"Reason: CORS header 'Access-Control-Allow-Origin' missing"
-> https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS/Errors/CORSMissingAllowO

[2020-03-20 10:35] HerveH44 commented on #875
Also, if I put a bad ID, it seems that your API does not return anything. I receive a timeout ...

[2020-03-20 20:21] Flutschi opened #891 "Mystery Booster not showing.."
Hey there, dont know if you know but i guess mystery booster was a bit too big to show?

Would be a blast if we could draft mystery in these times..

[2020-03-21 08:58] KouriR commented on #875
Side issue is cards with split names.
For example, Cube Cobra returns "Brazen Borrower", but dr4ft doesn't recognize this. It only accepts "Brazen Borrower // Petty Theft".

[2020-03-21 13:01] aSipiere commented on #891
I've created a paired down file from the MB1 and CMB1 files on mtgjson, by adding the cards together and removing a few of the more wordy keys from each card, this gets it down to 1.7MB which is small enough for uploading a custom set.

But I'm getting a `"the json submitted is not valid: Cannot read property 'type' of undefined"`.

This was the python script I used to generate it if you wanna hav

[2020-03-21 13:31] aSipiere commented on #891
Upon further investigation, the doset method seems to be complaining about the set not having a type tag when the file has `'type': 'funny'`.

[2020-03-21 14:14] aSipiere opened #892 "Upload Custom Set (JSON): Cannot Read property 'type' of undefined"
I've created a paired down file from the MB1 and CMB1 files on mtgjson, by adding the cards together and removing a few of the more wordy keys from each card, this gets it down to 1.7MB which is small enough for uploading a custom set.

But I'm getting a `"the json submitted is not valid: Cannot read property 'type' of undefined"`.

This was the python script I used to generate it if you wanna hav

[2020-03-21 14:16] aSipiere commented on #892
I actually did a bit of further digging with some other mtgjson files, and all of them seem to cause the same error. So far its reproducible with all of the mtgjson sets I've tried (if you change the set code and upload them as a custom set).

[2020-03-21 14:16] aSipiere commented on #891
Creating a new issue for this to tidy up.

[2020-03-21 16:36] dekkerglen commented on #875
This is only the case for adventure cards - and this can be worked around by finding the card name that starts with the text, not equals

[2020-03-22 14:33] HerveH44 commented on #875
@KouriR I already took care of this issue in the future PR.

@dekkerglen have you thought of the 2 main problems I'm facing right now for the integration?

[2020-03-23 00:12] ZeldaZach commented on #891
cc: @HerveH44

[2020-03-23 09:57] aSipiere commented on #891
Mystery booster is a particularly weird one since its MB1 and (FMB1 or CMB1), additionally mtgjson doesn't have a booster order for it.

2 white commons or uncommons
2 blue commons or uncommons
2 black commons or uncommons
2 red commons or uncommons
2 green commons or uncommons
1 multicolor common or uncommon
1 artifact or land common or uncommon
1 rare or mythic rare from before Core Set 2015
1 o

[2020-03-23 18:58] Nilsinho187 opened #897 "Time Limit during draft"
Let me start by saying thank you for this great platform. We had a Cube Draft last Saturday and used dr4ft.info for the actual draft part. Disregarding some minor issues it went swimmingly.

There was just one thing that made it difficult for the more inexperienced players: the time limit. Even the option "leisurely" with 90 seconds for the first pick can be pretty fast when you are unfamilar with

[2020-03-24 05:40] Flutschi commented on #897
You can just disable the timer when you unclick the checkbox..

[2020-03-24 13:38] thrage opened #899 "spanish cards on dr4ft.info"
I was testing a cube for drafting with friends, and I noticed that some of the cards were in spanish instead of english. Any idea why?

[2020-03-24 13:39] tooomm commented on #899
Can you recall which editions the cards were from?
All from the same edition?

[2020-03-24 13:48] tooomm opened #900 "Allow to select the language of displayed cards"
Support for different languages.
User should be able to set the language of the cards displayed to him.
If I recall correctly we pull card images from scryfall. They support card art for several languages.

Selection should be made via dropdown menu - next to the image quality.
Available languages: https://scryfall.com/docs/api/languages

Fallback to english if selected language is not available.

[2020-03-24 13:49] ZeldaZach commented on #897
Gonna close as a no-fix as the timers are optional :)

[2020-03-24 13:49] #897 closed

[2020-03-24 17:15] thrage commented on #899
We wanted to try drafting kamigawa as none of us started playing until it
was long gone. From what I remember the blue Genju and one black Rat card
at least was spanish.

tir. 24. mar. 2020 kl. 14:39 skrev tooomm <notifications@github.com>:

[2020-03-25 03:46] Milldawg commented on #829
Here are all of Global Series cards that were not reprints:

https://scryfall.com/search?q=set%3Ags1+not%3Areprint&unique=cards&as=grid&order=set

And the list in text form:

Mu Yanling
Colorful Feiyi Sparrow
Purple-Crystal Crab
Vivid Flying Fish
Heavenly Qilin
Armored Whirl Turtle
Nine-Tail White Fox
Earth-Origin Yak
Moon-Eating Dog
Stormcloud Spirit
Ancestor Dragon
Qilin's Blessing
Drown in Shap

[2020-03-26 22:30] Le0Bandito opened #904 "Issue with Cockatrice v3 export"
I'm trying to draft a custom set I designed, but when I try to load up the Cockatrice v3 export file, it gives me this error:

When I look at the file, it has the /cards node, and has no sets node.
I haven't done anything to the file, just straight out of Artifice exporting Cockatrice v3.

Any help would be greatly appreciated!

[2020-03-27 07:35] HerveH44 commented on #904
Hi,

Thank you for letting us know. Could you share a copy of the file you would like to update?

Hervé

[2020-03-27 08:52] HerveH44 commented on #892
Hi,

Could you share the file you are trying to update?

Hervé

[2020-03-27 10:00] HerveH44 commented on #899
Hi,

It may be possible that we don't filter cards enough, but to be sure I'd need an example of a card that is displayed in its spanish version.

I failed to find one from kamigawa's block. Could you help me and give me the full name of the card? Thanks

[2020-03-27 10:44] thrage commented on #899
I drafted the cube quick and got some of them. And also I'm sending the txt
of the cube. Not mine, found it on cubetutor
[image: kamigawa spanish cards.png]

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virusfri.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail

[2020-03-27 10:51] aSipiere commented on #892
Sure

- mb1-small.json is the core mystery booster set with those fields removed
- mb1cmb1-small.json is the full mystery booster convention edition
- CN2_test.json is conspiracy 2 take the crown but with its set code changed to TST (results in the same invalid json error).
[mtgjson.zip](https://github.com/dr4fters/dr4ft/files/4392913/mtgjson.zip)

[2020-03-27 13:34] HerveH44 commented on #892
It seems that your json are missing the field "code" at the root level.

[2020-03-27 13:41] HerveH44 commented on #892
Hi,

In fact the error is a bit tricky. You JSON miss the "code" field at root level. Then the "type" error is not directly linked on it.

[2020-03-27 14:02] aSipiere commented on #892
Ah, I was about to say that i just noticed the conspiracy 2 upload works okay after refresh even after displaying the error.

But after adding a code to the top level json the `mb1cmb1-small.json`, I still get the error and cannot see the set in Custom after refresh.

[2020-03-27 14:03] HerveH44 commented on #892
Yeah because now the DB is corrupted with a bad json file :( !

@ZeldaZach could you please tell me what is inside the data/custom folder? Do you any "undefined.json" file?

[2020-03-27 14:05] aSipiere commented on #892
Ah, sorry about that. There's probably a good few of them, I've been tinkering with this for a few days, are the files not validated before entering the DB?

[2020-03-27 14:06] HerveH44 commented on #892
Don't be sorry, it's my mistake, I should have added this control!

[2020-03-27 14:10] ZeldaZach commented on #892
Rebuilding without custom sets. HMU on Discord later.

[2020-03-27 15:27] HerveH44 commented on #899
Thank you. It's a side effect of feature we just added. @ZeldaZach This problem comes from the fact that some cards are found in "box" sets (PSAL for example have "Throat Slittler" in spanish). I'll push a PR to block them from being cubable.

[2020-03-27 15:56] #899 closed

[2020-03-27 17:20] Le0Bandito commented on #904
This is the file exactly as it was exported.

[01.customcards.xml.zip](https://github.com/dr4fters/dr4ft/files/4395023/01.customcards.xml.zip)

[2020-03-28 10:21] HerveH44 commented on #904
Hi,

We are missing the case when the sets node is not present. Looking at the cocktrice v3 specs (https://github.com/Cockatrice/Cockatrice/blob/master/doc/carddatabase_v3/cards.xsd) it's possible for a XML to miss the sets portion. We will need to update our XML parser to handle this too.

[2020-03-30 15:29] HerveH44 commented on #900
Could be a useful resource the API of scryfall :
https://scryfall.com/docs/api/cards/collector

for example:

https://api.scryfall.com/cards/xln/96/fr?format=image&version=large

[2020-03-30 19:07] HerveH44 commented on #892
Hi @aSipiere could you please try to upload your set to the PR : https://beta-dr4ft-pr-907.herokuapp.com ?

Thanks in advance,

[2020-03-30 19:07] HerveH44 commented on #904
Hi @Le0Bandito  could you please try to upload your set to the PR : https://beta-dr4ft-pr-907.herokuapp.com ?

Thanks in advance,

[2020-03-30 20:17] Le0Bandito commented on #904
It works now! Well done!

[2020-03-30 23:34] aSipiere commented on #892
@HerveH44 Uploaded fine, but Custom doesn't appear on drop down after loading or refreshing.
![image](https://user-images.githubusercontent.com/32668629/77971729-5ce8e480-72e7-11ea-9a65-9ec73fe4af23.png)

[2020-03-31 08:39] HerveH44 commented on #892
In fact, you don't see it because the property "baseSetSize" is at 0, which means that this is not a playable set

[2020-03-31 11:00] aSipiere commented on #892
Hmm.. okay. That appears to be a problem with the mtgjson source. How is the baseSetSize different to the totalSetSize and what is baseSetSize used for?

[2020-03-31 20:04] #892 closed

[2020-03-31 20:04] #904 closed

[2020-03-31 23:28] Le0Bandito commented on #904
Looks like on the main dr4ft.info even after the coding was merged it's giving me the same error again.

[2020-03-31 23:29] ZeldaZach commented on #904
New deployment goes live 00:00 EST

[2020-03-31 23:36] Le0Bandito commented on #904
Ah, thank you, I didn't realize that!

[2020-04-01 05:57] Le0Bandito opened #910 "Not Reading Custom Mythics"
While now I can draft my custom set, it doesn't seem that mythic rares are showing up.
I wasn't certain at first, but after generating 32+ packs without a single mythic, I think it may not be reading that rarity in Cockatrice v3 files.

[2020-04-01 07:13] HerveH44 commented on #910
Hi,

You're perfectly right. We expect a rarity to be one of :
basic, common, uncommon, rare, or mythic
from the mtgjson site :
https://mtgjson.com/structures/card/#rarity

I don't know if there is any information on cockatrice about another list of rarities. But if it's possible for you to change that on your side it would be perfect.
If not, we'll try to patch the importer to check and change th

[2020-04-01 16:47] Le0Bandito commented on #910
Took a look this morning and saw that Cockatrice v3 exports with the rarity as "Mythic Rare", whereas mtgjason wants just "Mythic".
Now I know to change that before I load it up!

[2020-04-01 17:04] tooomm commented on #910
Wondering that mtgjson uses „mythic“. Isn’t „Mythic Rare“ the official wording? @ZeldaZach

To avoid problems, draft should understand both and treat them the same l guess.

[2020-04-02 13:23] aSipiere commented on #891
@Flutschi as a temporary measure you should be able to see `Myster Booster Convention Edition` in the custom set's list, however that version doesn't have the above booster pack structure, but it does have all the cards (with playtest cards instead of retail foils).