[2020-04-02 15:58] ZeldaZach opened #913 "Time Spiral missing some artifacts"
Someone reported, and I verified, that Time Spiral sealed wasn't showing most of the common artifacts. I ran several 12-pack sealeds, and notice that very few, if any, artifacts were found. This could be an overarching issue of cards are missing from dr4ft inadvertently.

[2020-04-03 00:56] ZeldaZach commented on #476
Is an issue again

[2020-04-03 15:11] HerveH44 commented on #913
@taw do you have any idea on this issue?

[2020-04-03 15:35] HerveH44 commented on #829
Hi,

Could you try to use our cube list on this site : https://beta-dr4ft-pr-915.herokuapp.com/

[2020-04-03 15:50] ZeldaZach commented on #910
Rarity is only "mythic" on MTGJSON4/5

[2020-04-03 15:54] #829 closed

[2020-04-03 16:09] taw commented on #913
Which artifacts are missing or underrepresented?

[If I open a Sealed box on mtg.wtf](https://mtg.wtf/sealed?count%5B%5D=36&set%5B%5D=tsp&count%5B%5D=0&set%5B%5D=thb&count%5B%5D=0&set%5B%5D=thb), then click Preview as Deck, the numbers of artifacts seem to be about right (Artifact Creatures are in Creatures section).

[2020-04-03 17:52] #848 closed

[2020-04-03 17:52] #884 closed

[2020-04-03 17:53] HerveH44 commented on #865
@user6174 could you try again on https://beta-dr4ft.herokuapp.com/ ? It should work now

[2020-04-03 19:30] HerveH44 commented on #851
Should we close this issue? reopen it if the problems rearises

[2020-04-03 19:31] #851 closed

[2020-04-03 19:33] ZeldaZach commented on #913
User reported never seeing Prismatic Lens, Chromatic Star, and Terramorphic Expanse. I couldn’t find them either while I simulated sealed events or drafts.

[2020-04-03 19:37] HerveH44 commented on #865
@user6174 dr4ft should be able to show you the image from the "url" field. I don't know what kind of set you use, let me know how is your set.

[2020-04-03 20:26] #913 closed

[2020-04-03 20:40] user6174 commented on #865
@HerveH44 I'm using the 'picurl' attribute, as per https://github.com/Cockatrice/Cockatrice/wiki/Custom-Cards-&-Sets
Although similar, I'm not sure you're talking about that.
I'll link [my xml](https://raw.githubusercontent.com/user6174/Shadowverse-to-Cockatrice/master/sv_cards.xml) to double check

[2020-04-03 21:14] Milldawg commented on #829
Thanks for fixing this! Just tested Mu Yanling and Jiang Yanggu and they appeared correctly :)

[2020-04-03 22:46] resech opened #919 "Feature Request: Rich Man's Draft"
It'd be great to be able to run a Rich Man's Draft (I've also seen it referred to as Decadent Sealed) through the app.

For anyone who isn't familiar with it, each player starts with a booster box/36 packs then:

- Opens a pack
- Selects a single card
- Discards the rest of the pack
- Opens another pack and repeats

Once all the packs have been opened, you build a deck from your 36 card pool.

[2020-04-04 00:44] ZeldaZach commented on #919
We'd be open to a pull request if  you'd like to contribute!

[2020-04-04 00:45] #910 closed

[2020-04-04 01:14] trsbox opened #920 "Compile/Run issues after latest git pull"
Any ideas?
![Screenshot at 2020-04-03 12-33-48](https://user-images.githubusercontent.com/17534007/78415497-6328da80-75df-11ea-884c-b10f0bb48f0b.png)
![Screenshot at 2020-04-03 12-34-48](https://user-images.githubusercontent.com/17534007/78415498-645a0780-75df-11ea-81d1-1d11de0521b3.png)
![Screenshot at 2020-04-03 12-35-03](https://user-images.githubusercontent.com/17534007/78415499-658b3480-75df-

[2020-04-04 16:09] HerveH44 commented on #920
Hi @trsbox , long time no see. I didn't know you still run dr4ft. When was the last pull you did? The v1.0.0 is a big change you might need to rerun "npm install" to update some dependencies.

The screen captures also indicate that you miss the boosterRules.json that contains the rules to create boosters.

To create it (it should be created when updating the MTGJson sets, but if you had the latest

[2020-04-04 16:57] HerveH44 commented on #865
I'll make a PR for you @user6174

[2020-04-04 19:16] HerveH44 commented on #840
That's a very hard issue, I guess we would need to use a different component to render the cards. Maybe the best would be something like a drag-and-drop component to move the cards to multiple piles...

[2020-04-04 19:43] ZeldaZach commented on #840
Drag&Drop would be a cool thing, but not fully necessary

[2020-04-04 19:46] ZeldaZach commented on #875
Poke @dekkerglen

[2020-04-04 21:36] #891 closed

[2020-04-04 21:37] #865 closed

[2020-04-05 04:36] jacketattack opened #924 "Site https://dr4ft.info/ is failing to load"
When I navigate to https://dr4ft.info/, the page fails to load.

An inspection of the console reveals this error log.

[code]

[2020-04-05 05:26] #924 closed

[2020-04-05 05:26] jacketattack commented on #924
now resolved.. site i loading

[2020-04-05 05:44] ZeldaZach opened #925 "Better Sanitization of Uploads"
People have been uploading rogue files to the service. We need to validate they're proper JSON/XML, see if they work, and allow for a quick rollback. Attached is the file that crashed dr4ft.

[trev.json.txt](https://github.com/dr4fters/dr4ft/files/4433007/trev.json.txt)

[2020-04-05 05:49] ZeldaZach commented on #925
Related #924

[2020-04-05 11:18] HerveH44 commented on #925
Hi,

Can you be more specific about the crash of dr4ft? What was crashing? Could you please show me the logs of the app?

[2020-04-05 13:46] dekkerglen commented on #875
Created a PR: https://github.com/dekkerglen/CubeCobra/pull/1256

[2020-04-05 15:11] ZeldaZach commented on #925
The homepage was blank, and the console showed the error found in ticket #924 There don't seem to be any logs attached

[2020-04-05 15:16] #900 closed

[2020-04-05 15:19] #476 closed

[2020-04-05 17:49] HerveH44 commented on #854
I'm not up for it. I don't know what is the problem here, people can download their deck whenever they want, why should they wait for the game to be finished?

[2020-04-05 17:49] HerveH44 commented on #839
@ZeldaZach what is the definite headers that should be implemented?

[2020-04-05 19:43] HerveH44 commented on #752
won't fix

[2020-04-05 19:43] #752 closed

[2020-04-05 19:43] HerveH44 commented on #768
won't fix

[2020-04-05 19:43] #768 closed

[2020-04-05 19:43] HerveH44 commented on #769
won't fix

[2020-04-05 19:43] #769 closed

[2020-04-05 19:43] HerveH44 commented on #768
won't fix

[2020-04-05 19:44] HerveH44 commented on #838
won't fix

[2020-04-05 19:44] #838 closed

[2020-04-05 19:46] HerveH44 commented on #854
won't fix

[2020-04-05 19:46] #854 closed

[2020-04-05 20:00] ZeldaZach commented on #854
Agreed. Not necessary.

[2020-04-05 20:00] #744 closed

[2020-04-05 20:00] #878 closed

[2020-04-05 20:05] ZeldaZach opened #929 "Pick size not updated"
Start a cube draft, with packs of size N. It will open N cards, but the header will say "Pack 1 - Pick 1/15" instead of "Pack 1 - Pick 1/N"

[2020-04-05 20:18] #839 closed

[2020-04-06 07:55] HerveH44 commented on #875
@dekkerglen let us know when this is deployed in production. As for now, I still get the same answer from your backend (no CORS allowed)

[2020-04-06 09:05] #929 closed

[2020-04-06 12:17] HerveH44 commented on #840
It's also linked only to sort by CMC I guess

[2020-04-06 12:17] dekkerglen commented on #875
It will be live on the 18th

[2020-04-06 13:32] HerveH44 commented on #875
of April?

[2020-04-06 14:04] dekkerglen commented on #875
...yes

[2020-04-06 15:05] 7stringplayer opened #932 "Tempest Boosters"
Hello.  Drafted Tempest last night with some friends.  There is packs that contained more than 1 land.  one even contained 4.  I dont think this is correct.

[2020-04-06 15:09] 7stringplayer commented on #932
I also noticed this happened with Alpha as well

[2020-04-06 15:21] 7stringplayer commented on #932
Ok so i notice it is happening with a lot of boosters.  Might be something you want to look into too

[2020-04-06 15:54] HerveH44 commented on #932
Hi thank you for your feedback.

Hey @taw, there's something I must have missed, could you tell me how to get only one basic from your sheets? For example, one sheet is "tmp_common_or_basic: 11, tmp_uncommon: 3, tmp_rare: 1" but I guess it can lead to multiple lands

[2020-04-06 15:57] 7stringplayer commented on #932
could you do a code thats 1 basic 10 common 3 uncommon 1 rare.  Thats how it use to be.  I dont remember this being a problem before

[2020-04-06 16:00] HerveH44 commented on #932
We've updated the way we create boosters to be as close as possible to real ones. Rules around how to make a real booster are multiple and difficult.

[2020-04-06 16:03] 7stringplayer commented on #932
you could get rid of the lands and make 14 card packs without lands.  I think thats better than having 4 to 5 lands in a pack.

[2020-04-06 16:04] HerveH44 commented on #932
Well that's true. If you want you can make a PR and we'll be happy to merge it !

[2020-04-06 16:06] 7stringplayer commented on #932
I dont know what that is.  I dont right code or anything i was just letting you know this was happening and wasnt correct.

[2020-04-06 17:06] trsbox commented on #920
Thanks for the info!  I will try out.  Yup still run it at trsbox.net:1337

[2020-04-06 18:58] 7stringplayer commented on #932
My Suggestion would be do

a. 14 cards instead of 15 with no land
b. 15 cards and 12 commons no land
c.  Make a land slot for land and 11 commons (which you said is hard)

Those are more realistic than havings lots of lands in packs especially when drafting it sucks.

[2020-04-06 19:30] ZeldaZach commented on #932
This is a @taw issue and will not be addressed by the dr4ft team at the current time. Just gotta wait for his response.

[2020-04-06 21:06] nomoid commented on #932
The issue of basic lands appearing in boosters affected my recent draft of Invasion too. From what I can find in my research, many older sets do not have basics in boosters. I'm going to submit a pull request to [taw/magic-sealed-data](https://github.com/taw/magic-sealed-data) to change data of the older sets from `"[set]_common_or_basic"` to `"[set]_common"`.

[2020-04-07 00:22] trsbox commented on #920
Running the script did not solve it.  I did a git pull today and tried everything again as per the REAME.md file.  Same result.

[2020-04-07 04:08] taw commented on #932
So you're saying some of the old sets didn't have basics in their boosters, but I'm including them in commons sheet?

This is definitely possible, as it changed multiple times, and those early sets are poorly documented. I was meaning to double check, but never got to it.

Just give me the list of sets you think are incorrect, or some source, so we can get it done once and for all.

[2020-04-07 04:12] 7stringplayer commented on #932
You use to have to buy a Starter pack to get lands for older sets they didnt come with lands in booster packs.  Any set though you draft can have multiple lands in it which is really the problem i just opened an M2019 and got 3 plains in it as commons instead of real cards

[2020-04-07 04:43] taw commented on #932
You got 7 basics out of a single M19 booster? That sounds like there's some whole second problem.

JSON for M19 is definitely correct in having basics on its own sheet (plus small chance of basic on foil sheet).

[2020-04-07 14:20] tooomm opened #941 "Disable language option selector when "text-only" is chosen"
The little term "Card **image** language" will be over-read by some users and they wonder why the oracle card texts are not shown in the selected language.

[2020-04-07 14:31] 7stringplayer commented on #932
Yea heres an example.  I picked  1 pack of 6 different sets for a sealed game.  I ended up with 9 lands for Mercadian Masques.

![image](https://user-images.githubusercontent.com/21352581/78681568-8b039100-78b2-11ea-83b0-a8d4b50bd139.png)

[2020-04-07 14:39] taw commented on #932
Right, I can 100% see MM having issues. I guess I'll have to check all old sets.

[2020-04-07 14:46] 7stringplayer commented on #932
I almost think it would be better if albeit easier to do 14 cards and forget the land unless its a special thing like fate reforged i think you get a dual-like land or some other sets or do the 15th card as a common(but not a land) but thats your call.  Thanks for the site though its awesome.

[2020-04-07 14:55] taw commented on #932
The intention is to be as accurate as data we have allows. Many early sets had basics on common sheet ([here's example](https://www.mediafire.com/convkey/7f7e/rav9e0idbi5841c6g.jpg)), it just looks like I messed up which ones did.

[2020-04-07 16:59] oelarnes opened #943 "lodash shuffle is not in-place"
backend/game.js has the following no-op at line 514

`      if (shufflePlayers) {
        shuffle(this.players);
      }
`

looks like it should be
`      if (shufflePlayers) {
        this.players = shuffle(this.players);
      }
`

Thanks! I use this all the time, will try to contribute more going forward.

[2020-04-07 17:37] 7stringplayer commented on #932
I would be more than happy to compile a list of what was in each booster for each set if that would help.

[2020-04-07 18:10] #943 closed

[2020-04-07 18:11] taw commented on #932
Yeah, that would be super useful. What I need is list of sets which have basics, but those basics are not in boosters.

[2020-04-07 19:37] Meerkov opened #945 "LEA + LEB Rare Island"
There is a chance of an Island in the rare slot for LEA and LEB. It should include an extra possible rare:
"LEA:288"
"LEB:291"

This is because originally, it was supposed to be secret which card was the rare, so including an island in the rare slot would help throw players off.

[[ Good for new contributors! ]]

Just need to add two lines to this file, and adjust the total_weight. https://raw.git

[2020-04-07 19:38] 7stringplayer commented on #932
ok i found this link which is probably better.

https://mtg.gamepedia.com/Booster_pack

From Mirage until Coldsnap, booster packs contain fifteen cards:
Eleven commons, three uncommons, and one rare.  There is no land

From Shards forward packs are actually 16 cards which i didnt know but anyway it is all there if you want to look.

[2020-04-07 19:46] Meerkov commented on #945
**Additionally:**
The uncommon slot appears that is also has land in it.

**And as for the common slot**: It seems like there is a lot more than 1 copy of each land on the common sheet. Packs rarely have less than 3 basics, and often have 4 or 5.

So, the weights on the LEA/LEB lands need to be adjusted, but I'm not sure to what values. I think just an approximation is that provides packs that loo

[2020-04-07 19:50] Meerkov commented on #932
This is supposed to happen in Alpha boosters though. Alpha and Beta included lands in the common slot, not in a special land slot. I just posted a bug saying there isn't *enough* lands in the alpha packs, actually.

[2020-04-07 20:12] ZeldaZach commented on #945
cc: @taw

[2020-04-09 07:55] taw commented on #932
I'm going through http://www.lethe.xyz/mtg/collation/index.html one by one and fixing any mismatches. I'm pushing updates as I make them, I'll let you know when it's done.

[2020-04-09 08:18] HerveH44 commented on #932
@taw let me know how I can know when your rules are updated, I still haven't implemented an automatic update of your rules.

[2020-04-09 14:25] taw commented on #932
I think I fixed all issues with common sheets containing or not containing basics. Wiki and The Collation Project disagreed for many sets, so I took The Collation Project and filled gaps with some pack opening videos.

The only known issue left is adding basics to ABUR uncommon/rare sheets.

[2020-04-09 15:15] 7stringplayer commented on #932
Awesome

[2020-04-09 16:03] 7stringplayer commented on #932
Has it been uploaded into the system yet?

[2020-04-09 20:42] HerveH44 commented on #932
@ZeldaZach could you relaunch "node scripts/download_booster_rules.js" ?

[2020-04-09 20:43] ZeldaZach commented on #932
Done

[2020-04-09 20:52] 7stringplayer commented on #932
I just did a pack of Invasion and i got 4 lands?  I dont think its been fixed then

[2020-04-09 21:18] HerveH44 commented on #932
on what website have you tried? I just tried on dr4ft.info and it works for me

[2020-04-09 21:21] 7stringplayer commented on #932
Dr4ft.info

On Thu, Apr 9, 2020 at 4:18 PM Hervé Huneau <notifications@github.com>
wrote:

[2020-04-09 21:22] HerveH44 commented on #932
can you send a screenshot please?

[2020-04-09 21:25] 7stringplayer commented on #932
![image](https://user-images.githubusercontent.com/21352581/78942163-bcc95300-7a7e-11ea-99a9-cbbf66b29a1f.png)

[2020-04-09 21:38] HerveH44 commented on #932
it was only one booster?

Checking on my side, I found that "inv_foils" contain basic lands. Is it normal @taw ?

[2020-04-09 21:40] 7stringplayer commented on #932
Still it should be 2 max not 3.  I got 4 in another.  It should be max 2 I
believe.

On Thu, Apr 9, 2020 at 4:38 PM Hervé Huneau <notifications@github.com>
wrote:

[2020-04-09 21:40] HerveH44 commented on #932
have you done only 1 booster or multiple?

[2020-04-09 21:42] 7stringplayer commented on #932
now it seems i cant get them to do that.  Maybe it just took a minute.  I'll keep checking.  I'm just opening a pack

[2020-04-09 21:48] HerveH44 commented on #932
Thank you for your time, when you're at it, check also the rest of the suspicious sets and we'll try to update them too.

[2020-04-09 21:52] ZeldaZach opened #951 "Reload draft cache from disk"
Currently, to get new data into dr4ft we need to stop and start the program. We could instead have the system check the file system and reload the data every so often if changes are detected, to avoid downtime.

https://nodejs.org/docs/latest/api/fs.html#fs_fs_watch_filename_options_listener

[2020-04-10 06:09] taw commented on #932
According to [The Collation Project](http://www.lethe.xyz/mtg/collation/inv.html), after introduction of foils, set basics only in non-booster products, would still have foil basics in boosters.

One minor thing I'm aware that I don't currently properly simulate is that initially, foils displaced another card of their rarity (except basic foils replaced common, as there were no basics). So you cou

[2020-04-10 07:42] HerveH44 commented on #932
Thanks a lot @taw for your dedication, your quick work and your time. Sorry to bother you again with that but is there a way for us to know when you updated your rules in order to fetch as soon as you update them?

[2020-04-10 07:56] taw commented on #932
[Github has some notification options](https://help.github.com/en/github/managing-subscriptions-and-notifications-on-github). Is any of that useful?

[2020-04-10 13:50] HerveH44 commented on #932
issue solved. Again thanks @taw

[2020-04-10 13:50] #932 closed

[2020-04-10 13:51] HerveH44 commented on #920
could you remove all the "data" directory and redo a "npm install" ? And then indicate the error you encountr?

[2020-04-10 14:00] tooomm commented on #932
@HerveH44 I guess he updates his [data repo](https://github.com/taw/magic-sealed-data) right away after he made changes in the [main repo](https://github.com/taw/magic-search-engine) and commits the new data. Is that correct @taw?

Would it be possible to pull the commit hash of his ["pack_factory.rb" file](https://github.com/taw/magic-search-engine/blob/master/search-engine/lib/pack_factory.rb)?

[2020-04-10 14:08] taw commented on #945
This is done now. It makes drafting ABUR super miserable, as you get flood of lands and not enough cards, but it's realistic experience.

[2020-04-10 14:10] HerveH44 commented on #811
won't do

[2020-04-10 14:10] #811 closed

[2020-04-10 14:11] taw commented on #932
Yeah, I have a script that exports data from main repo into data repo as jsons.

Could you first check if [any of many github notification options](https://help.github.com/en/github/managing-subscriptions-and-notifications-on-github) are good enough for you?
I could add some hash, but github probably already has something that works just as well.

[2020-04-10 14:13] HerveH44 commented on #932
Well I don't see how github notifications can help, it's something the server must watch and keep track without needing to have a github account). I don't think github can help with that.

[2020-04-10 14:22] taw commented on #932
Is  this useful?

[code]

Server can check if repo changed without needing any account anywhere.

[2020-04-10 14:23] HerveH44 commented on #932
Yeah, thanks: I'll work from that

[2020-04-10 14:24] HerveH44 commented on #945
Perfect! Thanks again.

[2020-04-10 14:24] #945 closed

[2020-04-10 14:25] taw commented on #932
Or alternatively there's [REST API](https://developer.github.com/v3/git/refs/):

[code]

Anyway, let me know if you need more support.

[2020-04-10 19:15] #951 closed

[2020-04-10 19:16] #925 closed

[2020-04-10 21:00] HerveH44 commented on #941
I don't know, I don't feel it's a big problem and somehow I don't want to clutter code with a lot of "if" ...

[2020-04-10 21:14] ZeldaZach commented on #941
For a one liner, I'm fine with adding it. This is a reasonable thing to me as it could get confusing

[2020-04-10 21:44] HerveH44 commented on #799
There's actually no way to check if somebody has autopicked or not from the player point of view.

I'll make a PR to give a first impression of what would happen.

[2020-04-10 21:46] #941 closed

[2020-04-11 01:11] Flutschi opened #959 "Ikoria"
Hey there, with the upcoming ikoria release i wish to play sealed on it and i believe the version officially uploaded on the page is not complete (everytime i load it it is atleast without the lands..)

i tried uploading a custom variant but it seems to have troubles...

any help how i can play sealed soon? :)

[2020-04-11 02:34] ZeldaZach commented on #959
We're rebuilding MTGJSON to get this up tonight!

[2020-04-11 03:06] Kumarbis opened #960 "Error when uploading split cards in custom set"
When uploading a custom set using the Cockatrice v4 XML format, I'm encountering the following error message:

"the xml submitted is not valid: Cannot read property 'join' of undefined"

When I remove all split cards from the set, the error doesn't occur and I can draft the custom set. I can reproduce the error with the following minimal example, which contains a single split card and nothing else

[2020-04-11 09:56] HerveH44 commented on #960
Hi,

Thank you for opening this issue. It's something we haven't worked on (special cards import via XML cockatrice v3) so we still have to figure out how to import them correctly.

First thing, your XML file doesn't seem exactly as expected by the v3 (https://github.com/Cockatrice/Cockatrice/blob/master/doc/carddatabase_v3/cards.xsd)
I don't see "mainType", "coloridentity" in the XSD so I don't k

[2020-04-11 18:19] Kumarbis commented on #960
Hi,

Thanks for your reply. Just to clarify, I'm using cockatrice v4, not v3. For comparison, this is the entry for Fire // Ice that appears in the cards.xml file of the most up to date version of Cockatrice:

https://pastebin.com/XRnCgC6D

I've followed the instructions on [this page](https://github.com/Cockatrice/Cockatrice/wiki/Custom-Cards-&-Sets) to construct the xml - the maintype and colori

[2020-04-11 20:29] Kumarbis commented on #960
So I've figured out a "fix," which is that everything seems to work perfectly if I just claim that the layout is 'normal' instead of 'split' - the set uploads without error and split cards appear during the draft exactly as you'd expect.

[2020-04-11 20:40] #959 closed

[2020-04-12 01:52] 7stringplayer opened #962 "Draft Results"
Would it be possible when you finish drafting looking at what the other players got when drafting by yourself.  I know that magic online bestiare(i think thats what its  called) posts the results when your finished.  Not a huge deal just more curious than anything.

[2020-04-12 07:07] trsbox commented on #920
![Screenshot_20200412-010230](https://user-images.githubusercontent.com/17534007/79062708-c9ee6980-7c59-11ea-8973-1133ea54af08.png)
![Screenshot_20200412-010355](https://user-images.githubusercontent.com/17534007/79062709-cf4bb400-7c59-11ea-8214-64a32e5ba36d.png)
![Screenshot_20200412-010502](https://user-images.githubusercontent.com/17534007/79062711-d70b5880-7c59-11ea-8d0b-dd3bf133144f.png)

[2020-04-12 17:10] ZeldaZach commented on #920
Can you show us what git pull says?

[2020-04-13 19:47] troman-hub opened #965 "Drafting custom cube set"
Hello,
we tried to upload our custom cube set to draft it online and then play on Cockatrice. Unfortunately, we could not see the card images as well as the cards' stats.

Magic set editor exports P/T stats in the following way: <pt>3/1</pt>
Is it the right way?

Thanks in advance – we noticed you live in Udine just like me and my playgroup!

[2020-04-13 19:53] ZeldaZach commented on #965
Hi @troman-hub can you paste your custom set on this ticket?

[2020-04-13 19:58] IlMath commented on #965
[DomeCube.zip](https://github.com/dr4fters/dr4ft/files/4471582/DomeCube.zip)

Cards are in Italian, but the fields are the one exported directly from MSE

[2020-04-13 20:03] ZeldaZach commented on #965
The reason you can't see images on dr4ft is because you did not include an `picURL` attribute. Per the [Cockatrice Wiki](https://github.com/Cockatrice/Cockatrice/wiki/Custom-Cards-&-Sets), a set tag should look like `<set rarity="common" uuid="12345678-abcd-1234-abcd-1234567890ab" num="42" muid="123456" picurl="http://.../image.jpg">XXX</set>` where you define the set code (replacing XXX) and defi

[2020-04-13 20:03] #965 closed

[2020-04-14 08:46] tooomm commented on #767
Issue arised again: https://github.com/dr4fters/dr4ft/pull/775#issuecomment-613214295

[2020-04-14 12:06] tooomm commented on #838
Maybe it's just me seeing an issue with several cards with a lot of tiny text which are difficult to read on my particular setup? Not speaking about people with some kind of eye issues.

I'm ok with closing this, but wanted to make sure you understand the problem.

Attached some full resolution images to clarify my concerns:
- Laptop screen (1366×768)
![internal_wxga](https://user-images.githubuse

[2020-04-14 12:10] tooomm commented on #769
Probably difficult to change (if at all) and not worth it as it rarely ever happens.

[2020-04-14 13:12] IlMath commented on #965
Thank you so much,
I manage to upload all the images, but there is one more problem.
After I open my Cube with the card list, the images are still missing, but
if I open a draft with three packs (the set is the Dome Cube in Custom,
that I just find out is public :O ), images are working fine (unless the
ones that we have problems with. The cube is still an ongoing project)

Do you have any advise

[2020-04-14 15:47] tooomm commented on #840
That would be the main and most beneficial use for it most likely. At least when thinking about replicating building a pool in paper.
But it could also be available for `Color` and `Rarity`. `Type` makes no sense obviously.

[2020-04-14 16:00] ZeldaZach commented on #512
No fix

[2020-04-14 16:00] #512 closed

[2020-04-14 16:18] tooomm opened #969 "Multiple foils of the same type in one pack"
This might be related/caused to your recent rules updates @taw, can you chime in and check please?

![foils1](https://user-images.githubusercontent.com/9874850/79248597-4f516400-7e7c-11ea-866c-23d847bd83e0.png)
![foils2](https://user-images.githubusercontent.com/9874850/79248599-4fe9fa80-7e7c-11ea-8cc0-89ee62883608.png)
![foils4](https://user-images.githubusercontent.com/9874850/79248605-51b3be00-

[2020-04-14 16:26] taw commented on #969
[I'm not seeing any double foils at mtg.wtf](https://mtg.wtf/sealed?count%5B%5D=6&set%5B%5D=thb&count%5B%5D=0&set%5B%5D=thb&count%5B%5D=0&set%5B%5D=thb) and it uses the same data, so I guess this is specific to this project?

[2020-04-14 16:28] tooomm commented on #969
Hmm, thanks!

It could be a displaying issue of some kind.

[2020-04-15 10:23] HerveH44 commented on #969
Hi,

this is definitely a problem of display on our side. I already saw and thought it was fixed. I'll give a second look.

[2020-04-15 13:18] HerveH44 commented on #969
Ok, I found out the true problem. It's a deep fix as it roots on the way we save cards in the app. I'll produce a PR when I find a satisfying way to deal with it.

[2020-04-15 17:23] #767 closed

[2020-04-15 18:28] DaisyRedRyder opened #972 "Opponents in my pod do not have randomized seating"
Just as the title suggests. I ran a few drafts with my friends and noticed their seats are not being randomized, rather they are seated as they log into the draft room.

[2020-04-15 18:32] DaisyRedRyder opened #973 "Card images are not showing/loading"
Just as the title suggests. When starting a draft, some card images take several seconds (10-15 seconds) to load while the counter is counting down, resulting in about 2 cards being invisible per pack. Drafters in the same pod are experiencing similar issues.

[2020-04-15 20:15] HerveH44 commented on #973
@ZeldaZach I guess we are now DDOSing Scryfall?

[2020-04-15 20:15] HerveH44 commented on #973
@DaisyRedRyder does it happen with any kind of game or with a specific set ? What set did you use?

[2020-04-15 20:15] ZeldaZach commented on #973
I don't think so, we're a very small entity

[2020-04-15 20:17] ZeldaZach commented on #972
forgot to reload main site

[2020-04-15 20:17] #972 closed

[2020-04-15 20:20] DaisyRedRyder commented on #973
This is with a 360 cube. 4 drafters and 4 bots. The next time we draft, I will ask everyone to turn card image quality to low. I will report back (we likely won't draft again until the end of the week).

[2020-04-15 20:21] HerveH44 commented on #973
Ok thank you for your quick response. I guess it all depends on your connection mostly, we set the card image quality option to ease with this kind of problems

[2020-04-15 20:26] DaisyRedRyder commented on #973
I should probably open another ticket, but we also sometimes have cards load as foreign images instead of English (Especially Nissa, Who Shakes the World and Fellwar Stone).

[2020-04-15 20:28] DaisyRedRyder commented on #972
Can you explain how to fix this issue? I don't think I understand.

[2020-04-15 20:34] HerveH44 commented on #973
Yes, the best would be to take a screenshot of it and indicates the list of the cube and the draft site you used so we can test on our side.

[2020-04-17 02:57] Milldawg opened #977 "Zilortha, Strength Incarnate (buy-a-box promo) showing up in drafts"
Zilortha, Strength Incarnate (Godzilla, King of the Monsters) is appearing in Ikoria drafts, but it's the buy-a-box promo and should not appear in booster packs.

[2020-04-17 03:01] Milldawg opened #978 "Ikoria draft - Common "gain lands" appearing in common slot, but should replace basics"
The cycle of 10 common dual lands that come in tapped and gain a life are appearing in drafts in the common slot, but in physical booster packs they only appear in the basic land slot. (Not sure about the rate they appear vs. basics, but I've heard something like 50%.)

[2020-04-17 04:21] ZeldaZach commented on #978
cc @taw

[2020-04-17 04:21] ZeldaZach commented on #977
cc: @taw

[2020-04-17 07:18] HerveH44 commented on #920
@trsbox can you redo "git pull" and "npm install" and indicate us what is the result?

[2020-04-17 15:48] DaisyRedRyder commented on #973
So, last night we ran draft. I asked everyone (5 players) to set their card image quality to low, and to set the card language to English. Most of the issues seem to have resolved.
The system still retrieves the "Spanish" card (its the English version with the text "localized image not available") for Fellwar Stone from scryfall.

[2020-04-17 18:53] tooomm commented on #973
Looks like scryfall has the correct card art in English. (I didn’t check what the api returns)
https://scryfall.com/card/9ed/297/fellwar-stone

Could browser cache be holding an old, wrong image?

[2020-04-18 00:41] trsbox commented on #920
Sorry for the delay guys...
![Screenshot at 2020-04-17 18-41-24](https://user-images.githubusercontent.com/17534007/79623720-0fd48300-80db-11ea-9f32-067a11eb3dba.png)

![Screenshot at 2020-04-17 18-38-59](https://user-images.githubusercontent.com/17534007/79623685-e7e51f80-80da-11ea-9b9f-9a639e2b1671.png)

[2020-04-19 02:09] keeler commented on #919
I'd like to give this a shot. Would appreciate some pointers from @ZeldaZach, @HerveH44, or anyone else. Willing to try figuring this out on my own but a rough idea of where to start would probably save time/effort for us all when I submit a PR. :grin:

[2020-04-19 20:01] #799 closed

[2020-04-20 14:59] taw commented on #977
Fixed on my side.

[2020-04-20 15:00] #977 closed

[2020-04-20 15:09] taw commented on #978
Fixed on my side (it was also affecting M19 and M20, and they're also fixed).

[2020-04-20 15:10] #969 closed

[2020-04-20 15:10] #978 closed

[2020-04-20 15:11] tooomm commented on #978
Awesome, thanks for the fixes!

[2020-04-20 15:12] tooomm commented on #875
Did you deploy your new code @dekkerglen?

[2020-04-20 15:17] dekkerglen commented on #875
Yes

[2020-04-20 15:29] HerveH44 commented on #919
I will make a review soon, I'm thinking of a video or something as I guess it would take some time to explain everything in a comment. There are multiple things to consider but I guess the biggest would be how to pass packs between picks as it's kind of an in-between sealed and draft (sealed because players just have there own packs and none are passed, and draft because you still pick one card fr

[2020-04-20 15:30] ZeldaZach commented on #919
If you're looking to make a video, you can make an unlisted YouTube video, or just put the MP4 on Dropbox

[2020-04-20 23:06] taw opened #983 "Minor change of magic-sealed-data format"
This needed to be done to support booster variants.

Fields `name` and `code` were set name and code, as there was 1-to-1 correspondence between sets and booster types.

Now they're used for full name of specific booster variant, and code (which is always going to be `(set_code)-(variant_code)`).

I added `set_code` and `set_name` that give code and name of the set.

For now they match exactly, ex

[2020-04-21 13:24] tooomm commented on #875
@KouriR & @dekkerglen can you test Herve's CubeCobra integration, please?
--> https://beta-dr4ft-cubecobra-sqj1znapl.herokuapp.com/

[2020-04-21 13:26] dekkerglen commented on #875
Works for me!

[2020-04-21 14:32] HerveH44 commented on #983
Hi @taw ,

Thanks for the update. I don't think it creates any work from us if the "code" for basic booster still equals to the set code (for example the object with "ala" code refers to the normal booster sheets).

[2020-04-21 20:20] taw commented on #983
Yeah, for basic boosters, `code` and `set_code` will be the same thing, as will `name` and `set_name`.

[2020-04-21 21:12] taw commented on #983
@ZeldaZach wanted some other minor changes so it can get integrated into mtgjson. Can you two discuss what works for you best? (as far as I know there are no other users for than json yet)

[2020-04-22 06:11] KouriR commented on #875
Works for me as well.
Only issue I found is if you enter an invalid cube id it will display "Could not retrieve CubeCobra list with id xxx" but then if you enter a valid id, the list imports fine but the error message doesn't go away.

[2020-04-22 07:34] HerveH44 commented on #875
Fixed that.

[2020-04-22 07:54] KouriR commented on #875
CubeId field should have a max length of 100 characters.

[2020-04-22 08:25] HerveH44 commented on #875
That's a good question: @dekkerglen what is the max for a cube id ?

[2020-04-22 15:32] #875 closed

[2020-04-22 15:33] ZeldaZach commented on #720
Tracking on #855

[2020-04-22 15:33] #720 closed

[2020-04-22 15:34] HerveH44 commented on #962
Hi,

I guess right now without a proper bot intelligence it wouldn't make much sense (apart from the fact that we would also need to rethink the UI).

I would not do it right now, but maybe later when we'll have some good bots.

[2020-04-22 15:34] #962 closed

[2020-04-22 15:39] HerveH44 commented on #973
That's a problem on Scryfall, they are missing some cards sometimes.

[2020-04-22 15:39] #973 closed

[2020-04-22 15:45] HerveH44 commented on #877
Hi @keeler, I may need your help if you have a little bit of time. I guess you may have looked at the code right now. Is there anything that you feel is quite obscure and might need some explanation / comments ? Any suggestion on where I could add some info is welcome !

[2020-04-22 15:48] HerveH44 commented on #920
Hi @trsbox, I'm sorry but this does not help much. Could you please do the following:

1. "git pull"
2. remove everything in "./data"
3. "npm install"

And then tell us the output of "npm run start"

[2020-04-22 16:31] dekkerglen commented on #875
100 character is our max.

[2020-04-22 16:38] trsbox commented on #920
![Screenshot at 2020-04-22 10-31-59](https://user-images.githubusercontent.com/17534007/80008288-c9897600-8484-11ea-98a7-f5af36a031ff.png)

I did not have a data directory after doing the git pull above.

![Screenshot at 2020-04-22 10-35-04](https://user-images.githubusercontent.com/17534007/80008639-3e5cb000-8485-11ea-9d4d-36b809128896.png)

Above is npm install

![Screenshot at 2020-04-22 10-35-

[2020-04-22 16:42] ZeldaZach commented on #920
Can you try backing up & deleting your config file?

[2020-04-22 16:56] tooomm opened #986 "Integrate other cube sites as well"
With the new and awesome cube pull feature via API...
it would be nice to have the biggest site about cubes "Cube Tutor" available, too!

Is there an API available? I just read something in their dev blog, but couldn't find more information.

Maybe you need to reach out if we want to integrate them, @ZeldaZach?
Ben Titmarsh is running the site (https://www.cubetutor.com/contact)

<br>

Are there o

[2020-04-22 17:03] tooomm commented on #962
You mean http://draft.bestiaire.org/?
The page is not available for me currently.

But I remember a service where one could upload a mtgo draft and see all picks everybody did for analysis and discussion.

This would be especially useful when drafting with other humans to see what they picked.

<br>

But probably difficult to do with our current system.

[2020-04-22 17:07] ZeldaZach commented on #986
Unfortunately, CubeTutor is on its last legs according to Ben. I don't find this worth our time or efforts, as Cube Cobra is a solid replacement and is under active development. No fix.

[2020-04-22 17:07] #986 closed

[2020-04-22 17:09] tooomm commented on #986
Interesting. I agree 👍

[2020-04-22 23:46] 7stringplayer commented on #962
Yes that is the site I was referring to

On Wed, Apr 22, 2020 at 12:03 PM tooomm <notifications@github.com> wrote:

[2020-04-23 07:40] HerveH44 commented on #920
Hi @trsbox thank you for the output files. It seems that npm can't create the data directory by itself. I don't know why, I guess it must be permissions issues. If you can provide us this the following informations we could help:
1. "ls -lA" on the root directory (~/dr4ft)
2. what is your OS (it seems Linux Mint), setup (is it on a Virtual Machine, or in a container/docker, etc.)

I don't know if

[2020-04-23 08:35] tooomm commented on #962
Maybe check this: https://github.com/dr4fters/dr4ft/pull/96

We have an API which can deliver deck lists. However, I never used the API and honestly don't know if draft.info supports it. @ZeldaZach

[2020-04-23 12:32] HerveH44 commented on #855
For bots with AI, it may be interesting to look at a possible wrapper of this : https://github.com/madrury/mtg-draftbot

[2020-04-25 19:04] trsbox commented on #920
Thank you for the info.  I will try above in the next few days.  Its debain virtual machine.

If i can not get it to work ill give u access.  Thanks again.

[2020-04-26 06:13] slumberspirit opened #991 ""invalid cards: lurrus of the dream-den""
Hi, dr4ft is telling me Lurrus of the Dream-Den is an invalid card. (Note I was fetching a cube from Cube Cobra containing that card.)

[2020-04-26 09:12] HerveH44 commented on #991
Hi @slumberspirit , thanks for reaching out. Could you indicate the cubeId you used ?

[2020-04-26 09:14] slumberspirit commented on #991
Tried it with a few and encountered the same issue. One was: wtwlf123

[2020-04-26 09:17] HerveH44 commented on #991
Yeah, I guess it's because it's written differently in MTGJson : the card's name is "Lurrus of the Dream Den" not "Lurrus of the Dream-Den"

[2020-04-26 11:17] tooomm commented on #991
Regarding Scryfall `Lurrus of the Dream-Den` is correct and MTGJSON has it wrong then:
https://scryfall.com/card/iko/226/lurrus-of-the-dream-den

(Cockatrice shows the same issue)

[2020-04-26 11:27] tooomm commented on #752
Still want to highlight two points from this issue which are lacking imo and are more important ones in case somebody wants to pick this up:
- Mana cost **(and text!)** not being displayed completely for cards with a special layout (adventures, split, aftermath...)
Only first half is shown as realized in e.g. ELD adventures or GRN split cards.

- Offer an option to disable the highlighted card pre

[2020-04-26 22:52] #960 closed

[2020-04-27 13:24] tooomm opened #996 "Missing draft modes"
Next to #919, which requested "Rich Man's Draft", there are two famous & fun draft formats also missing:

- [x] Rich Man's Draft (#990)

- [ ] Rochester Draft

- [ ] Winston Draft

"Grab a Bag" Draft and Sealed options, where every player chooses a pack (set) for all group. would only be possible when sets can be changed from within an already created room.

[2020-04-27 15:20] HerveH44 commented on #996
That does not seem impossible. I would prefer an issue for each game mode with exhaustive explanation and link to other resources in order to fully understand how they should be played.

[2020-04-27 15:28] ZeldaZach commented on #996
Agreed w/ Herve. These should be split up.

[2020-04-27 15:29] tooomm commented on #996
Ok, sure. I get your point. Will open separate issues and try to keep that in mind. 👍

[2020-04-27 15:29] #996 closed

[2020-04-27 15:41] tooomm opened #997 "Feature Request: Rochester Draft"
Small wrap-up what it is about:
- A pack is opened for everybody to see
- Players take turns picking one card at a time from the same pack everybody sees

See https://mtg.gamepedia.com/Rochester_Draft and https://magic.wizards.com/en/articles/archive/feature/rochester-draft-primer-2005-01-21

<br>

I'm not certain about how many packs are played normally and how pick order and pack opening are han

[2020-04-27 15:43] tooomm opened #998 "Feature Request: Winston Draft"
See https://mtg.gamepedia.com/Winston_Draft and https://magic.wizards.com/en/articles/archive/winston-draft-2005-03-25

Please provide any missing information (with sources at best)!

[2020-04-27 15:48] ZeldaZach commented on #991
Will be fixed with tonight's rebuild.

[2020-04-27 15:50] tooomm opened #999 "Feature Request: "Grab a Bag" Draft/Sealed"
"Grab a Bag" Draft and Sealed options, where every player chooses a pack (set) for all group, are currently not possible.
Would require to change sets from within an already created room.

I don't necessarily suggest that every player can select a set.
But people can make a decision in the game room chat for example and the host adjusts the options accordingly without the need to recreate the room

[2020-04-28 13:54] HerveH44 commented on #999
I'm doubtful about the real utility of this one... I feel that it would be a big work to do for something that I feel is doable now (create a game, ask for people to make their choice and then recreate a new game with the correct sets).

I need more support from the players to know if it's a big deal for them, otherwise I would not want to implement it (or put it to a very low priority).

[2020-04-28 13:57] HerveH44 commented on #998
The real deal here is to find a (nice) way to show and pick multiple cards pile ... If anybody has resources on other websites (even not about magic) that offer this kind of UX I would happy to check it!

[2020-04-28 13:59] HerveH44 commented on #998
A website : https://mtgadraft.herokuapp.com/ has implemented winston draft !

[2020-04-28 19:47] trsbox commented on #920
@HerveH44  Your instructions appear to have worked.  Thank you.

[2020-04-28 19:49] ZeldaZach commented on #920
Awesome!

[2020-04-28 19:49] #920 closed

[2020-04-28 19:49] ZeldaZach commented on #999
I'm on Herve's side here. This feels overkill and doesn't add much value to the service.

[2020-04-28 19:49] #999 closed

[2020-04-29 15:31] HerveH44 commented on #991
@slumberspirit this has been fixed by the new MTGJson version

[2020-04-29 15:31] #991 closed

[2020-04-29 15:47] tooomm commented on #53
@HerveH44 Did something change regarding this? I did not receive any notification while the chatbox was closed yesterday.
But I haven't played for a while, so I can't tell for how long this has been around. Maybe with the v1 refactor?

[2020-04-30 13:40] serokellcao commented on #998
I have this implemented in 2016 on my old GitHub account, [this commit](https://github.com/manpages/draft/commit/252512fe228406f8c66b7ea80b9d0d5e6926f86c) could help you out.

That said, I'm working on 2-player formats right now and I'm implementing Glimpse Draft as a superior and more skill-testing 2-player format.

[2020-04-30 13:50] serokellcao opened #1006 "MTGJSON post-processing fails with `TypeError: groupedCardsArray.map(...).flatMap is not a function`"
Expected behaviour: `npm i` installs dependencies and fetches the data from mtgjson.

Observed behaviour: `npm i` phase two fails with

see [full log](https://github.com/dr4fters/dr4ft/files/4558693/dr4ft-issue-2.txt) attached.

Reproduced: `master` at the time of writing. I've started debugging it now.

[2020-04-30 13:52] serokellcao opened #1007 "Feature request: Implement Glimpse Draft"
[Specification](http://turnonemagic.com/glimpse-drafting-best-way-draft-cube-2-4-players-title-shorter/) of Glimpse Draft format.

I'll implement it after I (or someone else) will fix #1006

[2020-04-30 13:53] HerveH44 commented on #998
Hi @serokellcao, thanks for the information.

Just out of curiosity, why didn't you make a PR of this feature back in 2016?

I'll study your commit and see how I can make a PR !

[2020-04-30 14:10] HerveH44 commented on #1006
I think you are using an old version of node which does not have Array.flatMap. It should be NodeJs > 11.0.0

Could you tell me what version of NodeJs you are using? ( using "node --version" for example)

[2020-04-30 14:29] serokellcao commented on #1006
I'm very sorry, I'll do that in a sec.

[2020-04-30 15:17] #1006 closed

[2020-04-30 15:22] HerveH44 commented on #1006
You're are completely right. I'll make a PR for that.

[2020-04-30 15:41] serokellcao opened #1009 "Feature Request: Only Historic Sets for Chaos Formats"
Some of us are happily playing the actual games on MTGA, some of us are peer-pressured to.
Nonetheless, there should be an easy way to play a Historic Chaos Draft.

Implementing this feature should be similar to `- [ ] Only modern sets` checkbox.

[2020-04-30 15:52] tooomm commented on #1009
What are the exact rules for Historic Sets? @serokellcao

There could also be a `[ ] Only current standard sets` checkbox, using this data:
https://whatsinstandard.com/api/v6/standard.json

[2020-04-30 15:53] serokellcao opened #1010 "Feature request: Implement Peasant and Pauper Toggle"
People with new accounts on MODO and MTGA tend to lack rare and mythic wildcards / expensive carrds, so they need to have peasant mode.

For any format, there should be a function to replace rare slots with uncommons (pesant), and both rare and uncommon slots with commons (pauper).

[2020-04-30 15:59] serokellcao commented on #998
@HerveH44 I was pretty sure that

 1. It was adding but a marginal value to `draft`.
 2. It would have gotten refused because, even though the algorithm was OK, everything around it was most likely garbage. I never touched server-side JS back then, prior to making those commits :)

[2020-04-30 16:53] serokellcao opened #1011 "Feature request: Implement "Reserve Card" functionality"
Ditto.

Rationale:

 1. Prevent misclicks;
 2. Provide formats with card burning (e.g. Glimpse Draft) with a nice UX with a click providing options to:
    a. Reserve to pick
    b. Reserve to burn

[2020-04-30 17:00] tooomm commented on #1011
"Reserve to pick" is already there, called `Autopick`. You have to click a card once to select/mark it for automatic pick once the timer runs up. A pick is never confirmed/done just by clicking a card for the first time.
So making a false pick can only happen if you double click a card instead single clicking it. Or clicking a card marked as `Autopick` again. Or did I get you wrong?

"Reserve to b

[2020-04-30 18:08] serokellcao commented on #1011
Oh, I somehow missed that, sorry!
I think I'll work out a decent UX for Glimpse Drafting another way.

[2020-04-30 18:08] #1011 closed

[2020-04-30 18:12] tooomm commented on #1011
Nevermind :)

[2020-04-30 23:20] serokellcao commented on #1007
You can follow the progress in [my fork](https://github.com/serokellcao/dr4ft/commits/master). I'll squash the flurry of commits before making a PR.

[2020-05-02 00:07] keeler commented on #877
Off the top of my head, I think the main thing that was difficult to understand (and that I can't claim to understand fully yet) is the logic/conventions for how events are passed around.

Events can fire and get caught in some totally different area of the code, and unless the event is named in some unique way it's very difficult to track where that message went. These are basically impossible fo

[2020-05-03 00:54] serokellcao commented on #1007
A question to @HerveH44 and/or @tooomm —

in `sendPack(pack)`, there is a line `this.send("pack", pack);`.

I understand that it sends this information over websocket to frontend, however, when I grep `frontend/`, I can't understand how it's handled:

[code]

Can you help me out a little bit with understanding of what's going on here?

[2020-05-03 05:07] serokellcao commented on #1007
Implemented first version. You can read the implementation story in the commit messages of my fork.

Deployed here: http://thoughtflare.memorici.de:22019.

I need help with disabling bots for the format or tweaking bots in such way that they will pick following the correct protocol, not crashing drafts.

I also made a change where `meta()` is getting called without consideration for the next playe

[2020-05-03 07:10] HerveH44 commented on #1007
@serokellcao the events that you are looking for are all in the "frontend/src/events.js" file. Look for the function pass

[2020-05-03 07:18] HerveH44 commented on #1007
I can't see how you "burn" cards in your implementation?

[2020-05-03 19:38] serokellcao commented on #1007
Using the obscure technique of mutable data structures and side effects:
https://github.com/serokellcao/dr4ft/commit/6470c05eaf67ca845cdfd307c1c388d6bb8f26c9#diff-1034785fb7388d6d0546ed761ab74ba0R191

[2020-05-03 22:48] nex3 opened #1015 "Feature Request: download all decklists after draft"
Since everyone's sheltering in place, I'm working on taking my weekly cube drafts digital to play on MTGO. dr4ft.info looks like an absolutely wonderful tool for this (especially after trying some other vastly worse online draft tools that I'll refrain from naming).

There is one feature that would help smooth out the process a little, though: if there were a toggle for the creator of the draft to

[2020-05-03 23:21] nex3 opened #1016 "Feature Request: Add MTGO + MTG Arena export options"
When exporting a draft deck to a txt format, split cards such as [Dead/Gone](https://scryfall.com/card/plc/113/dead-gone) are listed with two slashes and spaces between their names, like `Dead // Gone`. Magic Online can't parse this format, and will refuse to import decklists that use it. It wants split card names to have one slash and no spaces between the words, like `Dead/Gone`.

[2020-05-04 00:56] nex3 opened #1017 "Bug: pick timeouts put the draft in a weird state"
While running test drafts, I've run into a few situations where the draft seems to enter a glitchy state when a drafter's picks time out. For example, I captured the following screenshot after starting a draft, making a few picks, and forgetting about it for an hour or so:

![image](https://user-images.githubusercontent.com/188/80930181-b02ad880-8d66-11ea-9e64-5849ea0fee92.png)

The consequences o

[2020-05-04 03:41] serokellcao commented on #1016
I think we should keep the default TXT format intact, and instead add more target formats.

Different applications want different formats. For instance, MTGA handles splits completely differently and doesn't know about its own "DLC" sets.

I wrote an exporter for MTGA: http://thoughtflare.memorici.de:22020 (the only exporter I know of that actually works), and I think that we should port the worki

[2020-05-04 03:44] serokellcao commented on #1017
I think it might have something to do with the special treatment bot seats get.
When you're surrounded by bots, `meta()` call that refreshes and broadcasts the state won't get updated until you get the pack from the bot behind you.

I don't know if it matters, but in my implementation, I've removed the isBot check and no slowdown happened.

[2020-05-04 05:09] ZeldaZach commented on #1016
I would call this a feature request too. All sub-systems (Scryfall, MTGJSON, etc) use the double slash approach. Will rebrand the ticket.

[2020-05-04 05:12] ZeldaZach commented on #1017
Will defer to @serokellcao on this one. If you're having no issues, can you link to a beta site so it can be re-ested?

[2020-05-04 07:15] HerveH44 commented on #1015
If I remember correctly, we have an API that you may want to check. Its purpose is to create, start and monitor a game remotely (you will be the host of the game but you will not play). The API is [here](https://github.com/dr4fters/dr4ft/blob/master/doc/api.md). You can fetch the deckslists of the players (I may be wrong but I think it's the whole pool of cards drafted not just the "main" deck) wi

[2020-05-04 09:16] tooomm commented on #1015
@nex3 Happy to see more and more people finding use cases and come up with suggestions and help in these days.

Please check out the API and let us know how it goes, as we are not aware of anybody using it yet.
The PR implementing this was https://github.com/dr4fters/dr4ft/pull/96

<br>

Not too bad in her case probably as people might want to sideboard as well!

<br>

Oh yes, definitely!

[2020-05-04 09:43] tooomm opened #1018 "Clarify download options"
Currently the deck download options in the dropdown are named `cod`, `json`, `mwdeck` and `txt` which is not super intuitive for all users and could be easier and more self explanatory like for example:
`Cockatrice (.cod)`, `JSON (.json)`, `Magic Workstation (.mwdeck)`, `Text file (.txt)`

This was created with https://github.com/dr4fters/dr4ft/issues/1016 in mind.
I don't even know the deck forma

[2020-05-04 09:57] tooomm opened #1019 "Configure linter to catch extra spaces + camelCase"
As spotted in https://github.com/dr4fters/dr4ft/pull/990#discussion_r418920580 & https://github.com/dr4fters/dr4ft/pull/1021#issuecomment-624294190

[2020-05-04 13:52] ZeldaZach commented on #1018
MTGO is .dek

[2020-05-04 18:29] serokellcao commented on #1016
@nex3, if you can give me a spec for MODO, when I'll be adding MTGA export functionality later this week, I'll implement MODO export too!

[2020-05-04 18:32] serokellcao commented on #997
Implementation-wise this one is way easier than getting the spec right :)

[2020-05-04 18:35] serokellcao commented on #840
I actually abuse SIDEBOARD vs JUNK tabs to achieve that. I think that deck builder is very good as is, while adding new formats, export options and dealing with technical debt here and there is more important. That's just my 2c :)

[2020-05-04 18:54] tooomm commented on #997
Haha, true... I remember that I saw some official video once!

Found it, there are some more information included: https://youtu.be/2rGoY4A4isg?t=156

[2020-05-04 20:16] nex3 commented on #1016
As far as I know, Magic Online's text format import is exactly the same as the `.txt` format emitted today other than the way split cards are represented.

[2020-05-05 00:12] serokellcao commented on #1016
@nex3, can you please check how does MODO format adventure cards such as "Murderous Rider"?

Bike-shedding: I'd argue that export UX is anything but low-priority. The fact that I had to make http://thoughtflare.memorici.de:22020 for my play-group's convenience is an evidence. It's something that gets in the way of every single drafter who doesn't use Cockatrice to play the matches.

[2020-05-05 00:55] nex3 commented on #1016
Adventures are formatted as just the creature's name, so `Murderous Rider`.

[2020-05-05 02:01] serokellcao commented on #1016
Thank you, just as I thought!

Will do my best to implement exports by Saturday!

On Tue, 5 May 2020, 03:55 Natalie Weizenbaum, <notifications@github.com>
wrote:

[2020-05-05 20:38] serokellcao commented on #1017
I retract my statement BTW, I investigated `meta()` function thoroughly and how it's handled, I'm sure that it's not the issue.

It seems like some desync? Could it be that your computer went to sleep in the meantime and websocket dropped? @nex3

[2020-05-05 23:50] taw commented on #983
I added some documentation to https://github.com/taw/magic-sealed-data as README.md

I hope this is enough. If you have any requests, just let me know (creating issue in that repo, or whichever other way works for you)

[2020-05-06 03:40] nex3 commented on #1017
I was using my computer continuously throughout the period (although not necessarily the tab in question).

[2020-05-06 07:39] tooomm commented on #840
It's tagged as low, there is no hurry. :)

I would like to see other things added/fixed first, too.

[2020-05-06 12:58] tooomm commented on #855
That should also allow to improve auto picks made by real players (e.g. dropped or AFK) for the benefit of all.

[2020-05-07 02:29] eflores370 opened #1022 "Bug: Cross Site-Scripting in Chat Messages"
I found a Cross-site scripting vulnerability that occurs whenever a user sends a chat message to other players in the same lobby. [Cross-site scripting](https://owasp.org/www-community/attacks/xss/) allows a player in the lobby to submit a message that will be interpreted as HTML/JavaScript due to the lack of output encoding.

I've located the source and I believe it's located in the following cod

[2020-05-08 09:14] mixmix opened #1024 "Feature Request: display magic-sealed-data version"
I love how on the landing page of dr4ft.info it shows clearly the build deployed + mtgjson version.
I think it would also be cool to show which version of  https://github.com/taw/magic-sealed-data the server is currently using.

I also think it's nice because it provides a nod of thanks to @taw who is maintaining that resource :heart:

[2020-05-08 09:15] mixmix commented on #1024
version could just be the hash of the latest commit, similar to the a[p version

[2020-05-08 10:18] tooomm commented on #1024
Since we rely on @taw and his booster data now for the best possible (and most realistic) draft/sealed experience, I like the idea to show that on the bottom line of the page!
Linking to his repo, potentially improves participation and the data, too.

It might also help new people to put some information in the README that/how the code automatically pulls/updates data from external sources nowaday

[2020-05-08 23:42] mixmix opened #1025 "Bug?: draft boosters not that random"
I'm using this issue to track a _possible bug_.

I've been doing a bunch of drafting of Ikoria with friends, and have been noticing this thing where I've been seeing duplicates of the same rares come up _a little more often_ than expected.

e.g. just now within the same draft (2 players, 6 bots):
- a friend and I both first-picked a Kaheera in each of our pack 1
- we also each pulled a 2 Snapdacks

[2020-05-13 14:05] #919 closed

[2020-05-13 16:11] tooomm opened #1029 "Improve interface for new game modes"
In https://github.com/dr4fters/dr4ft/pull/990 we spottet an issue with how game types are layed out currently. The way we present the options and combinations is limited and doesn't allow for further game implementations.

But it looks like we basically found an agreement about adding a new layer for flexibility and all future possibilities to the game selection matrix already:

--> `Game`, `Pool/

[2020-05-13 20:59] taw commented on #1025
IKO data looks totally fine as far as I can tell.

[2020-05-14 13:15] HerveH44 commented on #1025
I've run some tests (generating 1000 boosters) and never found any bias in rare repartition. I would tend to close this issue unless some news facts come out.

[2020-05-14 13:18] HerveH44 commented on #1022
Thanks for founding and reporting this bug. We'll check that quickly.

[2020-05-14 13:23] HerveH44 commented on #1017
One part of the problem might come from the "add" event on the frontend. This event is triggered when the server makes the autopick for the player. Right now it does update the update pack state, just the "main" or "side" state. So the last pick of a pack can be shown even after the server picked a card for you.

That should be easy to resolve, i'll make a PR for this.

It may not explain all the

[2020-05-14 13:25] HerveH44 commented on #1016
Hi @serokellcao how is this issue going? Do you need extra help?

[2020-05-14 14:00] ZeldaZach commented on #1025
Agreed. Personal Bias is always a thing.

[2020-05-14 20:37] #1019 closed

[2020-05-15 05:36] Hyphen-ated opened #1032 "Bug: draft disappears while drafting"
Today I was drafting with seven other people and no bots. We were using a cube list I supplied. Partway through the draft, sometime around 6:45 PDT,  the site seemed to become unresponsive, not showing new packs when it should be, so we all refreshed, as we often have to do while using the site -- usually it becomes responsive again. This time our draft disappeared, giving us all the error message

[2020-05-15 05:54] tooomm commented on #1032
How long was the draft running when this happened?

[2020-05-15 07:14] Hyphen-ated commented on #1032
10 minutes or less

[2020-05-15 07:14] HerveH44 commented on #1032
Hi @Hyphen-ated what website were you using to play - dr4ft.info or beta-dr4ft.herokuapp? It seems that you were playing when the website rebooted. It may happen from time to time as we do not have any update schedule yet (but who knows for the future @ZeldaZach ?).

[2020-05-15 07:16] Hyphen-ated commented on #1032
We were using dr4ft.info

[2020-05-15 13:43] HerveH44 commented on #1032
@ZeldaZach could you tell us what the log says? I would guess that you updated the website but it could be something else.

[2020-05-15 15:01] 7stringplayer opened #1034 "Dropdown menus revert back to default options"
So i tried to change the packs and they end up going back to Ikoria

[2020-05-15 15:07] tooomm commented on #1034
Interesting. Just tested this... and you are right. They dropdown flickers back to IKO when you create the sealed room - barely noticable. I think that's new.
But in the room description you see the right ones listed. When I started the game, the right packs appeared as well.

[2020-05-15 15:14] 7stringplayer commented on #1034
Mine did not they all went to Ikoria not the set i selected

[2020-05-15 15:16] tooomm commented on #1034
When do they change back to ikoria?
Which site do you use and does it currently still happen?

[2020-05-15 15:19] 7stringplayer commented on #1034
Almost immediately they flock back to Ikoria.  I create the room and it says M20 and 5 IKO.  I use Dr4ft.info

[2020-05-15 15:54] rnoennig commented on #1032
Same happened to me twice in a row now. Nothing is shown in the javascript console. Both players are in "Waiting for the next pack..." state.
Was a "Type: Decadent Draft; Info: 36x M20" game. Game id 4d145a30-96c3-11ea-a445-457e78a678d9

[2020-05-15 18:20] oelarnes opened #1035 "Client id exported to draft log as event id"
Hi, I've been familiarizing myself with this great project to customize it for a league I run.

I had some confusion about App.state.id vs the room id and it looks like I am not the only one!

getLog in events.js write App.state.id to your draftlog as 'Event #', but that value is a uid generated by the client to persist identity between sessions. Looking over logs, it is the case that this is a pl

[2020-05-15 19:59] HerveH44 commented on #1034
@keeler It may be linked to your PR. Do you have some time to check if they are linked?

[2020-05-15 20:40] brantlc opened #1036 "Dropdown menus revert back to default options"
The dropdowns are reverting back to IKO and 3 packs since today's update.

[2020-05-15 20:47] tooomm commented on #1034
Note: This also happens for draft. It is not a sealed only issue.

Happens in Chromium and Firefox, sometimes immediately, sometimes a bit delayed or once you click the create button.

[2020-05-15 20:48] ZeldaZach commented on #1034
Server ran out of storage. I cleaned it up just now. Feel free to try again

[2020-05-15 20:52] #1036 closed

[2020-05-15 20:52] tooomm commented on #1035
Hi @oelarnes, thanks for opening this. Happy to see you like our project so far.
New PR's are always very welcome!

I'm curious what kind of league you plan on running? :)

[2020-05-15 20:52] brantlc commented on #1036
Similar issue with sealed was already reported.

[2020-05-15 20:53] tooomm commented on #1034
Unchanged :(

[2020-05-15 20:55] tooomm commented on #1036
For reference: #1034 is the first reporting issue of this.

[2020-05-15 21:17] oelarnes commented on #1035
I run an online cube league called "Online Cube League". We've been going strong for over a year and lately I've been using it as a motivator to learn some full-stack js. I have a GraphQL data platform I'm fairly happy with at https://github.com/oelarnes/ocl-data, and currently I'm working on shoving it onto dr4ft like a Parcelbeast onto a Glimmerbell. If you have any thoughts on whether it's inte

[2020-05-15 21:31] 7stringplayer commented on #1034
Mine seemed to work in Chrome.... no issues now

[2020-05-15 21:39] tooomm commented on #1034
Works here now, too.

[2020-05-16 09:35] mixmix commented on #1025
hey @HerveH44 I've written a script which consistently demonstrates a bug - namely pools which have way too many duplicate rares / mythics to be healthily random. (btw I think testing 1000 booster generations is a good idea, but that hides a problem at the pool level)

[code]

[code]

[2020-05-16 10:44] mixmix commented on #1025
btw I think testing 1000 booster generations is a good idea, but that hides a problem at the pool level.

I wrote a script to test pools (https://gist.github.com/mixmix/b7555e9f64efd9ca2c2ef4c745d64937) and found that over 10,000 pools, 80% of those pools had 19-22 unqiue rares/ mythics in their pool.

Said another way : _most pools had at least 2-5 duplicate rares / mythics_.

(note that could me

[2020-05-16 13:27] tooomm commented on #1025
Thanks for the further investigation and your input @mixmix!

[2020-05-16 13:42] tooomm commented on #1034
Looks like @ZeldaZach reverted dr4ft.info to a commit without the `Decadent` option.

If I look at https://beta-dr4ft.herokuapp.com/ the issue appears again and seem to be related to that change. Can you confirm @7stringplayer?
Thinking about if further... it looks like the pack selection gets reverted to default instead "remembering" the selected value and present that to the user on next visit.

[2020-05-16 15:33] 7stringplayer commented on #1034
Yes on that site it  is doing what it did yesterday.  The main site is still working

[2020-05-16 23:10] keeler commented on #1034
Likely related to my recent change, I can take a look this weekend.

I'm a little confused, can I get a concise description of the expected behavior vs what's happening instead?

Is it one of these?
1. In the lobby, select a set other than Ikoria. The dropdown immediately switches back to Ikoria rather than updating to the new set.
2. In the lobby select a set other than Ikoria. The dropdown shows

[2020-05-16 23:19] brantlc commented on #1034
It's 1. and 3.

[2020-05-17 00:21] keeler commented on #1034
Thanks for the clarification. PR with the fix: https://github.com/dr4fters/dr4ft/pull/1039.

[2020-05-17 00:42] #1024 closed

[2020-05-17 04:19] mixmix commented on #1024
<3
This is choice!

On Sun, 17 May 2020, 12:42 Zach H, <notifications@github.com> wrote:

[2020-05-17 14:55] tooomm commented on #1034
@keeler We are getting there! :)

The initial issue reported here is fixed, but I'm sorry to let you know that now there is another one now. :)
![booster selection](https://user-images.githubusercontent.com/9874850/82149012-12e79e00-9856-11ea-91d2-1cd301f70090.png)

It only happens when you visit the page for the first time. Once you change the number of packs the drop down menus appear in correct

[2020-05-18 01:42] oelarnes opened #1045 "Bug: ELD split cards mismatch names/text"
This is an issue with how cards keyed by name are created, and results in incorrect or confusing oracle text being displayed in the draft. Here's what cubable_cards_by_name.json looks like for Murderous Rider:

    "murderous rider": {
        "uuid": "4797ff05-e346-529b-bdce-a038f5a4da2a",
        "name": "Murderous Rider",
        "names": [
            "Murderous Rider",
            "Swift End"

[2020-05-18 07:20] HerveH44 commented on #1045
Hi @oelarnes , actually you can find the problem not in "cubable_cards.json" which only maps cubable cards to uuid, but in "cards.json" which actually maps the uuid to a card representation.

Where you want to work is on the file "backend/import/toBoosterCard.js" which maps a mtgjson card to an entry of cards.json. The problem with Adventure cards are that there text is actually split in 2 differe

[2020-05-18 07:28] HerveH44 commented on #1035
Hi, how would you like to use your data with dr4ft ?

About your issue, good catch, I don't think we save the gameId but that would make sense to save it, either in the gamestate or directly to the App.state.

I would suggest to save it from the "frontend/src/router.js" where you can find it in the switch case "g". You could also just save it in the "initGameState" function too.

[2020-05-18 10:54] tooomm commented on #1029
Made a mockup for a potential look in the current UI:
![mockup](https://user-images.githubusercontent.com/9874850/82204572-7086f380-9905-11ea-9656-e69836289b7c.png)

[2020-05-18 12:00] HerveH44 commented on #1025
Hi @mixmix, I'm not into statistics but could you tell me what is the probability that all rare slots of 24 boosters have different value?

[2020-05-18 13:00] HerveH44 commented on #1025
Checking on this site : https://math.stackexchange.com/questions/56815/how-do-i-calculate-the-probability-of-getting-10-unique-members-of-a-set-given-r

I get the result for 55 rares (around what we have in ELD, 53 rares and 15 mythics - 1/8 possibility): 0.026% chance all 24 boosters rares are all different from each other.

I would say that it goes along with what you found  - nearly all the tim

[2020-05-18 14:58] #1035 closed

[2020-05-18 15:25] HerveH44 commented on #1032
Hi @rnoennig and @Hyphen-ated have you been experiencing this weird behavior again since the last 3 days?

We have been updating the server since then and we may have solved this issue.

[2020-05-18 15:38] #1022 closed

[2020-05-19 06:54] mixmix commented on #1025
Yeah I've thought about doing the probability. I think it will be easier to
write a test with a set of numbers, which I plan to do next

One duplicate pair seems reasonable. It was 3-4 pairs regularly which
surprised me

On Tue, 19 May 2020, 01:01 Hervé Huneau, <notifications@github.com> wrote:

[2020-05-19 15:59] #1034 closed

[2020-05-22 21:47] mixmix commented on #1025
Ok here we go !

## Raw Number Simulation

This is based on picking 24 random numbers, and seeing how many unique numbers you get.
Here's the results from 1e6 'pools' :

uniques | proportion
--------|-----------
... | ...
15 | `░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░` 0
16 | `░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░` 0
17 | `▓▓▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░` 0.03
18 | `▓▓▓▓▓▓▓▓▓░░░░░░░░░░

[2020-05-23 03:42] mixmix commented on #1025
Here's the two overlayed as a diff :
![dr4ft-diff](https://user-images.githubusercontent.com/2665886/82720851-7583e280-9d0b-11ea-86cd-559af9647ac3.png)

## summary

the `pool.js` probability curve actually sits _slightly higher_ (peak likelihood of  21 unique cards in a pool of 24) compared to my purely number based simulation (peak of 20).

so looks like my expectations don't align with actual pr

[2020-05-23 09:24] tooomm commented on #1025
1e6 = 10^6?

[2020-05-25 10:27] mixmix commented on #1025
Yes. Sorry that's the JS for that

On Sat, 23 May 2020, 21:24 tooomm, <notifications@github.com> wrote:

[2020-05-25 11:36] HerveH44 commented on #1025
@mixmix thanks for the investigation

[2020-05-25 11:36] #1025 closed

[2020-05-29 02:02] Hyphen-ated commented on #1032
@HerveH44 Yes, it happened again about one minute ago. The game id was 47265340-a149-11ea-948a-0d78b30da32a

[2020-05-30 14:26] RansomTime opened #1080 "Bug: no common taplands in KTK"
**Webpage**:
www.dr4ft.info
**Browser**:
Firefox 76.0.1, other players were using other browsers

----------------------------------------------------------------------------------

## Background Information

## Detailed Description
Started a draft, half way though we realised no-one was getting any of the common KTK taplands (i.e. https://scryfall.com/card/ktk/246/tranquil-cove).

Verified by mak

[2020-05-30 23:05] #1080 closed

[2020-06-04 19:33] khansdrafter opened #1087 "Bug: No dual tap lands in Khans of Tarkir set"
**Webpage**: dr4ft.info

No dual tap lands (swiftwater cliffs, blossoming sands, etc) in Khans of Tarkir set in draft or sealed.  tried multiple options; # of players, private\public, bots\no bots

Appears this problem just started happening in last 2-3 weeks

## Detailed Description

launch chrome
clear browsing data
go to dr4ft.info
update pack # to 4
change packs to Khans of Tarkir
create room

[2020-06-05 07:04] HerveH44 commented on #1087
Hi, thank you for opening the issue. It has already been solved in #1081 but has not been deployed on dr4ft.info yet.

@ZeldaZach Hey, could you update the main site to the last commit in order to not have this issue?

[2020-06-05 14:22] ZeldaZach commented on #1087
Yeah didn't realize. Site re-deployed!

[2020-06-05 14:47] ZeldaZach opened #1091 "Bug: Seeing console failures with latest plugin updates"
When i deployed live with updated packages, the service didn't work. I rolled back the package updates and worked fine.

See #1082 #1083 #1084 #1077 #1089 and #1090 to understand what was updated

cc: @HerveH44

[code]

[2020-06-05 15:29] khansdrafter commented on #1087
Looks like you are maybe still working this one, but still does not appear to be resolved

[2020-06-05 21:09] ZeldaZach opened #1092 "Bug: Resource Overload"
Draft randomly started using 100% cpu and ram for extended periods of time during its re-download phase. It appeared to be dying while trying to download booster data. Draft is offline until we can address this as it killed our servers.

[2020-06-05 21:09] ZeldaZach commented on #1092
cc: @HerveH44

[2020-06-06 14:18] tooomm commented on #1087
Will open to double check once we are live again.

[2020-06-06 19:56] ZeldaZach opened #1093 "Bug: Dr4ft works on Chrome, but not FireFox"
Latest build of master seems to work fine on Chrome, while a blank screen with three errors on firefox relating to booster version and loading in the game types

cc: @HerveH44

[2020-06-07 08:02] HerveH44 commented on #1092
Hi @ZeldaZach, sorry but I can't take of dr4ft anymore, as I told you I need to step back from it. I haven't investigated much on your problem but what bugs me is that beta-dr4ft.herokuapp.com is functioning well. So it means that the problem is on your installation. I guess check with "htop" that all the processes of NodeJs linked to dr4ft have been killed (as it could remain some zombie process

[2020-06-08 08:09] justinvoorhees opened #1095 "Feature Request: UX Support / Redesign"
**Continuing the redesign conversation from the Discord chat -**

Hey there, here's this week's update.

First off is the latest iteration of the join flow. Instead of ditching the join table entirely I've stripped it down and relegated it to the home page for browsing (fig 1). The primary way to join now is through a small join form that pops out from under the header. A unique / custom link is g

[2020-06-08 10:26] mixmix commented on #1093
reproduced this locally with commit : `3ccc465`

[2020-06-08 10:37] mixmix commented on #1093
scratch that `3ccc46532757310731bfe03e3a0b4ac20112a788 ` works totally fine for me.

Setup:
- node `12.6.3`
- `npm install && npm start` based setup (not docker)
- firefox / chromium on linux, both running dr4ft happily

[2020-06-08 14:35] ZeldaZach commented on #1093
Feel free to reach out on Discord @mixmix https://mtgjson.com/discord so we can discuss this further

[2020-06-10 07:36] HerveH44 commented on #1091
I think I found the problem and pushed a fix on master already. You may want to deploy this one and see if that works on your end now @ZeldaZach

[2020-06-10 21:44] adamr1348 opened #1099 "Feature Request: drafts for other games"
I'm interested in drafting a cube from another game (Android Netrunner) using the UI and cube options on this site. The way I envision it, there would be another option for netrunner cube draft that gets data from netrunnerdb.com. I've explored their API a bit and know how to find the data for the cube lists and the card images. What I don't know is how to refactor the code here (I haven't yet loo

[2020-06-11 09:44] tooomm commented on #1093
dr4ft.info now works on Firefox (and Chromium) again.

https://github.com/dr4fters/dr4ft/pull/1100

[2020-06-13 21:03] #1093 closed

[2020-06-16 08:01] programming-wolf opened #1105 "dr4ft.info returns Service Unavailable (HTTPCode 503)"
Hi folks,
I have not been able to access https://dr4ft.info for the last few days because of error code 503. Maybe there is an error with your nginx configuration? I can access http://beta-dr4ft.herokuapp.com.

I wanted to use your website for a draft this week, is it ok if I use the beta version?

Thanks,
Ben

[2020-06-16 14:02] tooomm commented on #1105
It's preferred when you use: https://stable-dr4ft.herokuapp.com/
It just got recently created for backup purposes. Thanks to @HerveH44 ❤️

beta-dr4ft should be more for testing and can change or break more frequently. It can still be a last resort if the others are not available, sure.

[2020-06-16 14:04] programming-wolf commented on #1105
Thanks for the fast reply, I'll do so.

[2020-06-16 16:26] ZeldaZach commented on #1105
We're back up. I changed the build process so hopefully it won't crash and go offline

[2020-06-16 16:26] #1105 closed

[2020-06-22 02:19] justinvoorhees commented on #1095
**Modals and hover-overs**

Upon further reflection I decided to go with modals for all other forms and menus. While the previous design could be more visually appealing I ended up asking - why have the user learn 3 different interfaces? The hover-overs are pretty self explanatory, but I had been meaning to address these for a while now. Hopefully they fit in well enough.

![modal](https://user-im

[2020-07-07 01:11] ZeldaZach opened #1130 "Bug: Cube Cobra imports failing silently"
Trying to import any cube doesn't update the list. I don't see any logs on my side.

[2020-07-07 08:56] tooomm commented on #1130
Same here on Firefox/Windows. No cards are imported to the list, nor does any error appear. If you tried an invalid/non-existent ID dr4ft used to show an error message at the very top for example.
Tried with e.g. Cube ID [nicolaj](https://cubecobra.com/cube/overview/nicolaj)

@dekkerglen did anything change on your side?

[2020-07-07 09:32] tooomm opened #1131 "Feature Request: Use keyrune to display set symbols"
## Detailed Description

As seen in recent design drafts, I like a lot how set icons are displayed in the drop down menu next to the set name for the set selection.

The keyrune package (https://www.npmjs.com/package/keyrune) should have the icons we need.

[2020-07-07 22:24] tooomm opened #1132 "Feature Request: Use MTGJSON v5 (v4 deprecated in 2020)"
## Detailed Description

MTGJSON v5 got released: https://mtgjson.com/changelog/version-5/#_5-0-0

Switch over to the new release for downloading and processing card data.
Also, the version information is integrated right into the card data download now. There is still a separate version file available (called meta now).
The former separate version file and the actual data file were often out of s

[2020-07-08 18:03] #1130 closed

[2020-07-12 04:41] dniemitalo commented on #1016
The spec for MTGO export is almost the same as the existing text export format. Two changes are needed for the new format:
1) Change the slashes in split cards as outlined above: "fire // ice" becomes "fire/ice"
(applies to Fuse and Aftermath cards in the same way; anything found with "is:split" in Scryfall)
2) Include a blank line before the sideboard.

Adventure cards are formatted as "Murderous

[2020-07-12 04:48] dniemitalo opened #1135 "Feature Request: Use newest card versions for Cube drafts"
Some cards are displayed with older card images that have obselete rules text. For example, Counterspell uses its image from Unlimited set, which was printed with the Interrupt type and outdated rules wording.

Preferring the newest non-Masterpiece image from Scryfall would solve that issue.

[2020-07-13 14:40] tooomm opened #1148 "Feature Request: Setup heroku review apps"
## Detailed Description
We should get our own Heroku setup. Currently, we still use the one from Herve.

## Further Information
https://devcenter.heroku.com/articles/github-integration-review-apps

[2020-07-16 11:24] tooomm commented on #1095
@justinvoorhees added a light mode/theme color palette and screen [here](https://github.com/dr4fters/dr4ft/pull/1136#issuecomment-659185740).

[2020-07-17 09:07] tooomm opened #1151 "Feature Request: Show date of Magic Sealed Data"
## Detailed Description
`...and Magic Sealed Data booster rules commit d6db322` should have a date as well:
`...and Magic Sealed Data booster rules commit d6db322 (2020-07-08)`

[2020-07-22 12:09] tooomm opened #1155 "Bug: Sorting and image quality selector messed up in game"
**Webpage**: dr4ft.info

#1136 introduced a regression.

## Detailed Description

There used to be a nice horizontal radio button selection table.

## Further Information

Before #1136:
![Untitled](https://user-images.githubusercontent.com/9874850/88186104-0fe1a300-cc35-11ea-9cbe-b7f2435f4dbe.png)

After #1136 it loos like this:
(Don't be confused by the additional options, the above is from a Sea

[2020-07-28 16:51] danielmartin0 commented on #1135
Oldest printings tend to work better for me given that I use a block cube.

[2020-07-28 16:53] danielmartin0 opened #1161 "Feature Request: Option to avoid scrolling after every pick?"
I'm considering streaming a dr4ft. It would be visually much more appealing if I didn't have to scroll to the bottom of the page after every pick, to avoid the topmatter. Either by an option to auto-scroll to the bottom, or by an option to put the draft info in a footer rather than at the top.

[2020-07-28 21:19] tooomm commented on #1161
To which position does it scroll for you? To the very top of the page?! That should not happen.
Which page do you use for dr4fting? And which browser and OS?

[2020-07-28 22:30] danielmartin0 commented on #1161
Ah. Well, I'm using draft.info on Safari, MacOS Catalina. I wasn't aware it was supposed to do anything other than reload at the top of the page like a new website.

[2020-07-28 22:55] tooomm commented on #1161
It should scroll directly to the pick area: https://github.com/dr4fters/dr4ft/pull/958
In most cases it works for me.

[2020-07-31 02:26] ZeldaZach opened #1169 "Feature Request: support drafting N cards per pick"
## Detailed Description

With Double Masters, wizards has added that for the first pick of each pack, you get two cards. So it would be 2,1,1,1,...,1 totaling 15 cards selected in 14 picks.

Goal is to support this draft pardim for double masters packs that get drafted.

Stretch goal is A way to allow users to set how many cards per pick (input field would be a list of numbs like I had above)

##

[2020-08-01 03:11] brantlc opened #1176 "Bug: 2XM boosters should have two rares."
**Webpage**:

## Detailed Description

## Further Information

[2020-08-04 09:24] tooomm commented on #1176
The picking algorithm needs to change as well for 2XM packs, allowing to pick two cards out of the first pack.

[2020-08-04 09:35] tooomm commented on #1016
@serokellcao in case you don't get around to implement your working deck converter code from http://thoughtflare.memorici.de:22020 to dr4ft... can you give us some short notes on what is different to the format and what needs to be covered for proper MTGA export? [MTGO specs we have - thanks dniemitalo](https://github.com/dr4fters/dr4ft/issues/1016#issuecomment-657174615)

<br>

I can totally see

[2020-08-08 00:22] lover-of-memes commented on #1176
This doesn't appear to be an issue with dr4ft. magic-sealed-data is working on fixing pack generation. If you spin up your own instance of dr4ft, it will have the recently modified rules that do include two rares (but it isn't perfect yet). [https://github.com/taw/magic-sealed-data/issues/3](https://github.com/taw/magic-sealed-data/issues/3)

[2020-08-08 12:04] tooomm commented on #1176
Interesting. The data in taw's repo is already available for 5 days... I thought dr4ft automatically updates those rules on a very regular basis and checks like once an hour?

It looks like in works now at dr4ft.info as well @lover-of-memes - only 4 days late. Maybe Zach had to rebuild manually for some reason or there is an issue with the updater.

[2020-08-08 21:17] ZeldaZach commented on #1176
This is addressed already

[2020-08-08 21:17] #1176 closed

[2020-08-10 01:25] LotusWalker commented on #1007
Any timeline on when Glimpse drafts will be implemented and testable on Dr4ft.info?

[2020-08-11 21:23] #1045 closed

[2020-08-24 13:05] tooomm opened #1195 "Scryfall direct image links need updates"
Direct `img.scryfall.com` links needs to get changed to API requests which forward to the image.
There are redirects in place for now, but not forever.

As far as I can tell, we have direct image links to old img.scryfall here:
https://github.com/dr4fters/dr4ft/blob/master/backend/import/xml/parser.spec.js

Announcement & information: https://scryfall.com/blog/upcoming-api-changes-to-scryfall-imag

[2020-08-24 23:34] Milldawg opened #1196 "Feature Request: More customization for Decadent draft"
## Detailed Description

Decadent draft is a cool idea, but right now you can only draft 36 packs of the same set, or use the RNG thing which is buggy and includes custom cards and whatnot with no way to control what packs can appear. I would like to see Decadent draft expanded in any or all of the following ways:

1) Allow each of the 36 (or however many) packs to have their set selected individu

[2020-08-25 06:39] tooomm commented on #1196
2. Can you open a separate issue please?
That should not be the case and I assume user uploaded custom sets, cubes, other games, custom games, upload tests etc. (Which can be found on the very end of the set dropdown list) are all considered in random.

3. Is covered in #1029

[2020-08-25 08:50] Milldawg commented on #1196
2. I'm not sure exactly what you're asking. Do you want a separate issue for "I would like to be able to specify a subset of sets for Random mode" to just split my lines 1 and 2 into two separate issues? Or are you asserting that "random mode includes all the weird test sets and custom sets and foreign sets" is a bug/issue that should have its own thread? Thanks.

[2020-08-25 10:34] tooomm commented on #1196
Second. The random mode should not work like that as it makes no sense to mix various card games for example.

[2020-08-25 11:20] Milldawg opened #1197 "Bug: Decadent mode "Random Set" allows every set in the list, even custom cards, etc."
**Webpage**: dr4ft.info

Not exactly a bug, more of a "doesn't seem to work as intended." The Random Set option at the bottom of Decadent set selection will pull from every "set" in the list, including custom card sets, test sets, foreign language packs, cubes, packs with fewer than 15 cards, online-only products like Vintage Masters, etc. It should probably only include actual Magic sets, and pro

[2020-08-25 11:25] tooomm commented on #1197
This is actually the case for all occurrences of `Random Set`, not only in "Decadent" mode.

<br>

<Additionally, selecting "Random Set" at the bottom makes it display "RNG Cube" rather than "Random Set."
There is a separate "RNG Cube" entry under the Custom section that I can also select, and it appears to do the same thing as "Random Set," i.e. giving me various packs of everything in the set li

[2020-08-26 22:04] KainMorgen commented on #1169
n-cards per pick becomes even more relevant with Command Legends being announced where you get to pick two cards everytime - not just for the first pick of the draft.

[2020-08-28 19:49] taw commented on #1132
Also my booster information is all in mtgjson v5 directly, so you won't need to use the other source, so it might simplify your life.
(it uses different format, as that's what mtgjson requested)

[2020-09-05 00:23] Milldawg opened #1208 "Feature Request: Increase maximum number of cards in Sealed pools"
## Detailed Description

Currently when you choose to do Sealed, you can have a sealed pool of up to 120 cards. I would like to do some wacky stuff like put an entire cube list or a list of an entire 36-pack booster box (540 cards) and build a sealed deck from a massive pool. For example, some friends have been doing a format (in paper) where they crack an entire booster box and build a Commander

[2020-09-05 07:51] tooomm commented on #1208
I requested up to 36 back in https://github.com/dr4fters/dr4ft/issues/64 already.
There are funny modes like "36-pack Chaos Sealed at GP Portland" or "Full Box 2HG Sealed at GP London".

Maybe the input field (with additional +/- buttons?) as you suggested, and which is part of the new design draft too, are just more flexible and the way to go.

[2020-09-19 17:28] HenriLamarre opened #1227 "Bug: Players getting kicked out of drafting rooms by other players joining"
**Webpage**: www.dr4ft.info

Happening over all course of summer.

## Detailed Description

When players join a room, other players can get kicked out repeatedly

## Further Information

We are playing a commander cube

[2020-09-25 01:20] Brokkoly opened #1233 "Bug: Brazen Borrower shows up incorrectly"
**Webpage**:
this was on https://dr4ft.info/#g/aedd0270-feca-11ea-abb0-990aa9ce7f01

![image](https://user-images.githubusercontent.com/14946087/94215599-c450ad00-fea2-11ea-8c51-04e5d95db10d.png)

Brazen borrower consistently breaks when drafting this cube: https://cubecobra.com/cube/list/5e87ece5df3ffb7493ed59bb.

Here is the game Id: https://dr4ft.info/#g/aedd0270-feca-11ea-abb0-990aa9ce7f01
##

[2020-09-28 09:11] mixmix commented on #1095
looks like nice work @justinvoorhees

Interested in what next steps for this might be. Would it be possible to break this up into parts, or ask "what would be one small part of this someone could modify / build". I'd be happy to try something simple

[2020-09-28 16:21] tooomm opened #1238 "dr4ft is down"
`502 Bad Gateway`

https://dr4ft.info/

[2020-09-28 17:10] tooomm commented on #1238
[Resolved](https://github.com/dr4fters/dr4ft/pull/1237#issuecomment-700163974)

[2020-09-28 17:10] #1238 closed

[2020-09-28 17:40] tooomm commented on #1095
If I recall the last conversations correctly the next iteration would be to look at the start page.

[2020-09-28 20:30] justinvoorhees commented on #1095
Hey there,

Yes, that was the next step. We’re you thinking about working on
implementing it now?

Justin

On Mon, Sep 28, 2020 at 10:40 AM tooomm <notifications@github.com> wrote:

[2020-09-28 20:35] mixmix commented on #1095
If you're talking to me - then I'd like to try and help. I would be doing it limited spare time, and might need some direction about which slice of the design is to be implemented

[2020-09-28 21:12] justinvoorhees commented on #1095
Hi @mixmix , and pardon the indirect - I fired from the hip through gmail. The next step would just be the landing / home page which would consist of the top nav bar, welcome message with the main call to action, and the footer. Something like this:

![image](https://user-images.githubusercontent.com/50039027/94486559-74206600-0194-11eb-86f9-589ffbae756d.png)

[2020-10-01 16:17] andymangold opened #1239 "Bug: The "Junk" category in the draft view is non-functional"
I've been using dr4ft.info to organize drafts during the COVID-19 pandemic. I'm very grateful to everyone who helped build this tool!

The "Junk" category in the draft view, which I think is very useful in theory, appears to be non-functional. I cannot get a card to appear in that category and I have tried everything I can think of.

<img width="1221" alt="Screen Shot 2020-10-01 at 11 16 03 AM" sr

[2020-10-01 17:14] tooomm commented on #1239
You need to Shift+click a card...

[2020-10-01 17:15] andymangold commented on #1239
I see! Well I'll update the ticket to provide instructions somewhere on the page to that effect.

[2020-10-01 17:18] tooomm commented on #1239
Sure. A tooltip or little hint somewhere would be handy. I agree.

[2020-10-04 15:38] ebbit1q opened #1242 "Bug: exporting split cards or double faced cards uses the wrong format"
**Webpage**: www.dr4ft.info `Running Version: 853ccda (build 2020-09-28) - Using MTGJSON card data v4.7.0 (2020-09-28) and Magic Sealed Data booster rules commit 459802c`

----------------------------------------------------------------------------------

## Detailed Description

When you export any adventure card it'll be exported as just the creature name, while when you export any of the new do

[2020-10-05 07:00] mixmix opened #1243 "Bug: Radio buttons in Setting invisible"
**Webpage**: www.dr4ft.info
**Browser**:  Firefox v80.0.1

![image](https://user-images.githubusercontent.com/2665886/95048972-51b6bb80-0745-11eb-8fc3-b9be68f4318e.png)

Can't see which option is selected for **Sort By** and **Card Image Quality** Not sure what it's supposed to look like, but this can't be it!

[2020-10-05 13:07] tooomm commented on #1243
Thanks for reporting, however it's already noted in https://github.com/dr4fters/dr4ft/issues/1155.

Closing as duplicate. Follow the other issue please @mixmix!

[2020-10-05 13:07] #1243 closed

[2020-10-05 14:12] mixmix commented on #1155
Is the desired state to revert back to the original state, or was there a new design e should ask for?

[2020-10-05 16:27] ebbit1q commented on #1242
the problematic layouts are "modal_dfc" and "adventure", see related ticket asking for the opposite because other locations use different formats https://github.com/dr4fters/dr4ft/issues/1045

[2020-10-05 16:33] tooomm commented on #1155
It seems obvious to go back to the initial look/behavior.
If you have a different idea feel free to share it here!

[2020-10-05 20:01] mixmix commented on #1155
I'll _draft_ something up. Working on this now

[2020-10-05 23:23] mixmix commented on #1155
here you go @ZeldaZach / @tooomm

https://github.com/dr4fters/dr4ft/pull/1248

[2020-10-10 21:39] mixmix commented on #1155
Bump @tooomm @ZeldaZach

I think the failing tests are just linting

[2020-10-11 03:26] mixmix opened #1256 "Bug: CMC sort broken in production"
**Webpage**: dr4ft.info
**Browser**: Firefox 81.0

----------------------------------------------------------------------------------

## Background Information

Draft options : draft, 3 packs Zendikar Rising, no timer
ID : https://dr4ft.info/#g/0c4abf40-0b70-11eb-9cae-55ac05459b51 (incomplete test game)

## Detailed Description

I start the draft, choose "sort by CMC" and I see this in my Main De

[2020-10-11 11:32] tooomm commented on #1256
Checking the page it looks like there is just a custom set for Zendikar Rising that somebody uploaded as it's listed in the `Custom` section instead `Expansions`
Most likely the card information there is not complete or has wrong cmc data. There is no official ZNR data available at the draft page yet, sadly.

@ZeldaZach Can you please investigate why the updater didn't pick it up from MTGJSON? The

[2020-10-11 13:00] mixmix commented on #1256
Yeah I wondered about this too, but then why did my local version have cmc working?
Perhaps the author created a broken custom upload initially but has since fixed it but dr4ft.info hasn't picked that up?

[2020-10-11 13:02] mixmix commented on #1256
Yeah I think your hypothesis about that broken upload is right, I'm not seeing any problem with core21

![Screenshot_20201012-020158_Firefox Focus.jpg](https://user-images.githubusercontent.com/2665886/95679390-031a8d00-0c2f-11eb-98e9-b1db790b3f37.jpg)

[2020-10-11 13:27] tooomm opened #1257 "Bug: Automatic update checks, fetching and integrating new card data doesn't work"
## Background Information

dr4ft used to check mtgjson data and automatically added new (non-spoiler) sets found there.

## Further Information

Is there a connection to the new MTGJSON v5 release (https://github.com/dr4fters/dr4ft/issues/1132) and the service still checking/expecting v4 data? Or did some endpoint change already, even though it's all supposed to work until the end of 2020?

[2020-10-11 20:10] #1155 closed

[2020-10-11 21:35] tooomm commented on #1256
With the redeployment of your recent PR, the correct ZNR data is now included from MTGJSON. @mixmix

Works now as expected on dr4ft.info

[2020-10-11 21:35] #1256 closed

[2020-10-11 21:42] tooomm opened #1258 "Feature Request: Support MDFC from ZNR, back sides do now show on hover"

[2020-10-14 02:26] awjackson opened #1264 "Bug: Frequency of multicolor and colorless commons greatly off-kilter in KTK packs"
**Webpage**:

## Detailed Description

Generated a couple dozen 12-pack KTK sealed pools. Every single pool had at least twelve Banners and twelve three-color common morphs (Abzan Guide etc.), and most of the pools had fifteen or more of each. On the other hand none of the pools had a single common tapland unless it was a foil. There are five banners, five three-color common morphs and ten tapland

[2020-10-16 22:00] mixmix commented on #840
Protyped this here
https://github.com/mixmix/dr4ft/tree/split_creatures

Needs work to be production ready as is always on, and only works well with cmc sorting at the moment

[2020-10-18 11:43] tooomm commented on #1095
@justinvoorhees left some feedback at Discord regarding the current modal implementation:

[code]

[2020-10-19 19:17] mixmix commented on #1095
With the addition of scss support we can apply localized changes more
easily.

On Mon, 19 Oct 2020, 00:43 tooomm, <notifications@github.com> wrote:

[2020-10-27 18:35] UlyssesInvictus commented on #1169
Hi -- just wondering if this is a feature that's still planned for support in time for Commander Legends (CMR)? I'm a dev myself, so if this is the kind of thing I can help support through PRs, let me know!

[2020-10-29 22:36] ZeldaZach commented on #1264
Hmm, this sounds like a booster generation failure. @taw maybe you have some insight?

[2020-10-29 22:37] ZeldaZach commented on #1257
We need to move to v5 as soon as we can

[2020-10-29 22:38] ZeldaZach commented on #1242
Sounds like a real issue we should address

[2020-10-29 22:41] ZeldaZach commented on #1227
Any insight on how we can reproduce this?

[2020-10-29 23:36] taw commented on #1264
Data is correct (every KTK common has the same rate, nothing about KTK packs is unusual), and I opened a thousand packs on mtg.wtf to verify, and ratios look correct.

However - it might very well be `getRandomCardsWithColorBalance` on your side, that's one thing that's probably different between your code and mine.

[This is the code I use](https://github.com/taw/magic-search-engine/blob/master/s

[2020-11-08 17:14] lrawicz commented on #1169
working on this

[2020-11-10 00:43] tooomm opened #1291 "Correct Dependabot integration"
## Detailed Description

We still use the old implementation via dependabot.com before they got aquiered and integreated in GitHub directly.

Read https://github.blog/2020-06-01-keep-all-your-packages-up-to-date-with-dependabot/#moving-forward-from-dependabot-com-and-dependabot-preview

[2020-11-12 10:52] pyrovoice commented on #1169
@lrawicz Any update ? I could also lend a hand if needed

[2020-11-13 13:03] RalphNader2020 opened #1295 "Commander Legends Double Pick"
Hi there!

I'm looking to draft commander legends with friends on Cockatrice. From what I've read/seen, draft is usually completed by picking two cards from the pack at once. Is this a possible/not too much hassle implementation that could be done?

Thanks for considering!
Ralph

[2020-11-13 13:31] tooomm commented on #1295
Duplicate of https://github.com/dr4fters/dr4ft/issues/1169, please follow there for updates!

[2020-11-13 13:31] #1295 closed

[2020-11-13 19:00] lrawicz commented on #1169
test my code, please

[2020-11-20 02:54] Hyphen-ated commented on #1032
It happened again just now. The id was 698de9b0-2ad9-11eb-b2c4-71aa278cc214

[2020-11-23 12:56] natron2244 commented on #1169
I swear I saw this feature available on the site, but seems to be no longer there. Need any help with testing or coding?(Also a follow developer 😉 )

[2020-11-23 13:45] lrawicz commented on #1169
Haha yes, we had the feature avalible but we roll it back because we found and important bug.

I will fix the bug during the week.

[2020-11-23 14:21] natron2244 commented on #1169
@lrawicz awesome to hear, I just found this site/project over! Amazing work! 😄

[2020-11-24 02:43] LynxDove commented on #1169
@lrawicz Hello! Just found Dr4ft.info and Im really impressed. Is there a way for me to find out when you have added multiple picks again? Im relatively new to using github so forgive me if this is a silly question.

[2020-11-24 02:45] ZeldaZach commented on #1169
@LynxDove I reverted the change on the dr4ft server, but not the GitHub project itself. When a fix for the multi-pick is re-introduced I'll build master upstream again

[2020-11-24 19:45] #1169 closed

[2020-11-24 20:03] natron2244 commented on #1169
Awesome work guys! 👏

[2020-11-26 02:09] ZeldaZach opened #1301 "Move off Travis in favor of GH Actions"
Travis is being a pain with their new requirements, and GH Actions seems promising. Cockatrice transitioned, so lets do the same.

[2020-11-26 02:12] ZeldaZach commented on #1301
Tagging @ebbit1q

[2020-12-04 21:10] #1301 closed

[2020-12-06 01:13] lrawicz commented on #1257
Sorry, I don't understand the task. Does my PR resolve the issue?

[2020-12-06 01:17] lrawicz commented on #1092
@ZeldaZach do you need help with the HerveH44 instructions, or those instructions didn't resolve the issue?

[2020-12-06 01:20] ZeldaZach commented on #1092
I haven't seen this issue resurrect recently, so I"ll close for now. Can't reproduce rn.

[2020-12-06 01:20] #1092 closed

[2020-12-06 10:53] nex3 opened #1306 "Feature Request: Improve image latency"
One thing my draft group struggles with on dr4ft is images failing to render when a new pack is available. I've dug into this somewhat, and it looks like the heart of the issue is that all image srcs are pointing at `api.scryfall.com` which redirects to the true CDN URL, and these redirects can take a non-negligible amount of time up to a few seconds.

At first, I tried to mitigate this by sending

[2020-12-06 17:23] ZeldaZach opened #1307 "Feature Request: Support Rotisserie Drafts"
## Detailed Description
Rotisserie Drafts are the equivalent of fantasy sport drafting. You input a custom list (i.e. cube), the full cube is on display, and you pick cards in a snake formation (1,2,3,4,4,3,2,1,2,...) until you pick 45 cards.

## Further Information
https://mtg.fandom.com/wiki/Rotisserie_Draft

We could support this via having one "pack" that is shared by everyone, and players pic

[2020-12-06 18:21] ZeldaZach commented on #1307
Some ideas I've been having in the past hour.

Could simplify development by instead having one large pack (i.e. the entire cube as a single pack) passing it around. This would allow for a more seamless integration.

This would mean we only have to implement three features:
- Snake Drafting opportunity, which we can extend to any draft on the site
- Public announcements of what card was drafted (w

[2020-12-08 15:28] HerveH44 commented on #1227
One way a player gets kicked out by some other player joining is when they both share the same ID, which only happens when the use the same browser session (eg. two tabs on chrome or firefox). we don't allow the same player to enter 2 times in the same game. If you really want one player to be able to enter the same room, use incognito features on your browser.

[2020-12-08 15:31] HerveH44 commented on #1135
It has been a long debate between which version of the card we should use. We decided to go with the oldest card existing.

[2020-12-08 15:31] #1135 closed

[2020-12-08 16:21] ZeldaZach commented on #1135
We also have #1302 in the works, which will make it easier to customize your selections.

[2020-12-08 16:59] HerveH44 opened #1312 "Feature Request: Refactor frontend state management"
## Detailed Description
State management is a mess. Few things I'd like to touch to simplify:

    Separate state of Game Creation (all the options, that are actually in "App.state") from State of the Game played (which is a bit everywhere, there's a start in "App.state.game".
    GameState is doing too many things: Simplify with one component in charge of saving the cards in one place, so we woul

[2020-12-09 20:05] tooomm commented on #1307
That would actually be similar to Rochester Draft, linking https://github.com/dr4fters/dr4ft/issues/997

[2020-12-10 08:00] nex3 opened #1325 "Bug: The wrong number of people can join a draft"
**Webpage**: https://dr4ft.info/
<!-->
**Browser**: A variety of different browsers from different drafters

----------------------------------------------------------------------------------

## Background Information

We were drafting around 7:30pm PST.

## Detailed Description

I created a private 8-player cube draft, and sent the link directly to the other drafters. It turned out that nine peo

[2020-12-18 02:44] Hyphen-ated commented on #1032
It happened again just now. The id was 0b5edfa0-40d9-11eb-807d-4b571ac2e143

[2020-12-20 03:09] #1325 closed

[2020-12-21 07:04] Dirty-Mac opened #1331 "Feature Request: Support Supreme Draft"
## Detailed Description

Supreme drafts are similar to the existing Decadent drafts in that each pack is discarded after a set amount of picks. However, Decadent drafts currently only allow for at least 36 packs to be used (more than the "official" 18) and it cannot be used to draft cubes (such as vintage cubes).

## Further Information

https://mtg.fandom.com/wiki/Supreme_Draft

Note that this al

[2020-12-22 10:50] Vexac6 opened #1332 "[Feature Request] Seeded Cube Draft"
Would it be possible to add this mode to cube drafts?

A "Seeded" (or Rarity) Cube is a cube in which cards in packs are sorted by rarity. Most of the times, the rarity in a cube _doesn't match_ with the printed rarity, in order to balance the power level of the draft environment and to make some cards show more often than others (for example, engines for deck archetypes can be stored at common ra

[2020-12-23 22:55] #1132 closed

[2020-12-23 22:55] #1258 closed

[2020-12-24 23:37] slumberspirit opened #1335 "Bug: Custom Card Images No Longer Displaying"
**Webpage**: www.dr4ft.info

This seems to happen regardless of what draft options are selected, across all tests I've done.

## Detailed Description

Last weekend and previous to that, my custom card images would display in a draft. Now they just display as a white space and create a new card-sized row below them in the draft with their rules text. This is the line in my xml where I have the imgu

[2020-12-27 20:02] admazzola opened #1346 "Bug: Suggest Lands in Draft causes white screen"
**Webpage**:

JS errors
TypeError: Cannot read property 'scryfallId' of undefined
    at ee (9-a5a4bc2a5f0284077a33.js:1)
    at new c (9-a5a4bc2a5f0284077a33.js:1)
    at gi (vendors~app~7d359b94-a5a4bc2a5f0284077a33.js:16)
    at Lo (vendors~app~7d359b94-a5a4bc2a5f0284077a33.js:16)
    at va (vendors~app~7d359b94-a5a4bc2a5f0284077a33.js:16)
    at cu (vendors~app~7d359b94-a5a4bc2a5f0284077a33.js

[2020-12-27 22:54] mattmath commented on #1346
Just wanted to chime in that my draft group of 7 players all experienced the same issue upon clicking "suggest lands." Clicking reload on our browsers resulted in the draft UI flashing temporarily on the screen, but then the screen turned white again.

[2020-12-29 01:33] cmackeen commented on #1335
I am trying to do this for the first time, and have valid pic urls in a card/set xml within the set tags. I get no images, same 404 error, and I am on Firefox 84.0

[2020-12-29 01:47] derektumolo commented on #1346
yep, happened to my group as well. this is a major bug, almost ruined the night

[2020-12-29 02:42] JimroidZeus commented on #1346
Can confirm that my playgroup is also experiencing this issue.

[2020-12-29 08:19] bdeswarte7 commented on #1346
I am also experiencing this bug happens whenever lands are adjusted

[2020-12-29 15:59] HerveH44 commented on #1346
@lrawicz hey, I have an error saying :
Uncaught TypeError: identifiers is undefined
    getCardSrc cardimage.js:55
    Card Grid.jsx:68

I think that it may come from #1304

[2020-12-30 14:27] HerveH44 commented on #1331
That's could be doable as part of #1305

[2020-12-30 17:16] #1346 closed

[2020-12-30 17:34] ZeldaZach commented on #1335
Might be due to the new v5 update we pulled in. Might have to rework custom iamges

[2020-12-30 17:35] ZeldaZach commented on #1032
We've been trying to narrow this issue down, but can't always reproduce/get it to alert us. The logs don't show any kind of crash, which is making this very difficult to diagnose.

[2021-01-06 08:27] LotusWalker commented on #1233
I have Brazen Borrower in my cube as well and can confirm that the image loads properly for all our drafts, so I believe this issue has been fixed. Also using Chrome.

[2021-01-06 19:14] #1233 closed

[2021-01-08 02:34] Hyphen-ated commented on #1032
It just happened again but during the pre-game lobby this time. The id was a2e1ac50-5159-11eb-846c-532aa70c921e

[2021-01-13 19:48] FullOnWizard commented on #1335
@ZeldaZach any status update here? Is anyone working on it? I'm having the same issue and curious if its something that will fixed anytime soon(ish).  Appreciate any info/work.

[2021-01-17 20:07] ZeldaZach commented on #1335
cc @lrawicz would be a nice fix

[2021-01-18 07:39] #1007 closed

[2021-01-18 17:51] MotherofRuins opened #1391 "Bug: Decadent draft doesn't spawn new packs."
http://dr4ft.info/
Chrome Version 87.0.4280.141 (Official Build) (64-bit)

----
Launched a new decadent draft.  After each pick, the same pack is presented, with one less card.

[2021-01-18 19:49] HerveH44 commented on #1391
It's a pb introduced by Glimpse draft. Will provide a PR shortly

[2021-01-18 20:11] HerveH44 commented on #1391
@MotherofRuins can you check also on the PR deployed app if that answers your issue ?

[2021-01-18 20:12] #1391 closed

[2021-01-19 06:20] MotherofRuins commented on #1391
I don't know what a PR deployed app is, but the dr4ft decadent draft is fixed, thank you.

[2021-01-19 09:53] mixmix opened #1394 "Bug: transform cards in draft don't flip"
After recent branch I contributed to was merged cards like werewolves don't flip when you hover on them.

This only effects the draft pack, not the main deck etc

[2021-01-19 09:54] mixmix commented on #1394
Pretty sure I know what this is. Still look into it soon

[2021-01-19 10:06] HerveH44 commented on #1394
Normally, the toBoosterCard file (parse MTGJson to dr4ft card) should add the properties "isDoubleFaced" and the url to the other face. Maybe moving to mtgjv5 we didn't update this?

[2021-01-19 10:08] HerveH44 commented on #1306
Hi @nex3 , @mixmix did some magics on card rendering with the last PR. Could you check again and let us know if it suits you as it is or if this issue is still valid ?

[2021-01-19 10:15] mixmix commented on #1306
All I did was make the text view nicer to read, and had it show in place while the images arrive.
We cos make further improvements to that rendering if we wanted, though it seems like a parallel solution.

Also just saw that mtgjson crew just released a new graphql api which might help? (haven't looked closely yet)
https://mtgjson.com/mtggraphql/

[2021-01-19 13:23] HerveH44 commented on #1306
@mixmix how could graphQL api help us? I don't know much about the technology but we only fetch data from mtgjson during import of sets, that happens only when they update to a new version. Maybe it could help us fetch less data during the transfer but I don't think it's very important. But again, maybe I am missing something.

[2021-01-19 16:34] #1087 closed

[2021-01-19 18:14] LotusWalker commented on #1306
I think this is still a valid issue. My draft group also noticed that images render quite slowly, and we are often waiting for the images to load while we make picks. @mixmix ’s improvements to the text view have made things much better, because no even when the images haven’t yet loaded we can see what cards are available.

[2021-01-19 18:55] mixmix commented on #1394
I think it's that I refractored GlimpseCard to not depend on DefaultCard and I might have dropped an important on hover function

[2021-01-19 20:26] HerveH44 commented on #1196
@mixmix about this issue, about the 2nd point. Do you think you could come up with a way to create a multiple checkboxes choice for sets that could appear as random?

The whole idea looks a bit far fetched, I mean there must be hundreds of sets that are draftable. So it should also have a way to select all / unselect all.

I clearly don't know how to do it, but maybe you have at least an estimatio

[2021-01-19 20:29] HerveH44 commented on #1151
@ZeldaZach booster rules are now part of MTGJson v5 right ? We could stop fetching the files from magic sealed and just read the data from mtgjson files ?

[2021-01-19 20:31] HerveH44 commented on #1195
This is a value inside a test which do not get rendered by any browser. We are using the api everywhere else.

[2021-01-19 20:31] #1195 closed

[2021-01-19 20:38] ZackAwesomeness opened #1397 "Kaldheim Draft Pack Collation is off"
The packs in kaldheim draft currently have snow dual lands(and the one that gives the color that you chose as it enters) counting as regular commons, as well as the land slot being sometimes only a single color snow land, and sometimes a basic non-snow land. The packs also include the cards from the theme and set boosters, as well as the alternate art versions of cards.

[2021-01-19 20:39] ZeldaZach commented on #1151
Yep that's correct. Booster rules are apart of v5 sets under `booster`

[2021-01-19 20:42] HerveH44 commented on #1264
Solved by #1395

[2021-01-19 20:42] #1264 closed

[2021-01-19 20:44] #1291 closed

[2021-01-19 20:44] HerveH44 commented on #1257
@tooomm could you be more explicit with the issue ? I think we auto-update should still be working.

@lrawicz you may have a bit more work to do to follow up on your PR : the booster rules seem to be aggregated within the set data so we could modify the code so we just download the MTGJson file and update both set data and booster rules. Are you interested?

[2021-01-19 20:46] HerveH44 commented on #1227
@HenriLamarre do you still have this issue ? If yes, please open another issue and indicate how we can reproduce it. AFAIK it does not seem like a bug but the fact that you can't have multiple tabs in the same browser for the same game.

[2021-01-19 20:46] #1227 closed

[2021-01-19 20:49] HerveH44 commented on #1397
Hey, could you provide us with the exact collation of Kaldheim, including a url where we could check it ?

@ZeldaZach I guess it must be linked with how we fetch booster rules. Is @taw still around ?

[2021-01-19 20:50] HerveH44 commented on #1017
@nex3 Do you still experiment this kind of behaviour during draft ?

[2021-01-19 20:51] ZeldaZach commented on #1397
Booster rules for MTGJSON come directly from @taw so this is an upstream ticket

[2021-01-19 20:51] HerveH44 commented on #1032
@Hyphen-ated what do you mean by the pre-game lobby ?

[2021-01-19 21:02] HerveH44 commented on #1009
@ZeldaZach do MTGJson have a way to know if a set is historic ?

[2021-01-19 21:14] mixmix commented on #1196
Easiest thing I can think is similar to Cockatrice set management

- a filter box which when you type eg "rav" it only shows you sets with that in name (or set code). People can then select that
- when you clear the filter you see all sets again

I guess some other checkboxes could exist like :
- exclude promo
- exclude comedy (unsets)

A simple version on this wild be easyish? Just take time.

[2021-01-19 21:16] Hyphen-ated commented on #1032
Just that the "start game" button had not yet been clicked.

[2021-01-19 21:30] ZackAwesomeness commented on #1397
Where would I actually submit the issue? @ZeldaZach

[2021-01-20 00:22] ZeldaZach opened #1405 "Bring all NPM packages up to date"
A lot of our NPM packages have had major version bumps. I'd like to get our NPM up to date, and account for all the changes done.

[2021-01-20 01:14] nex3 commented on #1017
I haven't seen this in a long time.

[2021-01-20 03:34] erikwatson opened #1407 "Feature Request: Improve timer visibility"
## Detailed Description
The "Time Left" countdown should become increasingly visible as the time remaining decreases, perhaps it should turn red or something during the last 5 seconds. It's quite easy to get caught off guard by the site auto-picking a card for us at the moment. I think this would help.

[2021-01-20 04:54] mixmix commented on #1196
I might change the general set selection picker for packs to something which I think will work well here. Stay tuned

[2021-01-20 14:09] tooomm commented on #1407
Changing colour to red on the last ~5-10s sounds reasonable. It could also start flashing/pulsing etc.

Maybe @mixmix has a good idea to make the overlay timer (the one that appears once you scroll down while drafting) look nicer in general.

[2021-01-20 14:38] taw commented on #1397
@ZackAwesomeness To http://github.com/taw/magic-sealed-data but nothing will happen until KLD is fully in released mtgjson without `isPartialPreview` flag.

[2021-01-20 14:54] HerveH44 commented on #1397
Thanks @taw . Closing this issue as it's beyond our scope.

[2021-01-20 14:54] #1397 closed

[2021-01-20 14:59] mixmix commented on #1407
The first thing that comes to mind would be to add a graphical representation of time, like a little pie graph getting smaller, then getting red as its about to run out

Eg this sort of thing but smaller

![Screenshot_20210121-035847_Timebox Timer.jpg](https://user-images.githubusercontent.com/2665886/105192457-fe099a00-5b9c-11eb-860b-a8a24cf3e0c0.jpg)

[2021-01-20 15:08] tooomm commented on #1407
The one at the bottom of your pic looks nice!

![pie-time](https://user-images.githubusercontent.com/9874850/105193944-60c94a00-5b39-11eb-8087-646ecd82de8b.jpg)

[2021-01-20 15:20] mixmix commented on #1407
Agree.
Another idea is that some sites put a  progress bar as a thin line colored line across the top of a site that shrinks as time runs out and gets red when small

![Screenshot_20210121-041929_Firefox Focus.jpg](https://user-images.githubusercontent.com/2665886/105195894-f4356600-5b9f-11eb-8024-4d31599194fa.jpg)

[2021-01-20 17:19] tooomm commented on #1407
It's known from e.g. GitHub or YouTube as increasing (growing) loading bar from left to right.
- GitHub
![gh](https://user-images.githubusercontent.com/9874850/105209709-6aa77900-5b4a-11eb-8a94-3b963d127b3a.png)
- YouTube
![yt](https://user-images.githubusercontent.com/9874850/105209687-65e2c500-5b4a-11eb-955e-0421f271dd31.png)

We would need it as decreasing (shrinking) time bar (probably also fr

[2021-01-20 17:39] dev-id opened #1411 "Bug: Random (RNG) Set Should Not Include Custom or Silver Border Sets"
When selecting "Random Set" (set code: RNG), silver border and custom sets are selected. These sets should be (at best) off by default and selectable, but more likely just removed from the possible sets for Random.

[2021-01-20 17:39] HerveH44 commented on #1335
@cmackeen could you please provide the custom set you're trying to use? A link to the xml would be perfect for us to test it.

[2021-01-20 17:41] HerveH44 commented on #1331
I could be working on that. Since #1305 we have a good base to implement the supreme draft.

@tooomm where do you think it should go? As another type just after decadent ?

[2021-01-20 17:43] dev-id commented on #1411
Changing to Bug, this appears to be the intent (https://github.com/dr4fters/dr4ft/blob/master/backend/data.js#L185-L226) but I'm seeing custom and silver boarder in Decadent with Random

[2021-01-20 18:01] #1394 closed

[2021-01-21 02:44] #1411 closed

[2021-01-21 10:48] mixmix commented on #1016
Started work on this here https://github.com/dr4fters/dr4ft/pull/1419
But have realised I'm going to need to change it to support all the other formats

[2021-01-21 10:58] mixmix commented on #1016
Summarising what people have said above:
- support following platform formats:
    - A. Cockatrice _(suffers from similar issues with // )_
    - B. MTGO
    - C. MTGA
- need to consider following types of // card:
    1. Split cards e.g. Dead // Gone
    2. Flip cards e.g. Nezumi Shortfang
    3. Transform cards e.g. Kessig Prowler
    4. Adventure cards e.g. Murderous Rider
    5.  ZNR 2-sided e

[2021-01-22 17:56] HerveH44 commented on #1335
@FullOnWizard you can also provide a  custom set if you have one !

[2021-01-23 19:54] LotusWalker opened #1420 "Bug: Start//Fire erroneously appears in my cube"
Chrome Version 87.0.4280.141 (Official Build) (64-bit)

I imported my cube from CubeCobra into Dr4ft, and was surprised to see the Mystery Booster test card Start//Fire in my draft. This card isn't in my cube. I think it might be replacing Fire//Ice (which is in my cube), but not positive about that. In the list of cards imported, it shows "Fire (uma 225)" which I believe is my Fire//Ice, but whic

[2021-01-23 20:35] HerveH44 commented on #1420
Could you provide the name of your cube in cubecobra ?

[2021-01-23 20:47] LotusWalker commented on #1420
Sure, here's the link, as well as a screenshot of the issue:

http://cubecobra.com/cube/list/guertinvintagecube

![Dr4ft Screenshot](https://user-images.githubusercontent.com/69441720/105613706-86e12b00-5d81-11eb-826c-e8a2d3202512.png)

[2021-01-23 20:49] HerveH44 commented on #1420
@nex3 I guess there must be a bug inside the process to write cubable cards. I'm going to investigate it. Maybe you have some clues already

[2021-01-23 20:50] HerveH44 commented on #1420
@LotusWalker thanks for the info. I'll check it. Sorry for the inconvenience in the meantime.

[2021-01-23 20:53] LotusWalker commented on #1420
No worries! Thanks for investigating.

[2021-01-23 21:02] HerveH44 commented on #1420
In fact, I don't think it's something caused by @nex3 , but rather a problem of #848. @LotusWalker is it possible to get the whole card instead of just the "fire" part ?

[2021-01-23 21:15] LotusWalker commented on #1420
So the whole card is Fire//Ice. The transform/adventure/mdfc cards in my cube all loaded without a problem, but Fire//Ice is the only split card in my cube.

[2021-01-23 22:45] Frozedon opened #1421 "Kaldheim draft includes Theme Booster exclusives"
When drafting Kaldheim, it includes cards that are exclusive to the Theme Boosters. Some of those cards imbalance the draft format and probably should be culled out.

https://scryfall.com/search?order=set&q=set%3Akhm+is%3Athemepack&unique=prints

[2021-01-24 09:38] HerveH44 commented on #1421
Hi, thanks for your feedback.
As indicated before in #1397, Kaldeim collation has not yet been implemented in the repo doing the collation.

@ZeldaZach we could try to implement in the "Default booster" the rule to discard cards with number > to the set number of cards. Personnally, I would prefer keeping the default booster without any rule to keep it as generic as possible. But I can understand

[2021-01-24 14:20] HerveH44 opened #1423 "Feature Request: Separate DB from the app"
## Detailed Description
Since last year I tok some time to think how we could cut the application (backend) in 2 separate pieces - one being the database with cards, sets ... and the other being the application, or game engine, handling packs and players.

I've done some POC during last summer.
Here is the pool service : https://github.com/HerveH44/mtgpoolservice
I also did the game engine here :

[2021-01-24 18:50] aimainnc commented on #1332
Definitely want to echo everything Vexac6 said and support interest in this feature! This is the only feature missing that would provide cube owners the perfect place to playtest their cubes with others.

[2021-01-24 19:18] #1420 closed

[2021-01-25 12:55] tooomm commented on #1196
That is covered in my suggestion to universalise game modes in https://github.com/dr4fters/dr4ft/issues/1029.

[2021-01-29 19:43] #1017 closed

[2021-01-29 19:43] HerveH44 commented on #1032
Closing this issue as it doesn't provide any way we can duplicate it.

[2021-01-29 19:43] #1032 closed

[2021-01-29 19:44] HerveH44 commented on #1257
Closing this. @tooomm you can reopen it if you feel it needs it.

[2021-01-29 19:44] #1257 closed

[2021-01-29 19:45] HerveH44 commented on #1242
Is it still the case @ebbit1q . Last time I tried it worked correctly

[2021-01-29 19:46] HerveH44 commented on #1421
Closing this as it's not related to our scope.

[2021-01-29 19:46] #1421 closed

[2021-01-29 19:47] ZeldaZach commented on #1421
Until a set launches, we can’t create a stable draft environment. However, if the theme booster cards are still appearing after launch (now), then we need to address that.

[2021-01-29 19:58] LotusWalker commented on #1242
Yes, this is still a problem, but @mixmix is working on a fix for this in #1419

[2021-01-29 20:00] mixmix commented on #1242
Yep I'm writing right tests over this with example cards to hit edge cases.
It was super annoying getting es6 tests working, but think I've got it now...

[2021-01-29 20:20] Hyphen-ated commented on #1032
What a slap in the face. What do you expect me to be able to provide for a defect of this kind?

[2021-01-29 20:21] ebbit1q commented on #1242
I technically fixed this from the other side https://github.com/Cockatrice/Cockatrice/pull/4131 makes cockatrice's import from plain text function smarter so it corrects these, while it finds the cards the deck hash will no longer match, making competitive play with these cards impossible

[2021-01-29 20:41] mixmix commented on #1242
I'm still going to fix the export as this covers mtgo too.

Might need advice re deck hash.
Ideally the deck hash would be derived from something more universal like uuids right?

[2021-01-29 20:55] ebbit1q commented on #1242
cockatrice's protocol is based on nothing but the card name, this abstraction allows it to play other card games and custom cards as well, while it's not perfect it makes sense to base the hash on the card names

[2021-01-29 21:21] mixmix commented on #1242
Makes sense. But then we need a canonical definition of what format card names should take everywhere

[2021-01-29 23:44] pinchedharmonic commented on #1335
here is our custom set, images hosted by @cmackeen
[TTN FINAL MAYBE.zip](https://github.com/dr4fters/dr4ft/files/5896924/TTN.FINAL.MAYBE.zip)

[2021-01-30 03:29] ebbit1q commented on #1242
cockatrice's system is simple, all cards that have a front and back face are split into two separate entities with their face's name as key, this includes kamigawa flip cards. all cards that have multiple names in the same orientation are combined with ` // ` in between.

example:
[code]
this is a valid deck with the deck hash `3gvp9fad`

the everythingamajig is uuid `ca90bc5e-e448-47b7-a011-c19ac

[2021-01-30 04:10] mixmix commented on #1242
And aftermath cards?
I'm guessing they are slashes?

[2021-01-30 04:15] mixmix commented on #1242
I'm writing really clear tests which will make all of this very easy to be explicit about btw

[2021-01-30 05:10] ebbit1q commented on #1242
of course, aftermath cards and adventures are on the same face, the only exception to this are the kamigawa flip cards in order to make them function like the double sided cards. cockatrice itself doesn't have tests for the deck hash function but the last time the deck hash function was changed was 2015, and we introduced the first test 2 months later.

[2021-01-30 06:01] mixmix commented on #1242
I'm a bit of a nerd and would kinda love to help draft a spec for that hash.

Sounds like it would be fairly easy, and could save a lot of pain. But I also have a lot on my wishlist of things to work on (and limited time)

[2021-01-30 06:48] ebbit1q commented on #1242
we could come with a new hash, the old one only has 5 bytes of complexity, since 2011 it's become easier to create a conflict there. on the other hand it all depends on the way cards are named in the database which would be a lot more sensitive to unexpected changes or even worse, new discrepancies could be introduced when new more "out there" card designs are introduced.

[2021-01-30 10:53] mixmix commented on #1242
Yeah a simple rule could by to always drop everything after any. Would need to confirm that they make cards uniquely enough like there isn't both
- fire
- fire // ice

I guess in Cockatrice that might be hard to guarentee if there are all sorts of cars sets going in. Hmm

[2021-01-30 17:10] ebbit1q commented on #1242
they don't make cards uniquely enough, we have multiple cards with a right side that has the same name of a different card right now and they could introduce a card with a left side that has the same name at any time.
I think cockatrice's current approach is appropriate for its internals here even though it means that when future card designs release they have to be adjusted to on a case by case b

[2021-02-02 06:16] ZeldaZach opened #1431 "Bug: Build errors while updating data"
https://paste.ee/p/2BdFG

[code]

[2021-02-02 06:31] ZeldaZach commented on #1431
Looks to be related to the sets/ folder within data not clearing correctly... that's interesting. I flushed it out and rebuilt w/o issues

[2021-02-02 06:31] #1431 closed

[2021-02-02 09:48] HerveH44 commented on #1423
I'm having fun trying to connect the 2 services. I'll push a PR when ready, during this month I hope. Does anybody know what is a great place to host the services at least for testing? I thought of Heroku but the Postgresql free plan is only 10k rows but we have way more cards.

Maybe a 12month free plan of AWS just to check?

[2021-02-03 01:53] ZeldaZach opened #1432 "Bug: Dr4ft Crashing"
Error seen in the logs, that we should investigate:
[code]

And what probably crashed the service, as there are no more relevant logs after this:
[code]

[2021-02-03 01:54] ZeldaZach commented on #1432
GYP20.json
[code]

[2021-02-03 01:54] ZeldaZach commented on #1432
GYPO.json
[code]

[2021-02-03 02:01] ZeldaZach commented on #1423
If you'd like to dump it into an AWS micro, that could work. You can also just short-cut it with only a few sets (like standard only) and that should be <10k rows

[2021-02-03 10:26] mixmix commented on #1016
Hey I am happy to build an exporter for arena.
Did anyone know anything about the format / want to help me test something?

Giving me an exported deck from arena would basically do it

[2021-02-03 10:26] mixmix commented on #1016
(Cockatrice and mtgo exporters are about done)

[2021-02-03 10:34] tooomm commented on #1016
❤️

Here is the pre-constructed GW Arena deck `To Adventure!`. Hope that helps!
[code]

[2021-02-03 10:52] mixmix commented on #1016
Thanks @tooomm that helps a lot. It helps me see what they expect with adventure cards.

Can you try with some other cards like :

[code]

**Specifically testing here :**
- flip cards
- transform cards
- split cards
- fuse cards
- aftermath cards
- modal_dfc (eg riverglide pathway)

Also, want to know how they demarcate the sideboard

[2021-02-03 12:53] tooomm commented on #1016
I see what I can do as I probably don't own all of those (or similar) card types (like aftermath from AKR), and MTGA itself is limited to certain newer sets still (starting with Ixalan).
Therefore old fun cards, flip or split/fuse cards are non-existent yet. But maybe there is a similar pattern to MTGO and we can still implement them ahead already.

All quick and dirty, sorry. Can't offer more at

[2021-02-03 15:52] mixmix commented on #1016
Huh, a triple slash! Thanks @tooomm

[2021-02-05 06:39] mixmix commented on #1423
Splitting those seems like a decent idea.

Questions I have :
1. what's the priority of this versus eg better state management with redux
2. how many people are maintaining this project and is there more than just you who's happy to choose in go?

I guess a mark against go is that I can currently easily run a dr4ft instance (magic.protozoa.nz) really easily. Splitting might reduce complexity in on

[2021-02-05 06:42] mixmix commented on #1161
I find the pick area moves around a bit because it collapses and expands while waiting for packs. I came up with a prototype solution that I should push forward. It might help with this. Certainly makes the ui more chill imo

[2021-02-05 06:45] mixmix commented on #1131
This looks great. I'm a big fan of reading symbols over reading text

[2021-02-05 06:54] mixmix commented on #1018
This is a duplicate and should be resolved by pr I have open

[2021-02-05 12:22] tooomm commented on #1018
Yes, I will add this to the list of issues your PR solves.

[2021-02-05 22:29] mixmix opened #1434 "Maintenance: remove Magic Workstation"
In this PR : https://github.com/dr4fters/dr4ft/pull/1419
where @mixmix changed export options, the question "is magic workstation something we want to support" came up.

We honestly didn't know if anyone was still using it.
In that PR the code for exporting to its format has been commented out.

If we're going to remove it @tooomm suggested we go through the app and pull out all places it might ha

[2021-02-05 22:44] tooomm commented on #1434
MWS parts I'm aware:

- deck export for MWS
- hash calculation for MWS
- table column next to player names to display that hash

[2021-02-05 23:08] tooomm opened #1435 "Bug: Bots suddenly show up in Sealed game when exporting a deck"
## Background Information

I reproduced this at dr4ft.info and in the deployment of #1419.

## Detailed Description

- Create a Sealed game, 8 players, any sets
- Start the game with no other players joined (the bots option is hidden as there is no reason to add bots)
- You are the only player in the list
- Copy or download your deck
- Suddenly there are 7 other players in the list when the hash s

[2021-02-05 23:14] tooomm opened #1436 "Bug: Random sets still broken?"
## Background Information

Example game ID I copied before crashing on dr4ft.info: 42caaa50-6807-11eb-8cfc-67644fe12bbe

Running Version: 8793772 (build 2021-02-03) - Using MTGJSON card data v5.1.0 (2021-02-01) and Magic Sealed Data booster rules commit 0c510a9

## Detailed Description

I tried to open several sealed games with "Random Set" selected for all 6 packs.
In around 2/3 of the games I ge

[2021-02-05 23:27] mixmix commented on #1435
That's super weird!

[2021-02-05 23:28] mixmix commented on #1434
I think those hashes are also Cockatrice deck hashes right?

What's not clear to me are there is a hash column and a "trice" column? No idea what that is. Hash of sideboard?

[2021-02-05 23:38] tooomm commented on #1434
There are two different hashes:
![hashes](https://user-images.githubusercontent.com/9874850/107099983-64382300-6813-11eb-9b5c-8563881ef02b.png)

`Trice` --> Cockatrice
`MWS` --> Magic Workstation

I know the first is badly named and should get changed once there is more space after MWS is gone. :)

[2021-02-06 04:49] mixmix commented on #1434
Lol I thought trice as some technical term like trie or radix.
Funny it's just a more acceptable abbreviation than cock

[2021-02-07 14:00] HerveH44 commented on #1435
Not that much, I spotted that a while ago : we are just hiding the "bots" option but we still send it to the backend. So the option is turned on, you will ask the backend to produce the pool also for bots.

[2021-02-07 14:01] HerveH44 commented on #1432
We should really have another way to handle custom sets. We shouldn't save them in the DB but keep them just for the session the game.

[2021-02-07 15:41] mixmix commented on #1432
I'm a big fan of JSONschema for validating custom inputs. Happy to help someone set that up if validation on this entry point is something useful

 I've used `is-my-json-valid`, but there are newer modules out there which are even faster I think

[2021-02-08 21:34] #1016 closed

[2021-02-08 21:34] #1018 closed

[2021-02-08 22:21] tooomm commented on #1435
You even have a kick button and can kick yourself

Here is a screenshot to better show what's going on:
![bug](https://user-images.githubusercontent.com/9874850/107288427-b96a7380-6a63-11eb-8ab3-9f68da9a51f3.png)

[2021-02-09 00:27] ZeldaZach opened #1443 "Bug: Updater crashes the service"
I'm not sure what happened, but the updater attempted to run and the service just kept dying (and being forcefully restarted)

[code]

[2021-02-09 00:27] #1434 closed

[2021-02-09 00:31] ZeldaZach commented on #1443
I lied, this is the same issue as before w/ custom sets (#1432)
1.1K Feb  8 14:46 ADD.json was uploaded, which broke the system

[code]

[2021-02-09 00:31] #1443 closed

[2021-02-09 00:32] ZeldaZach commented on #1432
We had another crash, caused by a user upload. See #1443

[2021-02-09 00:56] ebbit1q opened #1444 "Bug: cockatrice deck hash uses wrong card format"
**Webpage**: dr4ft.info

I remarked in #1242 that deck hashes were incorrect because the card names were using the incorrect format, this is still unchanged since fixing the file itself (#1419 )

## Detailed Description

All adventure and double faced cards will use the wrong format when calculating the deck hash. This can be seen whenever you compare the deck hash on the website and in cockatrice

[2021-02-09 01:06] ebbit1q commented on #1444
Also, does it have to show how many picks per pack if it's sealed?

[2021-02-09 01:08] ebbit1q commented on #1432
Seems unlikely to be a json issue, it's more likely to be related to that "url", it seems formatted wrong.

[2021-02-09 02:25] JimroidZeus opened #1445 "Draftlog download button is missing from new GUI"
The draftlog download button does not appear as part of the download options section in the current release.

[2021-02-09 03:42] ebbit1q commented on #1432
after a LOT of trial and error I concluded the cause of the problem is uploading the same card name in two different sets.

Simple repro steps:
1. Upload a set with the following json: `{code:TEST1,cards:[{name:test,colors:[],types:[]}]}`
2. Upload a set with the following json: `{code:TEST2,cards:[{name:test,colors:[],types:[]}]}`
3. reload the page

[2021-02-09 04:31] mixmix commented on #1445
Thanks for the report, will check in on this.
I think I made it so it would only show when the draft was complete but there could be a bug

[2021-02-09 04:34] mixmix commented on #1444
This is likely a bug introduced by me modifying exports to account for double sided cards
Will fix this and add tests around this

Thanks for reporting

[2021-02-09 04:36] mixmix commented on #1432
This is really good to know.
It puts some hard constraints on what can be included with custom sets I imagine... (if this logic remains same).

I'll try and hunt down why this causes a crash after I fix the bugs in the new export options

[2021-02-09 06:49] mixmix commented on #1445
I couldn't reproduce this. Can you give me more detail about what your game setup was?

Here's what I did as an example
- set up a draft game selecting 1 pack, 2 players, innistrad
- start draft, pick all my cards
- game is finished I see the export option.

---

The logic around this checks if the `gametype` includes the word "draft" (using internal codes for types)
If it doesn't then you won't s

[2021-02-09 13:37] tooomm commented on #1445
@JimroidZeus For me it works just fine.

Note, that it looks different now, and draft logs have their own section:
![export](https://user-images.githubusercontent.com/9874850/107059268-e30e6b00-67d5-11eb-8d4b-5afe5ba0c8e0.png)

<br>

That is corect, it has been like that for a while.

[2021-02-09 13:49] JimroidZeus commented on #1445
@mixmix It was a group of 4 actual players and the rest were bots. We were drafting a cube. I'm pretty sure that the draft log download box did not appear for any of us, it definitely did not appear for me.

We were drafting using the https://beta-dr4ft.herokuapp.com version.
Here's the URL we used, not sure if that's helpful or not.

https://beta-dr4ft.herokuapp.com/#g/b44451b0-6a7b-11eb-abfe-315

[2021-02-09 16:56] tooomm commented on #855
Another recent Bot AI I came across: https://github.com/RyanSaxe/MagicDraftBot

[2021-02-09 19:19] mixmix commented on #1445
I think maybe we need the version of the app displayed on the footer of
games as well because that would let us know more about what the conditions
were for the bug

On Wed, 10 Feb 2021, 02:49 JimroidZeus, <notifications@github.com> wrote:

[2021-02-09 19:28] JimroidZeus commented on #1445
I unfortunately don't have that information for you. I will close the issue based on multiple commenters (myself included) not being able to reproduce.

Should it happen again I'll record more information and reopen / re-submit.

[2021-02-09 19:33] tooomm commented on #1445
@JimroidZeus try to use the main side (dr4ft.info) please, we can check the logs then for more details if it happens again.

The beta should only be used for test purposes or if there is an issue with the normal site. It's constantly changing and can contain more bugs.

[2021-02-09 23:18] ebbit1q commented on #1432
Today I tried to reproduce it using the xml format using this minimal xml:
[code]
But the error didn't happen if I uploaded the same xml with TEST2 as the set afterwards, instead if I then used the json with TEST2 it did break. This means that this bug is related to the json import. Also the step 1 in my previous repro steps can be replaced with this xml, it only breaks on step 2.

[2021-02-09 23:37] ebbit1q commented on #1432
I also noticed something else, uploading the same card in the same set with new properties does not update the card or overwrite it, instead just nothing happens and the old card stays.

[2021-02-10 19:42] tooomm opened #1452 "Bug: dr4ft.info page only displaying blank page again"
**Webpage**: dr4ft.info
<!-->
**Browser**: Firefox and Chromium on Windows 10

----------------------------------------------------------------------------------

## Detailed Description
Since a few hours now, I can't access the dr4ft.info page. This same issue showed up before.
The `js hint` and `Loading...` displays fine, but then only a blank page is shown.

The `beta-dr4ft` deployment on herok

[2021-02-10 19:58] ZeldaZach commented on #1452
Same issue as #1432
[code]

[2021-02-10 19:58] #1452 closed

[2021-02-10 22:26] tooomm commented on #752
I keep adding to this to keep track of things:

There are scroll bars once there is too much text:
![scroll bars](https://user-images.githubusercontent.com/9874850/107579898-19911f00-6bf6-11eb-8f2f-903ccc9a0e9f.png)
(This is on Firefox, it looks different on Chrome with smaller text. Same issue though)

However, you can not use the scroll bars to read all text. Clicking them moves the card to othe

[2021-02-11 04:52] JhoiraArtificer opened #1454 "Bug: MTGO crashes when importing .dek file outputs"
**Webpage**:
Files were generated by www.dr4ft.info
**Browser**:
Variety of browsers used by the drafters

----------------------------------------------------------------------------------

## Background Information

MTGO (updated as of 10 February 2021) experiences a fatal error and crashes when importing .dek output of dr4ft.info events

Draft options were:
* Cube draft
* 3 packs with 15 cards

[2021-02-11 06:27] mixmix commented on #1454
Thanks for the bug report.
Can you please attach a broken dek file, or open it in a text editor and copy the contents in here?

[2021-02-11 06:27] LotusWalker commented on #1454
Dr4ft Version: e20371a

Saw this bug and decided to run a test, and I had exactly the same issue (a crash) when importing the DEK file into MTGO, as either a deck or a binder.

[2021-02-11 06:30] LotusWalker commented on #1454
I couldn't attach the broken DEK file from my draft because Github doesn't seem to support it, but here's the contents:

<?xml version="1.0" encoding="UTF-8"?>
<Deck xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <NetDeckID>0</NetDeckID>
  <PreconstructedDeckID>0</PreconstructedDeckID>

  <Cards CatID="60897" Quantity="1" Sideboard="false" Nam

[2021-02-11 06:30] LotusWalker commented on #1454
<?xml version="1.0" encoding="UTF-8"?>
<Deck xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <NetDeckID>0</NetDeckID>
  <PreconstructedDeckID>0</PreconstructedDeckID>

  <Cards CatID="60897" Quantity="1" Sideboard="false" Name="Daze" Annotation="0" />
  <Cards CatID="80461" Quantity="1" Sideboard="false" Name="Lurrus of the Dream-Den" Annotatio

[2021-02-11 06:31] LotusWalker commented on #1454
Hmmm when I paste it in it looks fine, but then doesn't copy over when I hit send.

[2021-02-11 06:33] LotusWalker commented on #1454
Just emailed it to you @mixmix

[2021-02-11 07:32] mixmix commented on #1454
You have to put it in a " code block" (I edited your post, click edit again to see how I did it - triple backticks ```)

[2021-02-11 07:41] mixmix commented on #1454
Yeah I'm sorry nothing obvious stands out. In absence of a spec for their dek format we're guessing?

If someone is up for it I would try "bisection method" :
- take that file and cut out half the cards, as if that fixes it
- keep cutting out more and more cards till it works
- replace cards back until you find the broken one

You might need to make a line for say 40 mountains to make sure there's

[2021-02-11 15:55] JhoiraArtificer commented on #1454
Sure, I'd be happy to help with this (I did save one of the bad .dek files but completely forgot to try attaching it... I'm sorry!). I don't have time to work on this until at least 5pm PST but will do if nobody else has stepped up by then.

[2021-02-11 19:26] LotusWalker commented on #1454
I'll give this a try as well. Will let you know how it goes.

[2021-02-11 19:33] LotusWalker commented on #1454
ok, found the problem. I started by trimming the DEK file down to just 5 cards, all of which had a CatID. That file could be imported into MTGO without a problem. Then I added a 6th card, which didn't have a CatID, and tried to import it. MTGO then crashed just as @JhoiraArtificer previously reported. So it seems that, unfortunately, MTGO does require all cards to have a CatID.

[2021-02-11 21:37] nex3 commented on #1454
Note that MTGO does accept decks in a very simply `.txt` format—exporting that format may be simpler than trying to match the undocumented `.dek` format.

[2021-02-11 23:34] mixmix commented on #1454
But @LotusWalker, we previously tested not including catId with ancestral recall didn't we?

What was the name of the falling card?

[2021-02-11 23:35] mixmix commented on #1454
@nex3 good point, you might be quite right.
We can always export as `.mtgo.txt` to do people know what the deck is formatted for!

[2021-02-12 00:06] LotusWalker commented on #1454
@mixmix Yeah you’re right, but I must have made a mistake when we tested last time, perhaps by not saving the DEK file after editing it..? Not sure. MTGO also just released a new version 1-2 days ago, so maybe that was a factor.

Mox Pearl was the failing card, but I just tested it again with Ancestral Recall being the only card without a CatID, and it caused a crash for that card as well. So I th

[2021-02-12 00:31] mixmix commented on #1454
TXT would be a lot easier than this.

If we did want the DEK format, I have found a way to do it - basically the problem is when dr4ft imports the cube (from the text field anyway), it resolves the card by looking up as a flow `name -> different options -> chosen option`. The "chosen option" is determined by a few things but it will default back to some particular card. In the case of Mox Pearl, i

[2021-02-12 00:34] mixmix commented on #1454
For fun:

versions of Mox Pearl found by dr4ft:

[code]

[2021-02-12 00:38] mixmix commented on #1454
Ok, can someone show me a "happy" txt format file which will import for MTGO?
guess:

[code]

[2021-02-12 00:39] LotusWalker commented on #1454
Yeah probably best/easiest then to just get rid of the DEK download option for MTGO and replace it with TXT downloads, but ensuring that they are in the correct format to be accepted for import into MTGO.

[2021-02-12 00:43] LotusWalker commented on #1454
Sure, gimme a few mins I’ll try to make one which includes all the variety of cards someone could want to import (adventure, split, transform, mdfc, etc.)

[2021-02-12 01:02] LotusWalker commented on #1454
@mixmix Just emailed you a sample that works in MTGO.

[2021-02-12 01:17] mixmix commented on #1454
Can you show me what it looks like when some of those are in the sideboard?

[2021-02-12 01:42] JhoiraArtificer commented on #1454
That would be great... the only meaningful problem I've run into with importing TXT files is format disagreement in split cards, DFCs, etc. If that's ironed out, there's really not a huge advantage (at least in our use case) for a DEK over a TXT.

[2021-02-12 01:52] LotusWalker commented on #1454
Totally agree @JhoiraArtificer

@mixmix MTGO is often weird with the sideboards. Like for example if I put 5 cards from a draft in the sideboard sometimes when I import all the cards are there, but a different number ends up in the sideboard, etc. So I basically never use the sideboard option in Dr4ft because it doesnt really convert well into mtgo...I just build the deck and sideboard within mtgo

[2021-02-12 02:53] ebbit1q opened #1455 "Bug: kaldheim double faced carts are sorted with their back face"
**Webpage**: dr4ft.info

Kaldheim double faced cards are sorted with the type of their back face when using the sort by type option but only if using generated packs or using imported cubes.
Strangely, when you enter the cube list as text it'll use the front face somehow and work as expected, but other properties like #1444 will still be the same.

## Detailed Description

Double faced cards shoul

[2021-02-12 05:21] mixmix commented on #1454
Hmm. I would still like to try and support sideboard. If mtgo has bugs there's a chance it will work in future....

So is it like I suggested above?

[code]

[2021-02-12 05:54] LotusWalker commented on #1454
@mixmix Yes exactly.

[2021-02-13 20:46] frankbrownvet opened #1456 "Bug: Draftlog button missing."
**Webpage**: www.dr4ft.info

Did an 8 player draft. Draft log button area was missing for me, but seemed to be present for other players of the draft.

## Detailed Description

Refreshing the page or resizing the page did not make the draft log buttons appear.

## Further Information

<img width="1056" alt="Screen Shot 2021-02-13 at 3 46 48 PM" src="https://user-images.githubusercontent.com/790244

[2021-02-13 23:08] tooomm commented on #1456
Thanks for reporting this issue @frankbrownvet!

Do you have the Game ID or the link of the draft by chance?
When did this draft take place?

Looks like https://github.com/dr4fters/dr4ft/issues/1445 is not alone anymore. :/

[2021-02-13 23:10] frankbrownvet commented on #1456
This was the link. It was a few hours ago today, around 3pm EST
https://dr4ft.info/#g/7ac27b20-6e35-11eb-8586-67a1a18aa655

[2021-02-14 18:03] MotherofRuins commented on #1242
This issue remains with meld cards from EMN, but not the other DFC cards from EMN.

[2021-02-14 18:05] MotherofRuins commented on #1444
This issue remains open for meld cards, and only meld cards, from EMN.

[2021-02-14 19:17] mixmix commented on #1242
Can you give me an example card @MotherofRuins
?

Full card name, and desired output for your format would be good

[2021-02-14 19:30] mixmix commented on #1242
Got one

[code]

Should come out as

[code]

Thanks for pointing out another edge case @MotherofRuins

[2021-02-15 04:38] mixmix commented on #1444
I would want to collaborate with someone on the Cockatrice team to generate a test vector so that we can all agree on how the hash is generated.

I have a bunch of cards collected in a test file in dr4ft which could help contribute

[2021-02-15 05:58] MotherofRuins commented on #1242
All these:  https://scryfall.com/search?q=is%3Ameld

[2021-02-15 10:59] mixmix commented on #1242
Sweet. Yeah I've opened a pull request resolving this

[2021-02-15 12:41] tooomm commented on #1436
To add to this, I happen to rerun our Action jobs on on a regular basis lately as they seem to randomly fail just to pass afterwards.

In the logs, I spotted an error in tests about RNG set today, I did not copy it though... the rerun passed all tests again. Will watch out for more of those and paste here.

[2021-02-15 14:13] mixmix commented on #1436
I've seen the unit tests complain occasionally about RNG not existing

[2021-02-15 18:58] cmackeen commented on #1335
Hey @HerveH44 or @ZeldaZach are there any updates on this? I see there are other issues, and just curious if we should try and upload a custom set again?

[2021-02-15 19:59] HerveH44 commented on #1335
Hi, sorry I have little free time right now but I'll check it whenever I have some time!

[2021-02-15 20:26] mixmix commented on #1436
[code]

https://github.com/dr4fters/dr4ft/pull/1457/checks?check_run_id=1906081656

[2021-02-15 21:09] tooomm commented on #1436
Do you think this is related to the issue?

[2021-02-15 23:27] mixmix commented on #1405
I did a suite of minor and patch updates. Will need to look at major version bumps closely

[2021-02-16 03:22] mixmix commented on #1436
No idea, but you mentioned an RNG bug, so I copied what I saw.

[2021-02-16 03:23] #1242 closed

[2021-02-16 03:23] #1454 closed

[2021-02-16 04:28] mixmix commented on #1456
How annoying!
I've not been able to reproduce this in development , nor in production.

**Have tried:**
- cube draft
    - just entering a set of cards in input box
- choose 2 players, 1 pack, 5 cards per pack
- browsers
  - firefox
  - chromium (linux)

[2021-02-16 04:57] mixmix commented on #1436
GOT IT
or I got something anyway

[2021-02-16 08:48] tooomm commented on #1456
https://www.dr4ft.info/#g/7ac27b20-6e35-11eb-8586-67a1a18aa655

@ZeldaZach can you check the logs there?

[2021-02-16 08:56] #1436 closed

[2021-02-19 11:09] tooomm opened #1465 "Improve favicon usage"
## Detailed Description

We only use a basic favicon and don't support e.g. various modern shortcuts.

For example, this is the view of Firefox's `Top Sites` on every new tab:
![fav](https://user-images.githubusercontent.com/9874850/108496879-fc6de780-72aa-11eb-91fa-93b098a9fe47.png)
dr4ft only gets a cropped screenshot as there is no support for a bigger icon yet.

## Further Information

Interes

[2021-02-20 11:26] tooomm opened #1467 "Add margin to page bottom"
On lower resolution screens, where the page is not displayed all at once and one has to scroll to see the bottom, there should be some clearance in between the footer and the site content:
![footer](https://user-images.githubusercontent.com/9874850/108593743-c9dcf100-7375-11eb-9f0c-bb4b343d86e1.png)

[2021-02-20 20:23] mixmix commented on #1467
Hey @tooomm if you're intetested I can teach you how to make these changes

[2021-02-22 10:10] tooomm commented on #1467
Sure, it's probably just difficult to find time right now. Will write you a message!

[2021-02-22 13:12] tooomm commented on #1016
After https://github.com/dr4fters/dr4ft/pull/1419 implemented this and #1454 spotted some issues in the .dek format, which got "solved" by switching to .txt format for MTGO in https://github.com/dr4fters/dr4ft/pull/1457...

...I realized now that Cockatrice uses a different, non xml style, format for .dek files.

An example deck saved as .dek in Cockatrice turns out like this:
[code]

@LotusWalker

[2021-02-22 21:09] LotusWalker commented on #1016
Hi @tooomm, I just edited a .dek file as you noted above, and then tried importing into MTGO, but once imported the deck was empty in MTGO...so it didn’t pick up the individual cards.

[2021-02-22 21:36] #1423 closed

[2021-02-23 13:56] tooomm commented on #1016
Hey, thanks for checking and coming back to me @LotusWalker!

Do you mind trying this with [Cockatrice](https://cockatrice.github.io/) for yourself (in case you use the free software) and check it directly? Just so that we can be sure it's not a fault on either end?
I just put some cards in a deck and hit `Save deck as`. You have to manually type out the extension to get the specific content thoug

[2021-02-23 17:26] LotusWalker commented on #1016
Sorry, I don’t use Cockatrice.

[2021-02-23 17:36] tooomm commented on #1016
Ok, I bring it up in their repository (https://github.com/Cockatrice/Cockatrice) then. 👍

[2021-02-25 20:59] tooomm opened #1472 "Remove further sets from "Random Set" pool"
## Detailed Description

As far as I understand it, `Draft Innovation` sets are still part of the pool considered for random.
Those sets should probably be excluded as well. They are not designed for use in normal draft, especially in combination with other sets.

Not sure about `Starter`.

[2021-02-26 02:27] mixmix commented on #1472
Do you want to have a go finding where to do this in the code?

[2021-02-26 09:27] tooomm commented on #1472
I think you put good notes down - guess I can find it. :)

What's your opinion about the `Starter` sets? Should they be excluded as well?

[2021-02-26 10:30] mixmix commented on #1472
Let's say yes exclude.

[2021-02-26 19:57] #1472 closed

[2021-02-28 11:27] mixmix commented on #1131
Underway: https://github.com/dr4fters/dr4ft/pull/1474

[2021-02-28 11:30] mixmix commented on #1095
Started improving the set picker. https://github.com/dr4fters/dr4ft/pull/1474

[2021-03-02 10:29] tooomm commented on #432
Reopening this again to raise attention to the still persistent issue of incomplete spoiler sets being part of the set selection. Did not open a new issue as there are already important information on that topic gathered here in context.

Currently, `Strixhaven: School of Mages (STX)` (with only 5 cards spoiled) is already available at dr4ft. 🙄

We should discard sets with `isPartialPreview=true`.

[2021-03-03 05:10] #1131 closed

[2021-03-07 07:39] mbankim commented on #833
My friends and I experienced this issue at the very end of our draft despite the increased timeout (assuming that was fixed). I'm wondering why this timeout isn't based on player activity? We were literally last pack last pick and had no way to save our decks. Might want to reopen this issue since this could be a problem, especially with newer players.

[2021-03-07 11:33] tooomm commented on #833
@mbankim how long was your session open?

[2021-03-07 19:49] mixmix commented on #833
Yeah could be possible to time since last activity. Would be good to know how prevalent this big is before committing time and work

[2021-03-07 19:59] mixmix commented on #833
Relevant files
https://github.com/dr4fters/dr4ft/search?q=Expires&type=

[2021-03-07 20:08] mixmix commented on #833
Could perhaps change this logic

[code]

So that it checks if `game.isActive` then run the `game.renew()` instead of `game.kill` to auto extend.

What we need to know is what counts as "active" for players. Probably we want to record when a game started, then auto extend until we reach some max (3 hours?) then kill the game

Ideally the ui would also tell people their game was going to expire when

[2021-03-07 20:38] mixmix commented on #1148
I think this is done yeah @HerveH44 ?

[2021-03-07 21:27] mbankim commented on #833
@tooomm iirc it was about 90 minutes so it seems to be working as intended, though it's not a great user experience when the room closes

I think a warning in the UI is a good first step

[2021-03-07 22:07] mbankim commented on #1455
I don't mind looking into this if nobody has yet

[2021-03-08 15:40] ebbit1q commented on #1455
that would be much appreciated! :+1:

[2021-03-09 15:18] tooomm commented on #833
Agreed!

The expanding time idea for active rooms could be an interesting solution.

[2021-03-10 08:52] #1335 closed

[2021-03-11 20:33] tooomm commented on #1148
Herve still runs the Heroku app we use in the repo from his account - Zach has no access to it as far as I'm aware.

This ticket got created after Herve announced that he can no longer dedicate time to the project after basically taking over the project/main development for a while. He is still around from time to time and opens a PR, but not very regularly.
We have no easy way to reach out to him

[2021-03-12 21:10] mixmix commented on #1465
This should be resolved now

[2021-03-12 21:10] #1465 closed

[2021-03-13 03:51] mixmix opened #1490 "Bug: image quality hard to change"
Changing the image quality (on mobile, and probably desktop) doesn't work.

Eg start on low quality, turn it up to high, nothing happens. Change the sort mode and you immediately see it adjust to correct level.

Changing to text only mode works, but doesn't help image quality change

[2021-03-13 16:16] tooomm commented on #1465
Thanks @Noojuno for implementing this. It looks great! :)

[2021-03-14 16:16] tooomm commented on #1490
I can confirm. This is a recent regression. It used to update and refresh the images immediately after the quality setting got changed.

It can still be seen on the [dr4ft beta deployment](https://beta-dr4ft.herokuapp.com) which runs a build from 2021-03-01 due to the recent Heroku issues.

[2021-03-14 16:28] tooomm opened #1491 "Bug: JSON download is accessible"
**Webpage**: dr4ft.info and beta-dr4ft

The JSON download option is supposed to be disabled.
When you hover your mouse over its location on the right to `Text` in the `Download` box, it suddenly fades in, is clickable and offers you a JSON download.

I think you made it so, that it should only be accessible in debug mode? @mixmix

[2021-03-14 19:34] mixmix commented on #1491
Not a big, that's a feature I left in as an Easter egg to make it easy to pull raw json (and debug production of needed).

Your perceptive to have found it, it only appears if you put your mouse in the right place!

[2021-03-14 19:50] tooomm commented on #1491
Haha, reading the PR again you even announced it like that in one of the comments. Missed that. 😆

[2021-03-14 19:50] #1491 closed

[2021-03-21 02:58] bdeswarte7 opened #1499 "Unable to access specific card images"
When drafting MODO vintage cube, some drafters were able to see pieces of power and others did not even see a placeholder for the card.

[2021-03-21 21:53] tooomm opened #1500 "Bug: Foil effect in text only not correct"
**Webpage**: dr4ft.info

In text only mode the foil effect is overlaying several cards and not covered by other cards further up in the pile.
It works with card art enabled.

## Further Information

Check the first pile, `Chrome Mox` is foil.

Pic view:
![foil error 2](https://user-images.githubusercontent.com/9874850/111922072-2d069400-8a98-11eb-9cad-297fedc4729a.png)

Text only:
![foil error](ht

[2021-03-23 03:13] austin-schaefer opened #1504 "Feature Request: Burn cards at the end of the draft"
## Detailed Description

[Some  cube drafters](https://www.reddit.com/r/mtgcube/comments/izna79/what_is_your_goto_draft_format_for_4_players/) play a draft format where burned picks get burned at the end of the pack.

For example:

* 4 players
* 15-card packs
* Pass normally, but
* Burn the last 6 cards of each pack

Thanks for providing such a great service!

[2021-03-23 07:40] mixmix commented on #1504
Given the amount of time it would take to build, I would like to hear from someone who plays this before this is prioritized.

[2021-03-26 16:02] laxect commented on #833
Refresh the timer on activity is really a good solution. I and my friend just experienced this issue. So sad...

[2021-03-28 13:35] laxect opened #1507 "Bug: Server crash"
**Webpage**: dr4ft.gyara.moe

I have set up a server based on the latest commit [a09ab4e](https://github.com/dr4fters/dr4ft/commit/a09ab4e357334939d3f4089fb1a82e7513a781ae). The only modify is to change the game expiration time to 10h.

## Detailed Description

Run a docker image based on the latest commit and start a cube draft game. Then the server crashed.

## Further Information

[code]

All l

[2021-03-28 13:51] tooomm commented on #1507
Hi @laxect. Can you test with commit https://github.com/dr4fters/dr4ft/commit/68c609a64e8ca9ed22cbf9b8c0e32b53c610d46b please?

[2021-03-28 22:53] mixmix commented on #1507
Doesn't seem docker related, looks like a classic js bug where a variable hasn't been set correctly.

[2021-03-28 23:00] mixmix commented on #1507
Very strange. That pack variable is pretty core, comes from this.packs.unshift

Maybe if that was called when there were no packs left? But no idea how it would get into that state.

[2021-03-29 02:51] laxect commented on #1507
No Crash in sealed game. I'm sorry but I have no time to test it until next weekend.

The server crash in the middle of the first pack and there are packs available.

[2021-03-31 01:09] LotusWalker opened #1511 "Bug: Dr4ft failed to enforce correct # of picks/burns"
Drafted for the first time in awhile on Dr4ft.info using Chrome, and unfortunately ran into a bug in Pack 8. I tried to make a selection and Dr4ft skipped to the next pick before I had finished. When that pack came back I saw that it had one too many cards, and so I believe it burned 2 but didn't give me a pick. At the end of the draft I had 39 cards, a friend had 41 cards, and another friend had

[2021-03-31 11:36] LotusWalker commented on #1511
One of the drafters remembers changing his burns several times right before the bug happened, so perhaps that somehow caused the glitch..?

[2021-03-31 13:11] tooomm commented on #1511
Do you recall the game ID or the time when this happened?

[2021-03-31 18:52] LotusWalker commented on #1511
@tooomm Sure, Event#: 2f96b260-91b7-11eb-9e4a-8bb42ba95a8b

Time: 20210331_005640

[2021-04-01 06:27] mixmix commented on #1511
It could be an incorrect triggering of the "confirm" like if you click on a burn and click it again as burn.

Alternatively a timeout on the selection which failed to auto select?

Would have to get in and check all the logic...

[2021-04-10 03:19] LotusWalker commented on #1507
My play group just tried a draft for the first time in about 10 days and it crashed on us in Pack 2. When we tried to refresh/rejoin it wouldn't let us...said "No game found with ID..."

Screenshot attached.
![Dr4ft Crash](https://user-images.githubusercontent.com/69441720/114256826-f1f9d100-9970-11eb-9a43-20b1e1e5de48.png)

[2021-04-10 06:03] mixmix commented on #1507
@LotusWalker as this dr4ft.info?
Also, does anyone know if @ZeldaZach runs the docker image or npm start to run that?

[2021-04-10 16:26] LotusWalker commented on #1507
@mixmix Yes it was Dr4ft.info

[2021-04-10 20:21] mixmix commented on #1507
This is a good reason to do tagged releases which match deploys there - it
would make it much easier to jump back to previous stable versions and
bisect the problem

On Sun, 11 Apr 2021, 04:26 LotusWalker, ***@***.***> wrote:

[2021-04-11 18:16] Madiazz opened #1513 "Bug: Server crashed"
https://dr4ft.info/#g/2139b670-9ac4-11eb-a419-35ffab377ea6
 Chrome 89.0.4389.114
**Webpage**:

We had two sessions :
1st : 7a9d3940-9abe-11eb-9b73-a903dad54cfe around 2:30PM
2nd : 2139b670-9ac4-11eb-a419-35ffab377ea6 around 2:48PM
Draft options : please see attached files

## Detailed Description

So we started to play with 10 players. Some sprites were missing, I wise surprised at first because t

[2021-04-18 19:49] tooomm commented on #1331
Just for the record:
Supreme Draft and Decadent Draft are super similar if I understood it correctly after reading about the mode again. Selecting Decadent on the dr4ft page currently, and choosing 2 picks per pack gives you basically that experience already (although the minimum pack count selectable is 36) because one can not add bots anyway - so it will be a one person draft.
Not sure if that's

[2021-04-18 20:07] tooomm opened #1516 "Bug: Tooltip for Decadent is not always shown"
**Webpage**: dr4ft.info

The helpful tooltip for all other modes work, but not `Decadent`.
It works at first, if you switch to sealed the option is gone, if you go back to draft it displays, but without the tooltip working.

[2021-04-19 01:23] LotusWalker commented on #1331
But in Supreme Draft each pack is a random selection from the entire cube list. So the drafter almost always ends up with multiple copies of certain cards in Supreme Drafts (lots of duplicates). Theoretically, it would be possible for the same card to appear in each of the 18 packs.

[2021-04-19 13:51] tooomm opened #1518 "Rounded card corners need minor tweak"
**Webpage**: dr4ft.info

The feature got implemented in https://github.com/dr4fters/dr4ft/pull/1485

## Detailed Description

For black border cards there is no issue. But with white border sets, like e.g. 7th Edition, there is still a small black line displayed.

## Further Information

![rounded corners](https://user-images.githubusercontent.com/9874850/115245532-4fd2a980-a125-11eb-920b-89259c46

[2021-04-19 14:09] tooomm commented on #1331
@LotusWalker I've no idea how this mode is actually solved in MTGO in case you are referring to the implementation there.

I can only tell you that the issue creator did not say it's a cube only format, nor does the provided resource.
I even read the [official wizards article](https://magic.wizards.com/en/articles/archive/magic-online/introducing-supreme-draft-2020-08-24) linked there... Interesti

[2021-04-20 18:14] Mycheze opened #1519 "Feature Request - Auto Draftroom Creation"
Hi! I have no idea if this is the right place at all for this, but I saw another Feature Request on the page.

I am a small-time Discord Bot Programmer and am working on a comprehensive "Cube Bot" that makes drafting and playing cube a lot easier. We already use dr4ft.info for the drafting portion, but someone always has to manually create the room. I would LOVE to have the option to do it automat

[2021-04-20 18:22] Mycheze commented on #1519
No way. I thought I looked hard enough!

My bad... Keep up the good work!

[2021-04-20 18:22] #1519 closed

[2021-04-20 18:33] tooomm commented on #1519
We are always happy to hear what people build.

Let us know how it goes! @Mycheze

[2021-04-23 03:15] Milldawg opened #1521 "Feature Request: Differentiate between specific variants of Unstable cards with multiple variants"
Unstable cards with multiple mechanically unique variants (such as Very Cryptic Command or Garbage Elemental) always show up as variant A. I would like to include other variants of those cards in my cube, and as far as I can tell, there's no way to specify which variant I want since they all have the same card name.

[2021-04-23 03:55] ZeldaZach commented on #1521
Did you try "Very Cryptic Command (B)", etc? I think that's how it works

[2021-04-23 04:00] Milldawg commented on #1521
I tried (D), (d), D, and (49d) and none worked.

[2021-04-23 05:07] SHERA-Sch opened #1522 "Feature Request: Restore the MWS format"
## Detailed Description

As a result of past discussions, you have removed the MWS format, but I'm still using it, so I'd like you to revert to the save format.

## Further Information

It is difficult to convert from TXT format to MWS format and it takes time to play, so please

[2021-04-23 23:35] Mycheze commented on #1519
I have no idea if people will see this, but I've been messing around with to try and get it to work.

I'm not very familiar with using APIs and I can't get the bot to create draft rooms! Do you know of any examples I can look through to figure things out?

Also, it is possible to get a cube list with just the cobraID? That's what I do when manually creating a draft room and it's such an amazing fe

[2021-04-24 01:57] ZeldaZach commented on #1522
MWS hasn't seen an update in almost 4 years. Frankly, I'm not sure why people are still using it. Do you have any additional info to share?

[2021-04-24 08:33] tooomm commented on #1519
Unfortunately I can not help you with that, no experience here either.

You can look at the implementing PR (https://github.com/dr4fters/dr4ft/pull/96) and the requesting issue though. Maybe there is something useful? Sorry for not being more helpful.

As that's not documented I would not expect that to work. But you could probably get the list via their API and provide it in the `cube` object?

[2021-04-24 10:22] SHERA-Sch commented on #1522
The MWS update has stopped, but you can add the card pool manually.
Therefore, you can still play in the latest state.
Also, since everything can be done manually even during battles, even if new rules are added, it can be handled by the player side, so there is no particular problem.
I still use it because I think that the advantage of MWS is that most things can be solved manually.

[2021-04-29 02:05] JimroidZeus commented on #1445
Finished a draft this evening and one person in the playgroup couldn't see the download draftlog button after completing the draft. Myself and others could still see the download draftlog button.

Here is the url:
https://dr4ft.info/#g/28978bc0-a881-11eb-bfa1-43dd31a0d5f4

[2021-05-05 04:12] #1467 closed

[2021-05-05 05:31] tooomm commented on #1151
Does MTGJSON use taw's "Magic Sealed Data" data as source as well?
And how frequent is the `booster` information updated?

[2021-05-14 19:01] LotusWalker opened #1528 "Bug: Dr4ft Keeps Crashing Mid-Draft"
Tried several 3-player drafts this afternoon, and each one of them crashed, kicking players from the draft before Pack 3. When a kicked player tried to rejoin the draft, they were given a "No Game Found with ID..." message.

Here's the ID for the last draft we tried to run, just a few minutes ago: No game found with id b061e180-b4e4-11eb-a0a1-759525e69e2b

[2021-05-14 19:09] LotusWalker commented on #1528
Just tried again and got kicked again:

No game found with id 3098d6e0-b4e7-11eb-bba8-175eb0baedba

[2021-05-14 22:31] LotusWalker commented on #1528
Just tried again...same problem

No game found with id d8276fb0-b501-11eb-ad6e-29aef0a9879f

[2021-05-15 09:17] tooomm commented on #1528
@ZeldaZach anything helpful in the logs maybe?

[2021-05-25 09:31] tooomm opened #1531 "Bug: Changing the card image language doesn't trigger a reload"
**Webpage**: dr4ft.info
<!-->
**Browser**: Chrome 90

----------------------------------------------------------------------------------

This leads to the image languages not being changeable at all in e.g. Sealed.

[2021-05-25 09:35] tooomm opened #1532 "Feature Request: Enable column view by default"
## Detailed Description

It's the better and way more used setting - should be the default to make new and advanced players more comfortable and give them a better start.

[2021-05-25 09:41] tooomm opened #1533 "Feature Request: Hide news panel if empty"
## Detailed Description

It looks more broken and confusing than helpful if there is no content at all.

[2021-05-26 04:53] mixmix commented on #1531
There's a hack to this which is to study to text then to desired quality of image. I think this stimulates change

[2021-05-26 08:36] tooomm commented on #1531
In Firefox at least, swapping to `Text-Only` and back any quality, does only show the already downloaded pictures.
No re-download in selected language.

Actually, it looks like the quality setting doesn't do anything currently. Starting with e.g. STX in high quality does not give me bad pictures when changing it to low quality. Same the other way around.

[2021-06-05 16:18] tooomm commented on #1522
I still use it because I think that the advantage of MWS is that most things can be solved manually.

Do you know about Cockatrice?
It also allows manual play, but is still updated. You find downloads and more information at https://cockatrice.github.io/.

[2021-06-12 09:54] Celereon commented on #1511
I think I had the same issue last night, we had to end two drafts prematurely because one player had 1 card left and needed 2 (pick 1 burn 1) so they couldn't hit confirm to move on. It was a cube draft, p1b1, 18 cards/pack, 4 players (no bots). The first draft had 5 packs and the second draft had 4 packs. I think these are the game IDs:
630a7230-ca9c-11eb-aa0b-e532a72b0155
c2576e60-caa0-11eb-aa0b

[2021-06-12 18:05] LotusWalker commented on #1511
@Celereon Thanks for reporting. Did you notice anything odd that might have triggered the bug? We’re having trouble identifying what is causing it. It happened in my drafts when one player changed his picks/burns quickly in rapid succession, but not really sure if that’s the trigger.

[2021-06-12 21:23] mixmix commented on #1511
@ZeldaZach is there any data you can / should pull before logs are lost from those games?

[2021-06-13 02:05] Celereon commented on #1511
@LotusWalker I thought it might be the double-faced cards, or if someone double-clicked a pick/burn symbol to auto-confirm with pick & burn already highlighted (this caught us out once or twice but I think it's intended behaviour). But I ran essentially the same cube with another player the previous night (2 players, p1/b2) and it ran fine.

It was the **same player** both times that ended up with

[2021-06-13 02:12] LotusWalker commented on #1511
@Celereon Thanks for the report…this is a tough one to nail down. One thing to consider, in my drafts it didn’t seem like the player that ended up with the odd card in the pack at the end had caused the bug. In ours, it seemed like the player who acted before that player actually caused the issue…but too small of a sample size to know for sure.

[2021-07-05 13:00] tooomm commented on #1405
In the meantime we have accumulated several issues due to outdated packages.

[2021-07-05 14:14] tooomm commented on #1531
Update.

Just confirmed that Chromium behaves the same as Firefox, it's not a Firefox issue!
I found out that one has to actually reload the page in order to get the chosen settings to apply and display a different picture quality or language.

The same is also true for `Card image language` btw.

[2021-07-18 06:33] psettle opened #1540 "Feature Request: 2 Player Cube Fromat"
## Detailed Description
I'd like to add support for a 2 player cube draft format I play quite regularly.

The format goes like this:
1. Make 4 packs of 30 cards
2. Randomly assign 1/4 and 2/3 to each player (The 1/4 player picks first from the 1st and 4th pack)
3. For each pack, lay the pack face up on the table
4. Players alternate 10 picks each from the pack (first picks according to order from

[2021-07-18 10:30] tooomm commented on #1540
Hi psettle and welcome to the dr4ft repo! :)

Does this play mode has a name? Never heard about something like that.
With the shared booster it reminds a bit of Rochester Draft (#997).

[2021-07-18 16:46] psettle commented on #1540
We've never named this format, and I haven't heard of anyone else playing it.

It is pretty similar to the Rochester format, the main difference is the pick order is a little different and Rochester doesn't have burn cards.

My understanding is that Rochester adds a reverse to the pick order in the middle of each pack, where the format I proposed doesn't include that.

[2021-07-21 01:22] psettle commented on #1540
Did anyone have any other feedback or comments on this idea?

[2021-07-21 19:28] tooomm commented on #1522
I assume we can close this as `nofix`? @ZeldaZach

If there really is need in certain edge cases, users can still utilize neutral export options to use any software they like.

[2021-07-21 19:34] tooomm commented on #1540
How do you want to implement it with the UI as it's basically a custom and niche format?
As it's not well known and there is not even a specific name to it you need to explain it to users.
Also if we want to support such specific and less known game types, it must be ensured that there are not going to be 10 in 2 years - all on the first level - and the user is just overwhelmed by them.

I mention

[2021-07-23 04:20] ruler501 commented on #855
I just released the CubeArtisan draftbots which are based on a machine learning model that gets 60/81/90% for top 1/2/3 accuracy on data from CubeCobra drafts. They are quite easy to integrate as you can see in this PR to mtgadraft https://github.com/Senryoku/MTGADraft/pull/288
Docs on the bots themselves can be found at https://github.com/CubeArtisan/mtgdraftbots/tree/development/emscripten

If y

[2021-07-23 23:59] psettle commented on #1540
Ya no worries, didn't mean to pester!

I think a reasonable approach here would be to just do the official Rochester format as a checkbox option in the 'packs' menu while setting up a cube draft.

My one concern with this approach is that the pick order for official Rochester is different than I'd like, so I think I could add a checkbox like 'disable pick reverse'. This is probably a good feature

[2021-07-27 14:41] tooomm commented on #1540
Looking at the [wizard article from 2005](https://magic.wizards.com/en/articles/archive/feature/rochester-draft-primer-2005-01-21), I think it just doesn't mentions that particular nuance of the format because it focuses on other strategic differences compared to normal draft around availability of information, it feels like it doesn't try to explain all basics - where as the [wizards article from

[2021-07-28 01:13] ZeldaZach commented on #855
Hey @ruler501 I believe we've spoken on Discord in the past, so I'll reach out there :)

[2021-07-28 05:43] psettle commented on #1540
Ya this all makes sense to me. I would still like to make it a optional setting to support the format I play, but definitely with the default to enable this reversing. How does that sound?

The UI looks good to me! Of course I definitely can't comment on how well that fits with the existing SW architecture.
Is this something you are working on? If you haven't started on it I would like to take a s

[2021-07-28 12:29] tooomm commented on #1540
There was a redesign in between and the mockup is based on the old design still.
But the Idea is to define `Main Game Type` (Draft, Sealed), `Card Pool` (Regular, Cube, Chaos...) and `Pick Type (only for "Draft")` (Regular, Decadent, Glimpse, Rochester...) independently, with each combination having several default-settings and certain additional (advanced) sub-settings. The result should be a bet

[2021-07-28 12:36] tooomm commented on #1504
Linking https://github.com/dr4fters/dr4ft/issues/1540

[2021-07-28 13:18] tooomm commented on #1029
I revisited this after a while and updated the mockups with the new modal redesign:
![new-layout](https://user-images.githubusercontent.com/9874850/127327517-68d557a1-e4b5-4f7d-aa05-1124659ed93c.png)

Options could also be placed next to each other instead below to save space and decrease needed scrolling:
![new-layout2](https://user-images.githubusercontent.com/9874850/127328633-300a7e8b-a812-413

[2021-07-29 23:08] fweaks opened #1544 "Feature Request:"
## Detailed Description
Persist game data after the game completes. Either for a fixed period of time (at least an hour, preferably a day or more), or for a period of time after the last activity/request for that game(again preferably a day or more)

## Further Information
Yesterday I completed a cube draft with my friend on my android. I then received a call and during the call had to access seve

[2021-07-29 23:21] fweaks opened #1545 "Bug:"
**URL**:
https://dr4ft.info/api/games
**Browser**:
Advanced REST client

----------------------------------------------------------------------------------

## Background Information
I'm testing out the API trying to see what I can achieve with it. It seems that the both the documentation is out of date as well as the API itself not seeming to work.

## Detailed Description
Sending REST requests d

[2021-08-01 12:15] Zeropeace opened #1547 "Problems Installing Native or Docker"
Hello devs,

i love the thing you have made here and i would like to make a small offline version for use with my play group.
I have been trying for 2 days to install the app either with your native instructions or Docker ones. None seem to work.
I have been trying to set this up on Ubuntu18.04, 20.04 and CentOS 7,8 same problems. here is a quick post from the errors i keep getting.

**When i try

[2021-08-16 08:37] tooomm opened #1551 "Feature Request: Rename CMC button to new MV convention"
## Detailed Description

The wording rules did update and all cards and rules use the term `Mana Value` now over `Converted Mana Cost`.
This change is in effect since a while now, the interface should reflect that and use `MV` (or `MV/CMC` in a transition period).

[2021-08-16 08:53] tooomm commented on #1547
Maybe @ZeldaZach or @mixmix can help you.

[2021-09-13 06:05] CajunAvenger opened #1555 "Feature Request: Custom Collation (w/initial code)"
## Detailed Description
Implement a system to allow custom sets to use custom pack collations (define the slots in the pack) to allow for special pack setups like Innistrad's DFCs, or WAR's Planeswalkers, or Strixhaven's Archives, or whatever else.

## Further Information
I'm the dev of LackeyBot which has a system for this exact sort of thing running on Node.js already. [The condensed repo for th

[2022-02-03 03:57] nex3 opened #1573 "Bug: Draft failed in pack 3"
**Webpage**: dr4ft.info
<!-->
**Browser**: 97.0.4692.99

----------------------------------------------------------------------------------

## Background Information

We were doing a cube draft as we do every week, and in pack 3 several people reported their picks vanishing.

## Detailed Description

The last four packs ended up waiting on one player (BlossomImp) who couldn't see any of them.

##

[2022-02-19 12:14] IanOlds opened #1581 "Feature Request: Use set files to validate custom cards in cubes"
The feature of being able to upload a custom set that includes custom cards it really nice, however I do not see a way for cubes to use this. If you implemented this, you should be able to select a set from a drop down, and if you type in a custom card name into the cube box, dr4ft would recognize it as a valid card because it is in the set file, even if it is not a real card. Then, there can be m

[2022-02-19 19:41] #1581 closed

[2022-02-26 18:26] tooomm commented on #1531
Fixed in #1585

[2022-02-26 18:26] tooomm commented on #1490
Fixed in #1585

[2022-02-26 18:26] #1490 closed

[2022-02-27 21:47] tooomm commented on #1405
Done in #1588

[2022-02-27 21:47] #1405 closed

[2022-03-07 17:09] tooomm commented on #1500
I added another screenshot and market the areas that show the issue. The foil effect is also not adjusted to the card size and overlaps in the card preview image:
![text-only](https://user-images.githubusercontent.com/9874850/157082460-276c2628-280b-43cd-bdc4-186321f0fe03.png)

![medium](https://user-images.githubusercontent.com/9874850/157082472-0fe6d062-e9e8-4298-823e-2698e4630abe.png)
(click to

[2022-03-07 17:25] tooomm commented on #1456
Closing this as duplicate of #1445

[2022-03-07 17:25] #1456 closed

[2022-03-12 19:02] mixmix commented on #1500
Huh, interesting/ weird.

[2022-03-12 19:03] mixmix commented on #1500
I think there are worse ui things to address in the app first. But yes mildly annoying

[2022-04-11 00:36] HenriLamarre commented on #1227
Hi, I still have this issue, Its not when I have two browsers. It happens when I play with 5 of my friends on different computers. I do not know how to reproduce it, it happens randomly.
Sorry for the inconvenience and thanks for the answers.

[2022-05-02 09:27] pangbai8 opened #1610 "Image too small"
Hi, I just feel the card image is hard to read and can not find a way to enlarge it. Is there is a way or it just can't?

Thanks

[2022-05-03 14:27] simonisphording opened #1612 "Feature request: allowing to set a seed"
As the title suggests, setting a seed would be helpful for seeing what direction you can take the same draft

[2022-05-15 01:04] ebbit1q opened #1614 "Bug: importing a custom set xml with a dual faced layout fails"
**Webpage**: www.dr4ft.info

commit ddd3a39

## Detailed Description

uploading a custom set with a layout property that matches `/^modal_dfc$|^doublefaced$|^transform$|^flip$|^meld$/i` will fail with the message "cannot find scryfallId"
see /backend/import/toBoosterCard.js:76

## Further Information

minimal example:
[code]

[2022-05-15 23:45] ebbit1q commented on #1573
I ran into a similar issue, reloading the page instead results in an empty page

Game url: https://dr4ft.info/#g/826f73b0-d4a4-11ec-bc59-0de191469a9f

Console log:
<details>

[code]
​</details>

[2022-05-16 13:43] tooomm opened #1616 "Bump Node version"
## Detailed Description

Node version is still 12, which is no longer supported.

Switch to Node 14 LTS at least.

[2022-05-29 11:34] Timespiraled opened #1620 "CLB Packs"
CLB packs seem to have reverted to 15-card packs rather than 20-card packs after the latest batch of cards were added.

[2022-05-31 10:44] tooomm commented on #1620
When I start a CLB draft, it shows me 15 cards?

[2022-05-31 11:45] Timespiraled commented on #1620
Right, exactly. That's not the correct pack size for the set. It should be like CMB with 20 card packs and 2 guaranteed legendaries (or backgrounds) of any rarity per pack. You can compare to sample packs from draftsim: https://draftsim.com/draft.php?mode=Draft_CLB

[2022-05-31 12:14] Timespiraled commented on #1620
I have a memory of it doing so, and I know for a fact it used to have correct collation (20 card packs including 2 legends per pack) for CMB as we did months of playtesting using this site for that set.

[2022-05-31 12:45] taw commented on #1620
I don't have CLB yet as mtgjson does not have ful spoiler yet.

[2022-05-31 12:59] tooomm commented on #1620
You have CMB1 and CMB2 if I see it correctly. @Timespiraled is reporting that they should have 20 cards booster as well (like CLB).

[2022-06-04 16:06] #1616 closed

[2022-06-04 16:10] #1533 closed

[2022-06-05 20:57] MQGHugs commented on #1620
I was doing some digging into this as well, as it seems to generate with 15 cards currently as well, and I'm curious where the CLB set is currently coming from. I didn't see it in the repo you linked yet. It is very possible I just didn't parse the other repos json correctly and didn't see this new set.

[2022-06-05 21:52] taw commented on #1620
CLB is on mtgjson, so if someone can find out exact rules for the packs, that would be great.

[2022-06-05 23:28] MQGHugs commented on #1620
The stated rules per pack are a little complex, but it looks like this:
1 Legendary creature or planeswalker
1 Legendary Background
1 Non-legendary rare or mythic rare card
3 Uncommons
13 Commons
Up to 1 foil card of any rarity (Replaces 1 common card. Foil not guaranteed.)
Unsure if they did any sort of messing with the rarity of their legendary backgrounds and legendary creatures.
As for what ru

[2022-06-26 13:39] MotherofRuins opened #1629 "Feature Request: Options to choose no alternative treatments"
Would like an option to prevent dr4ft from showing foils, extended arts, showcases, etc, regular frames only, when that choice exists.

[2022-08-04 20:39] akariwhim commented on #1295
Still does not implement the double masters paradigm

[2022-08-04 20:40] akariwhim opened #1638 "Feature Request:"
With 2x2 recently releasing, this seems like a good time to bring up the possibility of implementing the "pick two cards on the first pick of a pack" rule used in the double masters sets

[2022-08-05 12:15] tooomm commented on #1638
This was already discussed (and initially requested) in #1169.
The closing "fix" (#1299) did not address the double masters case though.

[2022-08-13 05:29] mixmix commented on #1638
Yeah having different numbers picked depending on the pack is quite a bit more to figure out both for application logic, but also UI...

I don't see the effort being worth it for a couple sets personally

[2022-08-15 16:10] PietroAronica opened #1640 "Bug: Issues with Custom Sets"
**Webpage**: https://dr4ft.info/

I have been trying to use a custom made cube, and while it mostly works there are a few issues I can't solve.

## Detailed Description

1. If there is a lot of text on the card, the image has a little scroll bar on the right side but it does not appear to be interactive. The rest of the card cannot be scrolled down to and read.
2. If there is already a custom card

[2022-08-22 14:36] tooomm commented on #1640
![Scroll](https://user-images.githubusercontent.com/22812656/184672089-42d8d57b-de2b-4dd4-9a6f-e04002d539f1.png)
This is an image of a card with text that goes beyond the box. Although there is a scroll bar, it cannot be interacted with.

I reported this before, the problem is also present for some Magic cards with more text.
Maybe @mixmix can have a look? ;)

You can try to add spaces to the end

[2022-08-22 14:47] tooomm commented on #1638
To clarify, the quantity of cards being picked doesn't change depending on the pack.
It's always the first pick of all packs being two cards instead of only one card.

Normal:
1-1-1-1-1-1-1-1-1-1-1-1-1-1-1
1-1-1-1-1-1-1-1-1-1-1-1-1-1-1
1-1-1-1-1-1-1-1-1-1-1-1-1-1-1

Double Master
2-1-1-1-1-1-1-1-1-1-1-1-1-1-1
2-1-1-1-1-1-1-1-1-1-1-1-1-1-1
2-1-1-1-1-1-1-1-1-1-1-1-1-1-1

But I do also agree, that it

[2022-08-22 15:20] PietroAronica commented on #1640
Thank you for your response.
1.
Thanks for looking into this.
2.
I have found an alternative workaround. Adding my custom set code after the card name in parentheses pulls the correct card.
3.
Thanks, I have gotten it to work. One more thing, do you know if transform cards can also be done this way? In regular dr4ft, transform cards show the front and it flips to the back when you hover over them.

[2022-08-22 17:13] tooomm commented on #1640
Yes, the current database format supports that. See the above link to the Cockatrice wiki and check the v4 format.

[2022-08-24 14:07] PietroAronica commented on #1640
I have tried to do it but it fails, with same error as [this](https://github.com/dr4fters/dr4ft/issues/1614).

[2022-08-30 13:08] tooomm commented on #1640
Sorry, it looks like there is a problem with exactly that not working as it should.

I suggest you comment and follow the already open bug report #1614 you linked for updates!

I'm closing this issue as all questions are answered. Feel free to reopen if that's not the case.

[2022-08-30 13:08] #1640 closed

[2022-09-22 02:58] nex3 commented on #1573
Saw this twice today, second draft ID was 8d651590-3a20-11ed-87d5-15594e21cfb0, don't see any errors in the console.

[2022-10-08 06:37] tooomm commented on #1573
@ZeldaZach anything useful in your logs?